<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="sundry" xml:lang="hu">

  <info>
    <link type="guide" xref="index" group="#last"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Úr Balázs</mal:name>
      <mal:email>ur.balazs@fsf.hu</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  </info>

  <title>Egyéb</title>

  <section id="session">
    <title>Munkamenet</title>
  </section>

</page>
