<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-zoom" xml:lang="ko">

  <info>
    <revision version="0.1" date="2013-02-24" status="candidate"/>
    <link type="guide" xref="index#appearance"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>글자 크기를 늘이거나 줄입니다.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2018.</mal:years>
    </mal:credit>
  </info>

  <title>확대 및 축소</title>

  <p><app>터미널</app> 글자 크기를 늘이려면:</p>

  <steps>
    <item>
      <p><guiseq><gui style="menu">보기</gui> <gui style="menuitem">확대</gui></guiseq>를 선택하거나 <keyseq><key>Ctrl</key><key>+</key></keyseq>키를 누르십시오.</p>
    </item>
  </steps>

  <p><app>터미널</app> 글자 크기를 줄이려면:</p>

  <steps>
    <item>
      <p><guiseq><gui style="menu">보기</gui> <gui style="menuitem">축소</gui></guiseq>를 선택하거나 <keyseq><key>Ctrl</key><key>-</key></keyseq> 키를 누르십시오.</p>
    </item>
  </steps>

  <p><app>Terminal</app> 글자를 기본 크기로 복원하려면:</p>

  <steps>
    <item>
      <p><guiseq><gui style="menu">보기</gui> <gui style="menuitem">보통 크기</gui></guiseq>를 선택하거나 <keyseq><key>Ctrl</key><key>0</key></keyseq>을 누르십시오.</p>
    </item>
  </steps>

</page>
