<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pref-user-input" xml:lang="ko">

  <info>
    <revision pkgversion="3.14" date="2014-10-23" status="review"/>
    <link type="guide" xref="index#preferences"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>터미널에서 프로그램을 실행할 때 사용자 입력을 보내지 않습니다.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2018.</mal:years>
    </mal:credit>
  </info>

  <title>사용자 입력 비활성화</title>

  <p>터미널에서 실행중인 프로그램에 사용자의 입력을 전달하는걸 막을 수 있습니다. 이를 통해 프로그램에 영향을 주는 어떤 키 입력, 마우스 누름, 마우스 움직임 입력을 막습니다. 그래도 키보드를 통한 스크롤 및 마우스로 터미널 내용 선택은 할 수 있습니다. 게다가 터미널의 선택 내용을 복사할 수 있습니다. 다만 터미널로 내용을 붙여넣을 수는 없습니다.</p>

  <p>읽기 전용 모드를 사용하려면:</p>

  <steps>
    <item>
      <p><app>터미널</app> 창에 마우스 커서를 두고 오른쪽 단추를 누르거나 <gui style="menu">터미널</gui> 메뉴를 선택하십시오.</p>
    </item>
    <item>
      <p><gui style="menuitem">읽기 전용</gui>을 선택하여 표시가 나타나게 하십시오.</p>
    </item>
  </steps>

  <p><gui style="menuitem">읽기 전용</gui> 표시를 꺼서 읽기 전용 모드를 비활성화할 수 있습니다.</p>

</page>
