<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-provider-not-available" xml:lang="ca">

  <info>
    <link type="guide" xref="accounts"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Què passa si un proveïdor de serveis en línia no apareix a la llista?</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>David Aguilera</mal:name>
      <mal:email>david.aguilera.moncusi@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Per què el meu compte no és a la llista?</title>

  <p>El suport per al vostre proveïdor de serveis en línia preferit necessita que algú el pugui desenvolupar. Només s'admeten els tipus de compte que s'enumeren.</p>

  <note style="advanced">
    <p>Si esteu interessats a afegir assistència per a altres serveis, poseu-vos en contacte amb els desenvolupadors al <link href="https://bugzilla.gnome.org/enter_bug.cgi?product=gnome-online-accounts"> rastrejador d'errors</link>.</p>
  </note>

</page>
