<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="ca">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="color-whyimportant">Per què és important</link>, <link xref="color#profiles">Perfils de color</link>, <link xref="color#calibration">Com calibrar un dispositiu</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>David Aguilera</mal:name>
      <mal:email>david.aguilera.moncusi@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Gestió dels colors</title>

  <section id="profiles" style="2column">
    <title>Perfils de color</title>
  </section>

  <section id="calibration" style="2column">
    <title>Calibratge</title>
  </section>

  <section id="problems" style="2column">
    <title>Problemes</title>
  </section>

</page>
