<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-overview" xml:lang="ca">

  <info>
    <link type="guide" xref="index" group="shell-overview"/>

    <title role="trail" type="link">Escriptori</title>

    <revision pkgversion="3.4" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>Projecte de documentació del GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="clock-calendar">Calendari</link>, <link xref="shell-notifications">notificacions</link>, <link xref="shell-keyboard-shortcuts">dreceres de teclat</link>, <link xref="shell-windows">finestres i espais de treball</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>David Aguilera</mal:name>
      <mal:email>david.aguilera.moncusi@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>El vostre escriptori</title>

<links type="topic" style="2column"/>

<section id="desktop" style="2column">
 <title>Personalitzar l'escriptori</title>
</section>

<section id="apps" style="2column">
 <title>Aplicacions i finestres</title>
</section>

</page>
