<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="user-accounts" xml:lang="ca">

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.10" date="2013-11-03" status="final"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Projecte de documentació del GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <title type="link" role="trail">Usuaris</title>
    <desc><link xref="user-add">Afegir usuari</link>, <link xref="user-changepassword">canviar contrasenyes</link>, <link xref="user-admin-change">administradors</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>David Aguilera</mal:name>
      <mal:email>david.aguilera.moncusi@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Comptes d'usuari</title>

  <!-- TODO: add enterprise user account/login -->
  <p>Cada persona que utilitza l'ordinador ha de tenir un compte d'usuari diferent. Això els permet mantenir els seus fitxers separats i triar la seva pròpia configuració. També és més segur. Només podeu accedir a un compte d'usuari diferent si coneixeu la seva contrasenya.</p>

<section id="manage" style="2column">
  <info>
    <title type="link" role="trail">Comptes</title>
  </info>
  <title>Gestionar comptes d'usuari</title>
</section>

<section id="passwords" style="2column">
  <title>Contrasenyes</title>
</section>

<section id="privileges" style="2column">
  <info>
    <title type="link" role="trail">Privilegis</title>
  </info>
  <title>Privilegis d'usuari</title>
</section>

</page>
