<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="hardware-driver" xml:lang="vi">

  <info>
    <link type="guide" xref="hardware" group="more"/>

    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Trình điều khiển thiết bị/phần cứng cho phép máy tính dùng thiết bị gắn vào máy tính.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Trình điều khiển là gì?</title>

<p>Devices are the physical “parts” of your computer. They may be
<em>external</em> like printers and monitor or <em>internal</em> like graphics
and audio cards.</p>

<p>In order for your computer to be able to use these devices, it needs to know
how to communicate with them. This is done by a piece of software called a
<em>device driver</em>.</p>

<p>When you attach a device to your computer, you must have the correct driver
installed for that device to work. For example, if you plug in a printer but
the correct driver is not available, you will not be able to use the printer.
Normally, each model of device uses a driver that is not compatible with any
other model.</p>

<p>On Linux, the drivers for most devices are installed by default, so
everything should work when you plug it in. However, the drivers may need to be
installed manually or may not be available at all. </p>

<p>In addition, some existing drivers are incomplete or partially
non-functional. For example, you might find that your printer cannot do
double-sided printing, but is otherwise completely functional.</p>

</page>
