<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wireless-airplane" xml:lang="vi">

  <info>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.10" date="2013-11-10" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.24" date="2017-03-26" status="final"/>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2015</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <desc>Mở thiết lập mạng và chuyển Chế độ máy bay sang BẬT.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Tắt mạng không dây (chế độ máy bay)</title>

<p>If you have your computer on an airplane (or some other area where wireless
 connections are not allowed), you should switch off your wireless. You may
 also want to switch off your wireless for other reasons (to save battery power,
 for example).</p>

  <note>
    <p>Using <em>Airplane Mode</em> will completely turn off all wireless
    connections, including WiFi, 3G and Bluetooth connections.</p>
  </note>

  <p>To turn on airplane mode:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Network</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Network</gui> to open the panel.</p>
    </item>
    <item>
      <p>Switch <gui>Airplane Mode</gui> to <gui>ON</gui>. This will turn off
      your wireless connection until you disable airplane mode again.</p>
    </item>
  </steps>

  <note style="tip">
    <p>You can turn off your WiFi connection from the 
    <gui xref="shell-introduction#yourname">system menu</gui> by clicking on 
    the connection name and choosing <gui>Turn Off</gui>.</p>
  </note>

</page>
