<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-othercountry" xml:lang="vi">

  <info>
    <link type="guide" xref="power#problems"/>
    <desc>Máy tính bạn sẽ chạy, nhưng bạn cần dây nguồn khác hoặc bộ chuyển đổi nguồn.</desc>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Dự án tài liệu GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Máy có thể hoạt động với nguồn ở nước khác không?</title>

<p>Các quốc gia khác nhau dùng nguồn khác vôn (thường 110V hoặc 220-240V) và tần số dòng điện xoay chiều (thường 50 hoặc 60 Hz). Máy bạn có thể hoạt động với hầu hết các loại nguồn nếu bạn có đầu cắm và bộ chuyển đổi nguồn phù hợp. Bạn cũng có thể cần bật mấy công tắc.</p>

<p>Nếu bạn dùng laptop, những thứ bạn cần là dây cắm đúng cho bộ chuyển đổi nguồn của bạn. Nhiều laptop đi kèm với nhiều đầu cắm khác nhau, bạn có thể đã có đầu cắm cần thiết. Nếu không cắm vào bộ chuyển đổi du lịch chuẩn cũng đủ.</p>

<p>If you have a desktop computer, you can also get a cable with a different
plug, or use a travel adapter. In this case, however, you may need to change
the voltage switch on the computer’s power supply, if there is one. Many
computers do not have a switch like this, and will happily work with either
voltage. Look at the back of the computer and find the socket that the power
cable plugs into. Somewhere nearby, there may be a small switch marked “110V”
or “230V” (for example). Switch it if you need to.</p>

<note style="warning">
  <p>Cẩn thận khi đổi dây nguồi hoặc dùng bộ chuyển đổi du lịch. Tắt hết mọi thức trước khi làm.</p>
</note>

</page>
