<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="prefs" xml:lang="vi">
  <info>

    <link type="guide" xref="index" group="prefs"/>
    <title role="trail" type="link">Thiết lập</title>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>
      <link xref="keyboard">Keyboard</link>,
      <link xref="mouse">mouse &amp; touchpad</link>,
      <link xref="prefs-display">display</link>,
      <link xref="prefs-language">languages</link>,
      <link xref="user-accounts">user accounts</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nguyễn Thái Ngọc Duy</mal:name>
      <mal:email>pclouds@gmail.com</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>

<title>Thiết lập người dùng &amp; hệ thống</title>
<links type="topic" style="toronto"/>

</page>
