<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-fonts" xml:lang="de">

  <info>
    <revision version="0.1" date="2013-02-22" status="candidate"/>
    <link type="guide" xref="index#appearance"/>
    <link type="guide" xref="pref#profile"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Systemschriften oder eigene Schriften für das Terminal wählen.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jan Arne Petersen</mal:name>
      <mal:email>jap@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2010, 2012-2013, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014, 2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

  <title>Schrift und Schriftart ändern</title>

  <p>Wenn Sie mit viel Text im <app>Terminal</app> arbeiten, so können Sie die voreingestellte Schrift nach Ihrem Geschmack anpassen. Es gibt die folgenden Möglichkeiten:</p>

  <section id="system-font">
  <title>Dicktengleiche Systemschrift</title>

  <p>So verwenden Sie im System voreingestellte Schriften:</p>

  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Bearbeiten</gui><gui style="menuitem">Einstellungen</gui></guiseq>.</p>
    </item>
    <item>
      <p>Ihr aktuelles Profil ist in der Seitenleiste ausgewählt. Wenn Sie ein anderes Profil bearbeiten möchten, so klicken Sie auf den entsprechenden Namen.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="checkbox">Benutzerdefinierte Schrift</gui>.</p>
    </item>
  </steps>

  </section>

  <section id="custom-font">
  <title>Eigene Schriftart festlegen</title>

  <p>So legen Sie eine eigene Schrift und deren Größe fest:</p>

  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Bearbeiten</gui><gui style="menuitem">Einstellungen</gui></guiseq>.</p>
    </item>
    <item>
      <p>Ihr aktuelles Profil ist in der Seitenleiste ausgewählt. Wenn Sie ein anderes Profil bearbeiten möchten, so klicken Sie auf den entsprechenden Namen.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="checkbox">Benutzerdefinierte Schrift</gui> ab.</p>
    </item>
    <item>
      <p>Klicken Sie auf den Knopf neben <gui style="checkbox">Benutzerdefinierte Schrift</gui>.</p>
    </item>
    <item>
      <p>Geben Sie den Namen der gesuchten Schrift in das Suchfeld ein oder durchsuchen Sie die Liste der Schriftarten.</p>
    </item>
    <item>
      <p>Verschieben Sie den Regler unter der Schriftenliste, um die Schriftgröße einzustellen. Alternativ können Sie die Schriftgröße in das Eingabefeld neben dem Regler eingeben oder auf <gui style="button">+</gui> klicken, um die Schriftgröße zu erhöhen, oder auf <gui style="button">-</gui>, um sie zu verringern.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">Auswählen</gui>, um die Änderungen anzuwenden. Klicken Sie auf <gui style="button">Abbrechen</gui>, um die Änderungen zu verwerfen und zum letzten Dialog zurückzugehen.</p>
    </item>
  </steps>

  </section>

  <section id="cell-spacing">
  <title>Zeilenabstand und Zeichenabstand</title>

  <p><app>Terminal</app> kann einen Abstand zwischen Zeichen setzen, um die Lesbarkeit zu verbessern. Zeilenabstand und Zeichenabstand werden mit Werten in Form von Kommazahlen zwischen 1,0 (normaler Abstand) und 2,0 (doppelter Abstand) festgelegt.</p>

  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Bearbeiten</gui><gui style="menuitem">Einstellungen</gui></guiseq>.</p>
    </item>
    <item>
      <p>Ihr aktuelles Profil ist in der Seitenleiste ausgewählt. Wenn Sie ein anderes Profil bearbeiten möchten, so klicken Sie auf den entsprechenden Namen.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Passen Sie den Multiplikator vor <gui>Breite</gui> an, um den horizontalen Abstand zwischen Zeichen festzulegen.</p>
    </item>
    <item>
      <p>Passen Sie den Multiplikator vor <gui>Höhe</gui> an, um den Zeilenabstand festzulegen.</p>
    </item>
  </steps>

  </section>

</page>
