<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pref-custom-exit" xml:lang="de">

  <info>
    <revision pkgversion="3.8" date="2013-03-02" status="candidate"/>
    <revision pkgversion="3.12" date="2014-09-08" status="candidate"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="pref#profile"/>
<!--    <link type="seealso" xref="prob-recover-default-profile"/>-->

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013-2014</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Das Verhalten von <app>Terminal</app> festlegen, wenn ein benutzerdefinierter Befehl oder die voreingestellte Shell beendet wird.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jan Arne Petersen</mal:name>
      <mal:email>jap@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2010, 2012-2013, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2012, 2013, 2014, 2015, 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bernd Homuth</mal:name>
      <mal:email>dev@hmt.im</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

  <title>Verhalten beim Beenden von Befehlen</title>

  <p>Sie können festlegen, dass das Terminal beendet, neu gestartet wird oder offen bleibt, wenn ein benutzerdefinierter Befehl oder eine Shell vorhanden ist:</p>

  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Bearbeiten</gui><gui style="menuitem">Einstellungen</gui></guiseq>.</p>
    </item>
    <item>
      <p>Ihr aktuelles Profil ist in der Seitenleiste ausgewählt. Wenn Sie ein anderes Profil bearbeiten möchten, so klicken Sie auf den entsprechenden Namen.</p>
    </item>
    <item>
      <p>Wählen Sie <gui style="menu">Befehl</gui>.</p>
    </item>
    <item>
      <p>Wählen Sie aus der Auswahlliste <gui>Wenn Befehl beendet</gui> eine der folgenden Optionen:</p>
      <list>
        <item>
          <p><gui>Das Terminal beenden</gui></p>
        </item>
        <item>
          <p><gui>Den Befehl neu starten</gui></p>
        </item>
        <item>
          <p><gui>Das Terminal geöffnet halten</gui></p>
        </item>
      </list>
      <p>Die Einstellung wird automatisch gespeichert, sobald Sie diese auswählen.</p>
    </item>
  </steps>

  <note style="important">
    <p>Wenn Sie einen <link xref="pref-custom-command">benutzerdefinierten Befehl</link> festgelegt haben, der nicht-interaktiv ist, und das Verhalten beim Beenden auf <gui>Das Terminal beenden</gui> eingestellt ist und das Profil auf das Standard-Profil eingestellt ist, dann könnte <app>Terminal</app> sich beenden, bevor Sie die Ausgabe des Befehls gesehen haben.</p>
  </note>

</page>
