<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wireless-troubleshooting" xml:lang="de">

  <info>
    <link type="guide" xref="net-wireless" group="first"/>
    <link type="guide" xref="hardware#problems" group="first"/>
    <link type="next" xref="net-wireless-troubleshooting-initial-check"/>

    <revision pkgversion="3.10" date="2013-11-10" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Mitwirkende im Dokumentations-Wiki von Ubuntu</name>
    </credit>
    <credit type="author">
      <name>GNOME-Dokumentationsprojekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Probleme mit Ihrer Funknetzwerkverbindung eingrenzen und lösen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013, 2017-2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  </info>

  <title>Problemlösungen für Funknetzwerke</title>

  <p>Dies ist eine Schritt-für-Schritt-Anleitung, die Ihnen hilft, Problemen mit Funknetzwerken auf den Grund zu gehen und sie zu lösen. Wenn Sie sich aus irgendwelchen Gründen nicht mit einem Funknetzwerk verbinden können, versuchen Sie den hier gegebenen Anweisungen zu folgen.</p>

  <p>Wir führen Sie durch die folgenden Schritte, um Ihren Rechner mit dem Internet zu verbinden:</p>

  <list style="numbered compact">
    <item>
      <p>Ausführen einer erstmaligen Überprüfung</p>
    </item>
    <item>
      <p>Ermitteln von Informationen über Ihre Hardware</p>
    </item>
    <item>
      <p>Überprüfen Ihrer Hardware</p>
    </item>
    <item>
      <p>Verbindungsversuch mit Ihrem WLAN-Router</p>
    </item>
    <item>
      <p>Überprüfen Ihres Modems und Routers</p>
    </item>
  </list>

  <p>Um zu beginnen, klicken Sie auf <em>Weiter</em> oben rechts auf der Seite. Dieser und die anderen Verweise auf den folgenden Seiten führen Sie durch jeden Schritt im Assistenten.</p>

  <note>
    <title>Verwendung der Befehlszeile</title>
    <p>In einigen der Anweisungen in dieser Anleitung werden Sie gebeten, Befehle in die <em>Befehlszeile</em> (in ein Terminal) einzugeben. Sie finden die <app>Terminal</app>-Anwendung in der <gui>Aktivitäten</gui>-Übersicht.</p>
    <p>Falls Sie mit der Verwendung der Befehlszeile nicht vertraut sind, ist das kein Problem. Diese Anleitung führt Sie direkt durch jeden der erforderlichen Schritte. Sie müssen lediglich daran denken, dass bei eingegebenen Befehlen die Groß- und Kleinschreibung berücksichtigt wird. Befehle müssen also <em>exakt</em> so eingegeben werden, wie sie hier erscheinen. Nach der Eingabe eines Befehls müssen Sie stets die <key>Eingabetaste</key> drücken, um ihn auszuführen.</p>
  </note>

</page>
