<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="wacom" xml:lang="de">

<info>
  <desc><link xref="wacom-multi-monitor">Bildschirm zuweisen</link>, <link xref="wacom-stylus">Stylus einrichten</link>, <link xref="wacom-left-handed">Nutzung des Tabletts als Linkshänder</link>…</desc>

  <link type="guide" xref="prefs"/>

  <revision pkgversion="3.10" date="2013-11-02" status="review"/>
  <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
  <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
  <revision pkgversion="3.18" date="2015-09-28" status="final"/>

  <credit type="author">
    <name>Michael Hill</name>
    <email>mdhillca@gmail.com</email>
  </credit>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>


    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Hendrik Knackstedt</mal:name>
      <mal:email>hendrik.knackstedt@t-online.de</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gabor Karsay</mal:name>
      <mal:email>gabor.karsay@gmx.at</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011-2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2011-2013, 2017-2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Benjamin Steinwender</mal:name>
      <mal:email>b@stbe.at</mal:email>
      <mal:years>2014.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  </info>

<title>Wacom Grafiktablett</title>

</page>
