<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-bouncekeys" xml:lang="es">

  <info>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-09-05" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc>Ignorar pulsaciones rápidas de la misma tecla.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Activar el rechazo de teclas</title>

  <p>Active el <em>rechazo de teclas</em> para ignorar las pulsaciones de teclas repetidas rápidamente. Por ejemplo, si tiene temblores de manos que pueden hacer que pulse teclas varias veces cuando solo quiere pulsarlas una vez, debería activar el rechazo de teclas.</p>

  <steps>
    <item>
      <p>Abra la vista de <gui xref="shell-introduction#activities">Actividades</gui> y empiece a escribir <gui>Configuración</gui>.</p>
    </item>
    <item>
      <p>Pulse en <gui>Configuración</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Universal Access</gui> in the sidebar to open the panel.</p>
    </item>
    <item>
      <p>Pulse <gui>Asistente de escritura</gui> en la sección <gui>Teclear</gui>.</p>
    </item>
    <item>
      <p>Active el <gui>Rechazo de teclas</gui> (<gui>Encendido</gui>).</p>
    </item>
  </steps>

  <note style="tip">
    <title>Activar y desactivar rápidamente el rechazo de teclas</title>
    <p>Puede activar rápidamente el rechazo de teclas, pulsando en el <link xref="a11y-icon">icono de accesibilidad</link> en la barra superior y seleccionando <gui>Rechazo de teclas</gui>. El icono de accesibilidad está visible cuando se han activado una o mas opciones en el panel de <gui>Acceso universal</gui>.</p>
  </note>

  <p>Use el deslizador <gui>Retardo de aceptación</gui> para cambiar el tiempo que debe esperar el rechazo de teclas antes de registrar otra tecla pulsada después de la pulsada en primer lugar. Seleccione <gui>Pitar al rechazar una tecla</gui> si quiere que el equipo emita un sonido cada vez que ignora una tecla porque la pulsación ha sucedido demasiado pronto después de la pulsación de la tecla anterior.</p>

</page>
