<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrate-camera" xml:lang="es">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrationtargets"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <desc>Calibrar su cámara es importante para capturar colores precisos.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>¿Cómo calibrar la cámara?</title>

  <p>Las cámaras se calibran tomando una fotografía de un objetivo bajo ciertas condiciones de luz. Convertir el archivo RAW a TIFF puede servir para calibrar la cámara en panel de control del color.</p>
  <p>Deberá recortar el archivo TIFF para que sólo sea visible el objetivo. Asegúrese de que los bordes blancos o negros siguen siendo visibles. La calibración no funcionará si la imagen está al revés o si está muy distorsionada.</p>

  <note style="tip">
    <p>El perfil resultante sólo es válido bajo las condiciones de luz en las que se obtuvo la imagen original. Esto significa que puede necesitar perfilar varias veces para condiciones de luz de <em>estudio</em>, <em>luz solar brillante</em> y <em>nublado</em>.</p>
  </note>

</page>
