<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="printing-paperjam" xml:lang="es">

  <info>
    <link type="guide" xref="printing#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Cómo solucionar un atasco de papel depende de la marca y modelo de la impresora que tenga.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Arreglar un atasco de papel</title>

  <p>A veces, las impresoras alimentan de forma incorrecta las hojas de papel y se atascan.</p>

  <p>El manual de su impresora, por lo general, le dará instrucciones detalladas sobre cómo solucionar los atascos de papel. Por lo general, tendrá que abrir uno de los paneles de la impresora para encontrar el atasco en el interior y luego con firmeza (pero con cuidado) saque el papel atascado del mecanismo de alimentación de la impresora.</p>

  <p>Una vez que el atasco se haya arreglado es posible que tenga que pulsar el botón <em>Reanudar</em> para empezar a imprimir de nuevo. Con algunas impresoras, puede que incluso sea necesario apagar y volver a encender la impresora, y luego iniciar el trabajo de impresión otra vez.</p>

</page>
