<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-workspaces-movewindow" xml:lang="es">

  <info>
    <link type="guide" xref="shell-windows#working-with-workspaces"/>
    <link type="seealso" xref="shell-workspaces"/>

    <revision pkgversion="3.8" version="0.3" date="2013-05-10" status="review"/>
    <revision pkgversion="3.10" date="2013-11-04" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Proyecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Vaya a la vista de <gui>Actividades</gui> y arrastre la ventana a un área de trabajo diferente.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nicolás Satragno</mal:name>
      <mal:email>nsatragno@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Molinero</mal:name>
      <mal:email>paco@byasl.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>Mover una ventana a un área de trabajo diferente</title>

  <steps>
    <title>Usando el ratón:</title>
    <item>
      <p if:test="!platform:gnome-classic">Abra la vista de <gui xref="shell-introduction#activities">Actividades</gui>.</p>
      <p if:test="platform:gnome-classic">Abra la <gui xref="shell-introduction#activities">Vista de actividades</gui> desde el menú <gui xref="shell-introduction#activities">Aplicaciones</gui> en la parte superior izquierda de la pantalla.</p>
    </item>
    <item>
      <p>Pulse y arrastre la ventana a la derecha de la pantalla.</p>
    </item>
    <item>
      <p>Aparecerá el <link xref="shell-workspaces">selector de áreas de trabajo</link>.</p>
    </item>
    <item>
      <p if:test="!platform:gnome-classic">Arrastre la ventana a un área de trabajo vacía. Este área de trabajo ahora contiene la ventana que se arrastró en ella y se creará una nueva área de trabajo vacía al final del <gui>selector de áreas de trabajo</gui>.</p>
      <p if:test="platform:gnome-classic">Arrastre la ventana a un área de trabajo vacía. Este área de trabajo ahora contiene la ventana que se arrastró en ella.</p>
    </item>
  </steps>

  <steps>
    <title>Usando el teclado:</title>
    <item>
      <p>Seleccione la ventana que quiere mover (por ejemplo, usando el <keyseq><key xref="keyboard-key-super">Super</key><key>Tab</key></keyseq> <em xref="shell-windows-switching">selector de ventanas</em>).</p>
    </item>
    <item>
      <p>Pulse <keyseq><key xref="keyboard-key-super">Super</key><key>Mayús</key><key>Re Pág</key></keyseq> para mover la ventana al área de trabajo encima del actual en el <em>selector de áreas de trabajo</em>.</p>
      <p>Pulse <keyseq><key>Super</key><key>Mayús</key><key>Av Pág</key></keyseq> para mover la ventana al área de trabajo debajo de la actual en el <em>selector de áreas de trabajo</em>.</p>
    </item>
  </steps>

</page>
