<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="keyboard" xml:lang="cs">
  <info>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.8.0" date="2013-03-10" status="candidate"/>

    <desc><link xref="keyboard-layouts">Rozložení klávesnice</link>, <link xref="keyboard-cursor-blink">blikání kurzoru</link>, <link xref="a11y#mobility">zpřístupnění klávesnice</link>…</desc>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

<title>Klávesnice</title>

<links type="topic" groups="i18n" style="linklist">
  <title>Region a jazyk</title>
</links>

<links type="topic" groups="a11y" style="linklist">
  <title>Univerzální přístup</title>
</links>

<links type="topic" groups="#first #default #last" style="linklist">
  <title>Další témata</title>
</links>

</page>
