<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-status" xml:lang="cs">

  <info>

    <link type="guide" xref="power" group="#first"/>
    <link type="seealso" xref="power-batterylife"/>

    <revision pkgversion="3.20" date="2016-06-15" status="candidate"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2016</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak zobrazit stav baterie a připojených zařízení.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

  <title>Kontrola stavu baterie</title>

  <steps>

    <title>Zobrazení stavu baterie a připojených zařízení</title>

    <item>
      <p>Otevřete přehled <gui xref="shell-introduction#activities">Činnosti</gui> a začněte psát <gui>Napájení</gui>.</p>
    </item>
    <item>
      <p>Kliknutím na <gui>Napájení</gui> otevřete příslušný panel. Zobrazí se stav známých zařízení.</p>
    </item>

  </steps>

    <p>Když je zjištěna přítomnost interní baterie, zobrazí se v části <gui>Baterie</gui> stav jedné či více baterií notebooku. Při připojení k elektrické síti ukazatel zobrazuje procentuální nabití a k tomu čas do úplného nabití, jinak zbývající čas běhu na baterii.</p>

    <p>V části <gui>Zařízení</gui> jsou zobrazené stavy připojených zařízení.</p>

</page>
