<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="translate" xml:lang="cs">

  <info>
   <link type="guide" xref="more-help"/>
   <link type="seealso" xref="get-involved"/>
    <desc>Jak a kde pomoci s překladem těchto nápověd.</desc>
    <revision pkgversion="3.11.4" version="0.1" date="2014-01-26" status="review"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
     <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
     <credit type="editor">
      <name>Petr Kovář</name>
      <email>pknbe@volny.cz</email>
    </credit>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Adam Matoušek</mal:name>
      <mal:email>adamatousek@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2014, 2015</mal:years>
    </mal:credit>
  </info>

<title>Účast na vylepšení překladů</title>

<p>Nápověda ke GNOME je překládána celosvětovou komunitou dobrovolníků. Jste srdečně zváni k účasti.</p>
<p>Je <link href="https://l10n.gnome.org/module/gnome-user-docs/">řada jazyků</link>, které ještě potřebují překlady.</p>
<p>Abyste mohli začít překládat, budete si potřebovat <link href="https://l10n.gnome.org/register/">vytvořit účet</link> a přidat se k <link href="https://l10n.gnome.org/teams/">překladatelskému týmu</link> svého jazyka. Tím získáte možnost nahrávat nové překlady.</p>
<p>S ostatními překladateli GNOME můžete diskutovat po připojení ke kanálu #i18n na <link xref="help-irc">serveru IRC GNOME</link>. Lidé na tomto kanále pochází z celého světa, takže v důsledku rozdílných časových pásem nemusí reagovat ihned. K diskuzím s českými překladateli GNOME můžete použít kanál #gnome-cz.</p>
<p>Případně můžete internacionalizační tým kontaktovat v jeho <link href="http://mail.gnome.org/mailman/listinfo/gnome-i18n">poštovní konferenci</link>.</p>

</page>
