<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="history" xml:lang="bg">

    <info>
        <link type="guide" xref="index#ui"/>
        <revision pkgversion="3.8" version="0.1" date="2013-04-18" status="review"/>

        <credit type="author copyright">
          <name>Gopal Krishnan</name>
          <email its:translate="no">ingeniumed@outlook.com</email>
          <years>2012, 2013</years>
        </credit>

        <credit type="author copyright">
          <name>Sanket Dasgupta</name>
          <email its:translate="no">sanketdasgupta@gmail.com</email>
          <years>2016, 2017</years>
        </credit>
    </info>

	<title>Using the History View</title>

    <p>
    The History View is located above the entry box and is designed to show
    your previous calculations in the form of a scrollable list that can be
    clicked and scrolled through using a mouse or even navigated and selected
    using the arrow keys on a keyboard. Once an entry has been selected, it
    will immediately show up in the entry box for you to manipulate and use.
    Finally, there is no upper limit on the number of calculations that can
    show up in the list for you to use.
    </p>
</page>
