<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="variable" xml:lang="bg">

    <info>
        <link type="guide" xref="index#equation"/>
    </info>

	<title>Variables</title>
    
    <p>
    To assign a value to a variable use the = symbol or choose the variable to assign to with the <gui>x</gui> button in <link xref="mouse">advanced mode</link>.
    A variable name must only contain upper or lower case characters.
    </p>
    <example>
    <p>
    x=5
    </p>
    <p>
    value=82
    </p>
    </example>
    <p>
    Variables can be used in any equation and are substituted for their assigned value.
    Variables can be inserted using the <gui>x</gui> button.
    </p>
    <example>
    <p>
    6x+3
    </p>
    <p>
    xy−3x+7y−21
    </p>
    </example>
    <p>
    The following variables are always defined.
    </p>
    <table>
    <tr>
    <td><p>_</p></td>
    <td><p>Result of previous calculation</p></td>
    </tr>
    <tr>
    <td><p>e</p></td>
    <td><p><link xref="logarithm">Euler's Number</link></p></td>
    </tr>
    <tr>
    <td><p>π</p></td>
    <td><p><link xref="trigonometry">Pi</link></p></td>
    </tr>
    <tr>
    <td><p>rand</p></td>
    <td><p>Random value in the range [0,1] (changes on each read)</p></td>
    </tr>
    </table>
</page>
