<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="pref-profile-encoding" xml:lang="cs">

  <info>
    <link type="guide" xref="index#advanced"/>
    <link type="guide" xref="pref#profile"/>
    <revision pkgversion="3.14" date="2014-09-08" status="review"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>
    <!--<credit type="copyright editor">
      <name></name>
      <email></email>
      <years></years>
    </credit>-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jak v každém uloženém profilu nastavit jiné kódování.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lucas Lommer</mal:name>
      <mal:email>llommer@svn.gnome.org</mal:email>
      <mal:years>2008, 2009, 2010, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2010, 2013</mal:years>
    </mal:credit>
  </info>

  <title>Změna kódování znaků v profilu</title>

  <p>Normálně by mělo být možné pracovat ve všech terminálech, které potřebujete, s výchozím kódováním UTF-8. Pokud ale zjistíte, že pravidelně potřebujete pro konkrétní úkol odlišné kódování znaků, můžete si <link xref="pref-profiles#new-profile">vytvořit nový profil</link> s tímto odlišným kódováním.</p>

  <steps>
    <item>
      <p>Otevřete <guiseq><gui style="menu">Upravit</gui> <gui style="menuitem">Předvolby</gui></guiseq>.</p>
    </item>
    <item>
      <p>Váš současný profil je vybraný v postranním panelu. Pokud si přejete upravovat jiný profil, klikněte na jeho název.</p>
    </item>
    <item>
      <p>Otevřete kartu <gui style="tab">Kompatibilita</gui> a nastavte kódování znaků.</p>
    </item>
  </steps>

  <note>
    <p>Většina moderních operačních systémů v současnosti podporuje a používá jako výchozí kódování znaků UTF-8.</p>
  </note>

</page>
