<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="help-irc" xml:lang="sl">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>Dobite podporo v živo na IRC-u.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>IRC</title>
   <p>IRC pomeni Internet Relay Chat. To je realnočasovni sistem sporočanja za več uporabnikov. Na GNOME strežniku IRC lahko dobite pomoč in nasvete razvijalcev in drugih uporabnikov GNOME.</p>
   <p>
      To connect to the GNOME IRC server, use <app>empathy</app> or <app>xchat</app>,
      or use a web interface like <link href="http://chat.mibbit.com/">mibbit</link>.
   </p>
   <p>Za ustvaritev računa IRC v Empathy si oglejte <link href="ghelp:empathy#irc-manage">dokumentacijo Empathy</link>.</p>
   <p>Strežnik IRC GNOME je <sys>irc.gnome.org</sys>. Morda ga boste videli tudi kot "omrežje GIMP". Če je vaš računalnik pravilno nastavljen, lahko za dostop do kanala <sys>gnome</sys> kliknete na povezavo <link href="irc://irc.gnome.org/gnome"/>.</p>
   <p>
      While IRC is a real-time discussion medium, people tend to not reply immediately, so be patient.
   </p>

  <note>
    <p>Please note the
    <link href="https://wiki.gnome.org/Foundation/CodeOfConduct">GNOME code of
    conduct</link> applies when you chat on IRC.</p>
  </note>

</page>
