<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="mouse" xml:lang="sl">

  <info>
    <revision pkgversion="3.4" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="mouse-lefthanded">Uporaba miške z levico</link>, <link xref="mouse-sensitivity">hitrost in občutljivost</link>, <link xref="mouse-touchpad-click">klikanje in drsanje po drsni ploščici</link> …</desc>
  </info>

<title>Mouse &amp; Touchpad</title>
<links type="topic" style="2column"/>

<section id="problems" style="2column">
  <info>
    <title type="link">Pogoste težave z miško</title>
    <title type="link" role="trail">Pogoste težave</title>
  </info>
  <title>Pogoste težave</title>
</section>

<section id="tips" style="2column">
 <info>
   <title type="link">Namigi miške</title>
   <title type="link" role="trail">Namigi</title>
 </info>
 <title>Namigi</title>
</section>
</page>
