<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="printing-setup" xml:lang="sl">

  <info>
    <link type="guide" xref="printing#setup" group="#first"/>
    <link type="seealso" xref="printing-setup-default-printer" group="#first"/>

    <revision pkgversion="3.10.2" date="2013-11-03" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="final"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Paul W. Frields</name>
      <email>stickster@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Nastavite tiskalnik, ki je povezan z vašim računalnikom.</desc>
  </info>

  <title>Nastavitev krajevnega tiskalnika</title>

  <p>Your system can recognize many types of printers automatically once
  they are connected. Most printers are connected with a USB cable that
  attaches to your computer.</p>

  <note style="tip">
    <p>You do not need to select whether you want to install a network or local
    printer now. They are listed in one window.</p>
  </note>

  <steps>
    <item>
      <p>Prepričajte se, da je tiskalnik vklopljen.</p>
    </item>
    <item>
      <p>Povežite tiskalnik s svojim sistemom preko ustreznega kabla. Morda boste na zaslonu videli dejavnost medtem ko sistem išče gonilnike in morda se boste morali za njihovo namestitev overiti.</p>
    </item>
    <item>
      <p>A message will appear when the system is finished installing the
      printer. Select <gui>Print Test Page</gui> to print a test page, or
      <gui>Options</gui> to make additional changes in the printer setup.</p>
    </item>
  </steps>

  <p>If your printer was not set up automatically, you can add it in the
  printer settings:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>Kliknite <gui>Tiskalniki</gui>.</p>
    </item>
    <item>
      <p>Kliknite gumb <gui>Odkleni</gui> v zgornjem desnem kotu in vnesite svoje geslo.</p>
    </item>
    <item>
      <p>Click the <gui>+</gui> button.</p>
    </item>
    <item>
      <p>In the pop-up window, select your new printer. Click
      <gui>Add</gui>.</p>
    </item>
  </steps>

  <p>If your printer does not appear in the Add a New Printer window, you may
  need to install print drivers.</p>

  <p>Ko končate z nameščanjem tiskalnika, boste morda želeli <link xref="printing-setup-default-printer">spremeniti svoj privzeti tiskalnik</link>.</p>

</page>
