<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-apps-open" xml:lang="sl">

  <info>
    <link type="guide" xref="shell-overview"/>
    <link type="guide" xref="index" group="#first"/>

    <revision pkgversion="3.6.0" date="2012-10-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>Dokumentacijski projekt GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Shobha Tyagi</name>
      <email>tyagishobha@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Launch apps from the <gui>Activities</gui> overview.</desc>
  </info>

  <title>Zaganjanje programov</title>

  <p if:test="!platform:gnome-classic">Move your mouse pointer to the
  <gui>Activities</gui> corner at the top left of the screen to show the
  <gui xref="shell-introduction#activities">Activities</gui> overview. This is where you
  can find all of your applications. You can also open the overview by pressing
  the <key xref="keyboard-key-super">Super</key> key.</p>
  
  <p if:test="platform:gnome-classic">You can start applications from the
  <gui xref="shell-introduction#activities">Applications</gui> menu at the top
  left of the screen, or you can use the <gui>Activities</gui> overview by
  pressing the <key xref="keyboard-key-super">Super</key> key.</p>

  <p>There are several ways of opening an application once you’re in the
  <gui>Activities</gui> overview:</p>

  <list>
    <item>
      <p>Start typing the name of an application — searching begins instantly.
      (If this doesn’t happen, click the search bar at the top of the screen
      and start typing.) If you don’t know the exact name of an application, try
      to type an related term. Click the application’s icon to start it.</p>
    </item>
    <item>
      <p>Some applications have icons in the <em>dash</em>, the vertical strip
      of icons on the left-hand side of the <gui>Activities</gui> overview.
      Click one of these to start the corresponding application.</p>
      <p>V primeru da nekatere programe zelo pogosto poganjate, jih lahko <link xref="shell-apps-favorites">dodate v pregledno ploščo</link>.</p>
    </item>
    <item>
      <p>Click the grid button at the bottom of the dash. You will see the
      frequently used applications if the <gui style="button">Frequent</gui>
      view is enabled. If you want to run a new application, press the
      <gui style="button">All</gui> button at the bottom to view all the
      applications. Press on the application to start it.</p>
    </item>
    <item>
      <p>You can launch an application in a separate
      <link xref="shell-workspaces">workspace</link> by dragging its icon from
      the dash, and dropping it onto one of the workspaces on the right-hand
      side of the screen. The application will open in the chosen
      workspace.</p>
      <p>You can launch an application in a <em>new</em> workspace by dragging
      its icon to the empty workspace at the bottom of the workspace
      switcher, or to the small gap between two workspaces.</p>
    </item>
  </list>

  <note style="tip">
    <title>Hitro izvajanje ukaza</title>
    <p>Another way of launching an application is to press
    <keyseq><key>Alt</key><key>F2</key></keyseq>, enter its
    <em>command name</em>, and then press the <key>Enter</key> key.</p>
    <p>For example, to launch <app>Rhythmbox</app>, press
    <keyseq><key>Alt</key><key>F2</key></keyseq> and type
    ‘<cmd>rhythmbox</cmd>’ (without the single-quotes). The name of the app is
    the command to launch the program.</p>
  </note>

</page>
