<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-crackle" xml:lang="sl">

  <info>
    <link type="guide" xref="sound-broken"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Dokumentacijski projekt GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Preverite svoje zvočne kable in gonilnike zvočne kartice.</desc>
  </info>

<title>Slišim praskanje ali brenčanje med predvajanjem zvokov</title>

  <p>V primeru da med predvajanjem zvoka na svojem računalniku slišite praskanje ali brenčanje, imate morda težavo z zvočnimi kabli ali povezovalniki ali pa imate težavo z gonilnikom za zvočno kartico.</p>

<list>
 <item>
  <p>Preverite, da so zvočniki pravilno vklopljeni.</p>
  <p>If the speakers are not fully plugged in, or if they are plugged into the
  wrong socket, you might hear a buzzing sound.</p>
 </item>

 <item>
  <p>Make sure the speaker/headphone cable is not damaged.</p>
  <p>Zvočni kabli in povezovalniki se lahko z uporabo postopoma obrabijo. Poskusite priklopiti kabel ali slušalke v drugo zvočno napravo (kot je MP3 ali CD predvajalnik) in preverite ali tudi tam slišite prasketajoč zvok. Če je zvok praskajoč, boste morda morali zamenjati kabel ali slušalke.</p>
 </item>

 <item>
  <p>Check if the sound drivers are not very good.</p>
  <p>Some sound cards do not work very well on Linux because they do not have very
  good drivers. This problem is more difficult to identify. Try searching for
  the make and model of your sound card on the internet, plus the search term
  “Linux”, to see if other people are having the same problem.</p>
  <p>Za več podrobnosti o svoji zvočni kartici lahko uporabite ukaz <cmd>lspci</cmd>.</p>
 </item>
</list>

</page>
