<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="boolean" xml:lang="ko">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>류창우</mal:name>
      <mal:email>cwryu@debian.org</mal:email>
      <mal:years>2007, 2008, 2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

	<title>불리언 대수</title>
    
    <p>AND, OR, XOR 연산자를 이용해 불리언 대수를 계산할 수 있습니다.</p>
    <example>
    <p>010011₂ AND 110101₂</p>
    </example>
    <p>이 연산자 단추는 <link xref="mouse">프로그래밍 모드</link>에서 나타납니다.</p>
    <p>NOT <link xref="function">함수는</link> 숫자의 비트 값을 반전합니다. 워드 단위 크기는 <guiseq><gui>계산기</gui><gui>기본 설정</gui></guiseq> 메뉴에서 설정합니다.</p>
    <example>
    <p>NOT 010011₂</p>
    </example>
</page>
