<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="percentage" xml:lang="ko">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>류창우</mal:name>
      <mal:email>cwryu@debian.org</mal:email>
      <mal:years>2007, 2008, 2015.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>조성호</mal:name>
      <mal:email>shcho@gnome.org</mal:email>
      <mal:years>2016, 2017, 2018.</mal:years>
    </mal:credit>
  </info>

	<title>퍼센트</title>
    
    <p>백분율은 % 기호로 계산할 수 있습니다.</p>
    <p>퍼센트 기호를 넣거나 빼면 값에 퍼센트 기호를 넣거나 뺐을 때의 결과를 계산합니다. 다음 수식은 140불 짜리 상품에 15% 세금을 붙였을 경우의 가격을 계산합니다.</p>
    <example>
    <p>140+15%</p>
    </example>
    <p>다른 경우에 퍼센트 기호를 입력하면 100을 분모로 하는 값을 구합니다. 다음 수식은 사과 80개의 1/4 갯수를 구합니다.</p>
    <example>
    <p>25%×80</p>
    </example>
</page>
