<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="conv-length" xml:lang="hu">

    <info>
        <link type="guide" xref="index#conversion"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2010, 2011, 2012, 2013, 2017.</mal:years>
    </mal:credit>
  </info>

	<title>Hossz/terület/térfogat</title>
    
    <p>Hossz-, terület- és térfogategységek közti konverzióra az <em>in</em> operátor használható.</p>
    <example>
    <p>6 méter in hüvelyk</p>
    <p>1 acre in cm²</p>
    <p>1 pint in mL</p>
    </example>
    <note>
    <p>A hossz-, terület- és térfogategységek közti konverziót a billentyűzet használatával kell végrehajtani.</p>
    </note>
</page>
