<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="files" xml:lang="fi">

  <info>
    <link type="guide" xref="index" group="files"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.12" date="2014-03-02" status="review"/>
    <revision pkgversion="3.16" date="2015-01-27" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <title type="link" role="trail">Tiedostot</title>

    <desc><link xref="files-search">Etsiminen</link>, <link xref="files-delete">tiedostojen poistaminen</link>, <link xref="files#backup">varmuuskopiot</link>, <link xref="files#removable">irrotettavat asemat</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2018.</mal:years>
    </mal:credit>
  </info>

  <title>Tiedostot, kansiot ja etsiminen</title>

<section id="common-file-tasks">
  <title>Yleiset tehtävät</title>
  <links type="topic" style="2column"/>
</section>

<section id="more-file-tasks">
  <title>Lisää tiedostoihin liittyviä tehtäviä</title>
  <links type="topic" style="2column"/>
</section>

<section id="removable">
  <title>Irrotettavat asemat ja ulkoiset levyt</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>Varmuuskopiointi</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>Vinkit ja kysymykset</title>
  <links type="topic" style="2column"/>
</section>

</page>
