<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-overview" xml:lang="fi">

  <info>
    <link type="guide" xref="index" group="shell-overview"/>

    <title role="trail" type="link">Työpöytä</title>

    <revision pkgversion="3.4" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>Gnomen dokumentointiprojekti</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="clock-calendar">Kalenteri</link>, <link xref="shell-notifications">ilmoitukset</link>, <link xref="shell-keyboard-shortcuts">pikanäppäimet</link>, <link xref="shell-windows">ikkunat ja työtilat</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Timo Jyrinki</mal:name>
      <mal:email>timo.jyrinki@iki.fi</mal:email>
      <mal:years>2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jiri Grönroos</mal:name>
      <mal:email>jiri.gronroos+l10n@iki.fi</mal:email>
      <mal:years>2012-2018.</mal:years>
    </mal:credit>
  </info>

  <title>Työpöytäsi</title>

<links type="topic" style="2column"/>

<section id="desktop" style="2column">
 <title>Mukauta työpöytääsi</title>
</section>

<section id="apps" style="2column">
 <title>Sovellukset ja ikkunat</title>
</section>

</page>
