<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="conv-character" xml:lang="pt">

    <info>
        <link type="guide" xref="index#conversion"/>
    </info>

	<title>Códigos de caracteres</title>
    
    <p>No <link xref="mouse">modo programador</link> o botão <gui>á</gui> abre um diálogo para converter caracteres em códigos de caracteres.</p>
    <note>
    <p>Não se podem converter caracteres utilizando o teclado.</p>
    </note>
</page>
