<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="modulus" xml:lang="pt">

    <info>
        <link type="guide" xref="index#equation"/>
    </info>

	<title>Divisão modular</title>
    
    <p>A divisão modular realiza-se utilizando o operador mod.</p>
    <example>
    <p>9 mod 5</p>
    </example>
</page>
