<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="task" id="app-cursor" xml:lang="ru">

  <info>
    <revision version="0.1" date="2013-02-17" status="candidate"/>
    <link type="guide" xref="index#appearance"/>
    <link type="guide" xref="pref#profile"/>

    <credit type="author copyright">
      <name>С. Синдху (Sindhu S)</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright editor">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Майкл Хилл (Michael Hill)</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Select different cursor style.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей В. Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Изменение курсора</title>

  <p>В <app>Терминале</app> есть три формы курсора на выбор. Чтобы установить нужную форму курсора:</p>

  <steps>
    <item>
      <p>Open <guiseq><gui style="menu">Edit</gui>
      <gui style="menuitem">Preferences</gui></guiseq>.</p>
    </item>
    <item>
      <p>Your current profile is selected in the sidebar. If you wish to edit
      a different profile, click on its name.</p>
    </item>
    <item>
      <p>Select <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Выберите желаемую форму курсора из выпадающего меню рядом с пунктом <gui>Форма курсора</gui>. Можно выбрать из следующих вариантов:</p>
      <terms>
        <item>
          <title its:translate="no">█</title>
          <p><gui>Блок</gui></p>
        </item>
        <item>
          <title its:translate="no">▏</title>
          <p><gui>I-образный</gui></p>
        </item>
        <item>
          <title its:translate="no">▁</title>
          <p><gui>Подчёркивание</gui></p>
        </item>
      </terms>
      <p>После выбора формы курсора, изменения будут сохранены автоматически.</p>
    </item>
  </steps>

</page>
