<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="pref-tab-window" xml:lang="ru">

  <info>
    <link type="guide" xref="index#appearance"/>
    <link type="seealso" xref="gs-tabs"/>
    <revision pkgversion="3.12" date="2014-02-26" status="review"/>
    <revision pkgversion="3.14.2" date="2015-01-27" status="review"/>

    <credit type="author copyright">
      <name>Екатерина Герасимова (Ekaterina Gerasimova)</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2014–2015</years>
    </credit>
    <!--<credit type="copyright editor">
      <name></name>
      <email its:translate="no"></email>
      <years></years>
    </credit>-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Выберите, по умолчанию открывать новое окно или новую вкладку.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Сергей В. Миронов</mal:name>
      <mal:email>sergo@bk.ru</mal:email>
      <mal:years>2007.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

  <title>Окна и вкладки</title>

  <p>You can choose whether to open a new tab or a new <app>Terminal</app>
  window when you use <gui style="menuitem">New Terminal</gui>.</p>

  <steps>
    <item>
      <p>Select
      <guiseq><gui style="menu">Edit</gui><gui style="menuitem">Preferences</gui><gui style="tab">General</gui></guiseq>.</p>
    </item>
    <item>
      <p>Установите параметр <gui>Открывать новые терминалы:</gui> в значение <gui>во вкладке</gui> или <gui>в окне</gui>.</p>
    </item>
  </steps>

  <p>Once you have set the preference, you can use <key>Ctrl</key> to invert
  the preference. For example, if you have your preferences set to open a new
  terminal in a new tab, then pressing <gui style="menuitem">New Terminal</gui>
  will open a new tab. On the other hand, if you hold down <key>Ctrl</key> and
  then press <gui style="menuitem">New Terminal</gui>, then a new window will
  be opened instead.</p>

</page>
