<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="fonts-user" xml:lang="de">

  <info>
    <link type="guide" xref="appearance"/>
    <revision pkgversion="3.11" date="2014-01-29" status="draft"/>

    <credit type="author copyright">
      <name>Matthias Clasen</name>
      <email>matthias.clasen@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Jana Svarova</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Zusätzliche Schriften für einzelne Benutzer hinzufügen.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Zusätzliche Schriften für einzelne Benutzer hinzufügen</title>

  <p>Sie können eine zusätzliche Schrift für einen bestimmten Benutzer Ihres Systems für Anwendungen installieren, die <sys>fontconfig</sys> für den Umgang mit Schriften verwenden.</p>

  <steps>
    <title>Eine zusätzliche Schrift installieren</title>
    <item>
      <p>Kopieren Sie die Schrift in den Ordner <file>~/.local/share/fonts/</file>, um sie zu installieren.</p>
    </item>
    <item>
      <p>Führen Sie den folgenden Befehl aus, um den Schrift-Zwischenspeicher zu aktualisieren:</p>
      <screen><output>$ </output><input>fc-cache ~/.local/share/fonts</input></screen>
    </item>
  </steps>

  <p>Laufende Anwendungen müssen neu gestartet werden, damit die Änderungen wirksam werden. Benutzersitzungen müssen nicht neu gestartet werden.</p>

</page>
