<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="about-this-guide" xml:lang="gl">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>Uns consellos sobre o uso da guía de axuda do escritorio.</desc>
    <credit type="author">
      <name>Proxecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

<title>Sobre esta guía</title>
<p>Esta guía está deseñada para describir as características do seu escritorio, responder ás súas preguntas relacionadas coa informática e ofrecerlle consellos para usar o seu computador de forma máis eficiente. Tentamos facer esta guía o máis doada de usar posíbel:</p>

<list>
  <item><p>Esta guía está ordenada en pequenos puntos orientados en asuntos, mais non capítulos. Isto significa que non terá que ollar todo o manual para atopar a resposta a unha pregunta.</p></item>
  <item><p>Os temas relacionados móstranse de forma conxunta. A ligazón «Ver tamén» ao final dalgunhas páxinas levaralle directamente aos temas relacionados. Isto fai máis doado atopar puntos similares que poden axudarlle a realizar unha determinada tarefa.</p></item>
  <item><p>Inclúe buscas integradas. A barra da parte superior do navegador de axuda é unh <em>barra de busca</em>, os resultados relevantes comezarán a aparecer no momento en que comece a escribir.</p></item>
  <item><p>A guía está en constante mellora. Aínda que tentamos fornecerlle un conxunto importante de información de axuda, sabemos que non podemos respostar a tódalas preguntas aquí. Seguiremos engadindo máis información para facer as cousas aínda máis útiles.</p></item>
</list>

<p>Grazas por gastar o seu tempo en ler a axuda do escritorio. Agardamos que nunca teña que usala.</p>

<p>-- O equipo de documentación de GNOME</p>
</page>
