<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-provider-not-available" xml:lang="gl">

  <info>
    <link type="guide" xref="accounts"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Os fornecedores de servizos en liña non aparecen na lista?</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

  <title>Por que non parece o meu tipo de conta na lista?</title>

  <p>Para ter compatibilidade coa súa conta favorita, alguén ten que desenvolvela. Só se admiten os tipos de conta que están na lista.</p>

  <note style="advanced">
    <p>Se está interesado en engadir compatibilidade para outros servizos, contacte cos desenvolvedores na <link href="https://bugzilla.gnome.org/enter_bug.cgi?product=gnome-online-accounts">plataforma de seguimento de erros</link>.</p>
  </note>

</page>
