<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="backup-where" xml:lang="gl">

  <info>
    <link type="guide" xref="backup-why"/>
    <title type="sort">c</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Proxecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Teña en conta onde almacenar as copias de respaldo e que dispositivos de almacenamento usar.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

<title>Onde gardar a súa copia de seguranza</title>

  <p>Debería gardar as copias de respaldo dos seus ficheiros nalgún sitio separado do seu equipo, nun disco duro externo, por exemplo. Desta maneira se o seu equipo rompe, a copia de seguranza estará intacta. Para unha máxima seguranza, non debería manter o respaldo no mesmo edificio que o seu equipo. Se hai un incendio ou un roubo, as dúas copias dos datos pódense perder se se manteñen xuntas.</p>

  <p>É importante seleccionar un <em>medio de respaldo</em> axeitado tamén. Debe almacer os seus respaldos nun dispositivo que teña capacidade dabondo para tódolos ficheiros respaldados.</p>

   <list style="compact">
    <title>Opcións de almacenamento locais e remotas</title>
    <item>
      <p>Chave de memoria USB (pouca capacidade)</p>
    </item>
    <item>
      <p>Unidade de disco interno (moita capacidade)</p>
    </item>
    <item>
      <p>Unidade de disco interno (moita capacidade)</p>
    </item>
    <item>
      <p>Unidade de rede (moita capacidade)</p>
    </item>
    <item>
      <p>Unidade de rede (moita capacidade)</p>
    </item>
    <item>
     <p>CD ou DVD escribíbeis (pouca ou moita capacidade)</p>
    </item>
    <item>
     <p>Un servizo de copias de seguranza en liña <link href="http://aws.amazon.com/s3/">Amazon S3</link> ou <link href="https://one.ubuntu.com/">Ubuntu One</link>, por exemplo. A capacidade dependerá do prezo</p>
    </item>
   </list>

  <p>Algunhas destas opcións teñen suficiente capacidade de permitir facer unha copia de seguranza de cada ficheiro no seu sistema, tamén coñecido como <em>copia de seguranza completa do sistema</em>.</p>
</page>
