<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="hardware" xml:lang="gl">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">Hardware</title>

    <desc><link xref="hardware#problems">Problemas de hardware</link>, <link xref="hardware#printing">impresoras</link>, <link xref="hardware#power">configuración de enerxía</link>, <link xref="hardware#bluetooth">Bluetooth</link>, <link xref="hardware#disk">discos</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

<title>Hardware e controladores</title>

<links type="topic" style="toronto"/>

<links type="topic" style="linklist" groups="more">
  <title>Máis puntos</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">Problemas</title>
    <title type="link">Problemas de hardware</title>
  </info>
 <title>Problemas comúns</title>
 <links type="topic" style="linklist"/>
</section>

</page>
