<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="privacy-screen-lock" xml:lang="gl">

  <info>
    <link type="guide" xref="privacy"/>
    <link type="seealso" xref="session-screenlocks"/>
    <link type="seealso" xref="shell-exit#lock-screen"/>

    <revision pkgversion="3.8" date="2013-05-21" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit>
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Impedir que outras persoas poidan usar o seu escritorio cando se ausente do seu computador.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

  <title>Bloquear a pantalla automaticamente</title>
  
  <p>When you leave your computer, you should
  <link xref="shell-exit#lock-screen">lock the screen</link> to prevent
  other people from using your desktop and accessing your files. If you
  sometimes forget to lock your screen, you may wish to have your computer’s
  screen lock automatically after a set period of time. This will help to
  secure your computer when you aren’t using it.</p>

  <note><p>Cando a súa pantalla está bloqueada, os seus aplicativos e procesos do sistema continuarán executándose pero precisará escribir o seu contrasinal para comezar a usalo.</p></note>
  
  <steps>
    <title>Para estabelecer canto tempo debe pasar para que a súa pantalla se bloquee automaticamente:</title>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Privacy</gui>.</p>
    </item>
    <item>
      <p>Prema <gui>Privacidade</gui> para abrir o panel.</p>
    </item>
    <item>
      <p>Prema <gui>Bloqueo de pantalla</gui>.</p>
    </item>
    <item>
      <p>Make sure <gui>Automatic Screen Lock</gui> is switched <gui>ON</gui>,
      then select a length of time from the drop-down list.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Applications can present notifications to you that are still displayed
    on your lock screen. This is convenient, for example, to see if you have
    any email without unlocking your screen. If you’re concerned about other
    people seeing these notifications, switch <gui>Show Notifications</gui>
    off.</p>
  </note>

  <p>When your screen is locked, and you want to unlock it, press
  <key>Esc</key>, or swipe up from the bottom of the screen with your mouse.
  Then enter your password, and press <key>Enter</key> or click
  <gui>Unlock</gui>. Alternatively, just start typing your password and the
  lock curtain will be automatically raised as you type.</p>

</page>
