<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" version="1.0 if/1.0" id="sharing-media" xml:lang="gl">

  <info>
    <link type="guide" xref="sharing"/>
    <link type="guide" xref="prefs-sharing"/>

    <revision pkgversion="3.10" version="0.2" date="2013-11-02" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-13" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Share media on your local network using UPnP.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

  <title>Comparta a súa música, fotos e vídeos</title>

  <p>Pode explorar, buscar e reproducir multimedia no seu computador usando un dispositivo con <sys>UPnP</sys> ou <sys>DLNA</sys> como un teléfono, TV ou consola de xogos. Configure <gui>Compartición multimedia</gui>para permitirlle a eses dispositivos acceder aos cartafoles que conteñen música, fotos e vídeos.</p>

  <note style="info package">
    <p>Debe ter o paquete <app>Rygel</app> instalado para que <gui>Compartición multimedia</gui> estea visíbel.</p>

    <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
      <if:when test="action:install">
        <p><link action="install:rygel" style="button">Instalar Rygel</link></p>
      </if:when>
    </if:choose>
  </note>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Sharing</gui>.</p>
    </item>
    <item>
      <p>Prema en <gui>Compartición</gui> no lateral dereito.</p>
    </item>
    <item>
      <p>Se <gui>Compartición</gui> está <gui>Desactivado</gui>, <gui>actíveo</gui>.</p>

      <note style="info"><p>If the text below <gui>Computer Name</gui> allows
      you to edit it, you can <link xref="sharing-displayname">change</link>
      the name your computer displays on the network.</p></note>
    </item>
    <item>
      <p>Seleccione <gui>Compartición multimedia</gui>.</p>
    </item>
    <item>
      <p>Troque <gui>Compartición multimedia</gui> a <gui>I</gui>.</p>
    </item>
    <item>
      <p>By default, <file>Music</file>, <file>Pictures</file> and 
      <file>Videos</file> are shared. To remove one of these, click the
      <gui>×</gui> next to the folder name.</p>
    </item>
    <item>
      <p>To add another folder, click <gui style="button">+</gui> to open the
      <gui>Choose a folder</gui> window. Navigate <em>into</em> the desired
      folder and click <gui style="button">Open</gui>.</p>
    </item>
    <item>
      <p>Click <gui style="button">×</gui>. You will now be able to browse
      or play media in the folders you selected using the external device.</p>
    </item>
  </steps>

  <section id="networks">
  <title>Redes</title>

  <p>The <gui>Networks</gui> section lists the networks to which you are
  currently connected. Use the <gui>ON | OFF</gui> switch next to each to
  choose where your media can be shared.</p>

  </section>

</page>
