<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-apps-favorites" xml:lang="gl">

  <info>
    <link type="seealso" xref="shell-apps-open"/>
    <link type="guide" xref="shell-overview#desktop"/>

    <revision pkgversion="3.6.0" date="2012-10-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author">
      <name>Proxecto de documentación de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Jana Svarova</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Engadir (ou eliminar) iconas de programas de uso frecuente no taboleiro.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2018</mal:years>
    </mal:credit>
  </info>

  <title>Ancorar os seus aplicativos favoritos ao dash</title>

  <p>To add an application to the <link xref="shell-introduction#activities">dash</link>
  for easy access:</p>

  <steps>
    <item>
      <p if:test="!platform:gnome-classic">Open the
      <gui xref="shell-introduction#activities">Activities</gui> overview by
      clicking <gui>Activities</gui> at the top left of the screen</p>
      <p if:test="platform:gnome-classic">Click the
      <gui xref="shell-introduction#activities">Applications</gui> menu at the
      top left of the screen and choose the <gui>Activities Overview</gui> item
      from the menu.</p></item>
    <item>
      <p>Prema no botón de grella no panel e busque o aplicativo que quere engadir.</p>
    </item>
    <item>
      <p>Prema co botón dereito sobre a icona do aplicativo e seleccione <gui>Engadir aos favoritos</gui>.</p>
      <p>De forma alternativa, pode arrastrar a icona sobre o panel lateral.</p>
    </item>
  </steps>

  <p>Para eliminar unha icona de aplicativo do taboleiro, prema co botón dereito sobre a icona do aplicativo e seleccione <gui>Quitar de favoritos</gui>.</p>

  <note style="tip" if:test="platform:gnome-classic"><p>Favorite applications
    also appear in the <gui>Favorites</gui> section of the
    <gui xref="shell-introduction#activities">Applications</gui> menu.</p>
  </note>

</page>
