<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-whyadd" xml:lang="el">

  <info>
    <link type="guide" xref="accounts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-02-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author copyright">
      <name>Susanna Huhtanen</name>
      <email>ihmis.suski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Γιατί να προσθέσετε τους λογαριασμούς ηλεκτρονικής αλληλογραφίας ή κοινωνικής δικτύωσης στην επιφάνεια εργασίας σας;</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2009-2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Φώτης Τσάμης</mal:name>
      <mal:email>ftsamis@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2009, 2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2012-2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Μαυρίδου</mal:name>
      <mal:email>mavridou@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title>Γιατί πρέπει να προσθέσω έναν λογαριασμό;</title>

  <p>Προσθέτοντας διαδικτυακούς λογαριασμούς σας δίνετε η επιλογή να επιλέξετε μεταξύ των υπηρεσιών ποιες θα χρησιμοποιήσετε, όπως ημερολόγιο, συνομιλία και αλληλογραφία άμεσα στην επιφάνεια εργασίας. Μπορείτε εύκολα να κρατήσετε επαφή χρησιμοποιώντας υπηρεσίες διαφορετικών λογαριασμών, όπως συνομιλίες, ταυτόχρονα. Απλά ρυθμίστε τον λογαριασμό σας για πρώτη φορά και κάθε φορά που ξεκινάτε τον υπολογιστή σας όλοι οι λογαριασμοί και οι υπηρεσίες που έχετε προσθέσει θα είναι έτοιμες για χρήση.</p>

  <p>Για περισσότερες πληροφορίες σχετικά με ποιες εφαρμογές μπορούν να έχουν πρόσβαση στις διαδικτυακές υπηρεσίες, δείτε <link xref="accounts-which-application"/>.</p>
</page>
