<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-newipod" xml:lang="el">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>Έργο Τεκμηρίωσης GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Ολοκαίνουργια iPods χρειάζονται να ρυθμιστούν χρησιμοποιώντας το λογισμικό iTunes πριν να μπορείτε να τα χρησιμοποιήσετε.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2009-2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2012-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Φώτης Τσάμης</mal:name>
      <mal:email>ftsamis@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2009, 2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gnome.org</mal:email>
      <mal:years>2012-2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μαρία Μαυρίδου</mal:name>
      <mal:email>mavridou@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

<title>My new iPod won’t work</title>

<p>If you have a new iPod that has never been connected to a computer before, it won’t be recognized properly when you connect it to a Linux computer. This is because iPods need to be set up and updated using the <app>iTunes</app> software, which only runs on Windows and Mac OS.</p>

<p>Για να ρυθμίσετε το iPod σας, εγκαταστήστε το iTunes σε έναν υπολογιστή Windows και Mac και συνδέστε το. Θα οδηγηθείτε μέσα από λίγα βήματα για να το ρυθμίσετε. Εάν σας ζητηθεί η <gui>Μορφή του τόμου</gui>, επιλέξτε <gui>MS-DOS (FAT)</gui>, <gui>Windows</gui> ή παρόμοια. Η άλλη μορφή (HFS/Mac) δεν δουλεύει επίσης με Linux.</p>

<p>Μόλις έχετε τελειώσει την εγκατάσταση, το iPod πρέπει να δουλεύει κανονικά όταν το συνδέσετε σε έναν υπολογιστή Linux.</p>

</page>
