<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="function" xml:lang="te">

    <info>
        <link type="guide" xref="index#equation"/>
    </info>

	<title>Functions</title>
    
    <p>
    Functions can be used by inserting the name of the function followed by function arguments. <app>Calculator</app> also support user-defined functions.
    If the argument is not a number or <link xref="variable">a single variable</link> then write each argument separated by semicolon and use parenthesis around the argument list.
    </p>
    <example>
    <p>sin 30</p>
    <p>abs (5−9)</p>
    <p>
    fun (9;10)
    </p>
    </example>
    <p>
    To add a new function type the function in the format as given below. A function name and arguments must only contain upper or lower case characters. The part after @ is the function description which is optional.
    </p>
    <example>
    <p>
    SimpleInterest (principal; rate; time) = principal * rate * time @ Simple Interest formula
    </p>
    </example>
    <p>
    Functions can also be added and inserted using the f(x) button.
    </p>
    <example>
    <p>
    Click on f(x). Type the function name in the box, choose the number of arguments and click on the plus sign button next to it. On the calculator screen type the function expression and press <key>Enter</key>.
    </p>
    </example>
    <example>
    <p>
    Click on f(x). Choose the function and click on it.
    </p>
    </example>
    <p>
    The following functions are defined.
    </p>
    <table>
    <tr>
    <td><p>abs</p></td>
    <td><p><link xref="absolute">Absolute Value</link></p></td>
    </tr>
    <tr>
    <td><p>ceil</p></td>
    <td><p>Ceiling</p></td>
    </tr>
    <tr>
    <td><p>cos</p></td>
    <td><p><link xref="trigonometry">Cosine</link></p></td>
    </tr>
    <tr>
    <td><p>cosh</p></td>
    <td><p><link xref="trigonometry">Hyperbolic Cosine</link></p></td>
    </tr>
    <tr>
    <td><p>floor</p></td>
    <td><p>Floor</p></td>
    </tr>
    <tr>
    <td><p>frac</p></td>
    <td><p>Fractional Component</p></td>
    </tr>
    <tr>
    <td><p>int</p></td>
    <td><p>Integer Component</p></td>
    </tr>
    <tr>
    <td><p>ln</p></td>
    <td><p><link xref="logarithm">Natural Logarithm</link></p></td>
    </tr>
    <tr>
    <td><p>log</p></td>
    <td><p><link xref="logarithm">Logarithm</link></p></td>
    </tr>
    <tr>
    <td><p>కాదు</p></td>
    <td><p><link xref="boolean">Boolean NOT</link></p></td>
    </tr>
    <tr>
    <td><p>ఒకట్లు</p></td>
    <td><p>Ones complement</p></td>
    </tr>
    <tr>
    <td><p>round</p></td>
    <td><p>Round</p></td>
    </tr>
    <tr>
    <td><p>sgn</p></td>
    <td><p>Signum</p></td>
    </tr>
    <tr>
    <td><p>sin</p></td>
    <td><p><link xref="trigonometry">Sine</link></p></td>
    </tr>
    <tr>
    <td><p>sinh</p></td>
    <td><p><link xref="trigonometry">Hyperbolic Sine</link></p></td>
    </tr>
    <tr>
    <td><p>sqrt</p></td>
    <td><p><link xref="power">Square Root</link></p></td>
    </tr>
    <tr>
    <td><p>tan</p></td>
    <td><p><link xref="trigonometry">Tangent</link></p></td>
    </tr>
    <tr>
    <td><p>tanh</p></td>
    <td><p><link xref="trigonometry">Hyperbolic Tangent</link></p></td>
    </tr>
    <tr>
    <td><p>రెండ్లు</p></td>
    <td><p>Twos complement</p></td>
    </tr>
    </table>
</page>
