<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract-advanced-options" xml:lang="es">

  <info>
    <link type="guide" xref="index#advanced-options"/>
    <revision pkgversion="3.4" date="2012-03-06" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email its:translate="no">majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Especifique sus preferencias para extraer archivadores.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2011 - 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2008, 2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@tecknolabs.com</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  </info>

  <title>Opciones avanzadas para extraer archivadores</title>

  <p>El <app>Gestor de archivadores</app> ofrece diferentes opciones para <link xref="archive-extract">extraer un archivador</link>. Puede ver estas opciones en el diálogo <gui>Extraer</gui>. En la parte inferior de este diálogo, puede decidir si quiere extraer:</p>

  <terms>
    <item>
      <title><gui>Todos los archivos</gui></title>
      <p>Se extraerán todos los archivos y carpetas del archivador.</p>
    </item>
    <item>
      <title><gui>Archivos seleccionados</gui></title>
      <p>El <app>Gestor de archivadores</app> extrae sólo los archivos seleccionados.</p>
      <note>
        <p>Debe seleccionar los archivos que quiere extraer antes de pulsar <gui style="button">Extract</gui>. Puede hacerlo pulsando sobre el nombre del archivo. Pulse las teclas <key>Ctrl</key> o <key>Mayús</key> para seleccionar más de un archivo.</p>
      </note>
    </item>
    <item>
      <title><gui>Archivos</gui></title>
      <p>Puede escribir los nombres de los archivos que quiere extraer. Separe los archivos individuales usando punto y coma (<key>;</key>).</p>
      <note>
        <p>El nombre del archivo debe tener una extensión. Puede usar el asterisco (<key>*</key>) como comodín, Por ejemplo, puede extraer todos los archivos <file>.txt</file> escribiendo <file>*.txt</file>.</p>
      </note>
    </item>
  </terms>

  <p>En el diálogo del selector de archivos puede elegir si quiere:</p>
  <terms>
    <item>
      <title><gui>Mantener estructura de carpetas</gui></title>
      <p>Marque esta opción si quiere mantener la estructura de carpetas, tal y como estaba en el archivador.</p>
    </item>
    <item>
      <title><gui>No sobrescribir archivos más nuevos</gui></title>
      <p>Esta opción no sobrescribirá archivos existentes con el mismo nombre que tengan una fecha de modificación más reciente que la de los que están en el archivador.</p>
    </item>
  </terms>

  <p>Estas <gui>Acciones</gui> se listan en la parte inferior del diálogo.</p>

</page>
