<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="index" xml:lang="da">
<info>
  <credit type="author">
    <name>Suns dokumentationshold for Java-skriveboardssystemer</name>
  </credit>
  <credit type="author">
    <name>Glynn Foster</name>
  </credit>
  <credit type="editor">
    <name>Nicholas Curran</name>
    <email/>
  </credit>
  <credit type="editor">
    <name>Yasumichi Akahoshi</name>
    <email>yasumichi@vinelinux.org</email>
  </credit>
  <license>
   <p>GNU Free Documentation License (GFDL)</p>
  </license>
   <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>
<title>Manual til Zenity</title>
<!--links type="topic" groups="dialogs" /-->
<section id="dialogs" style="2column">
  <title>Dialoger</title>
</section>
</page>
