<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-edit-details" xml:lang="gu">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>ટિફની એન્ટોપોલસ્કી</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>માઇકલ હીલ</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>ઍકાટેરીના ગેરાસીમોવા</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>દરેક સંપર્ક માટે જાણકારીમાં ફેરફાર કરો.</desc>
  </info>

<title>સંપર્ક વિગતોમાં ફેરફાર કરો</title>

  <p>સંપર્ક વિગતોને ફેરફાર કરવાનું તમારી સરનામાં પુસ્તિકાને અદ્યતન અને પૂર્ણ રાખવાની જાણકારીમાં મદદ કરે છે.</p>

  <steps>
    <item>
      <p>તમારી સંપર્ક યાદીમાંથી સંપર્ક પસંદ કરો.</p>
    </item>
    <item>
      <p><app>સંપર્કો</app> નાં ટોચનાં જમણાં ખૂણામાં <gui style="button">ફેરફાર</gui> બટનને દબાવો.</p>
    </item>
    <item>
      <p>સંપર્ક વિગતોમાં ફેરફાર કરો.</p>
      <p>To add a <em>detail</em> such as a new phone number or email
      address, press <gui style="button">New Detail</gui> and select the field
      that you want to add.</p>
    </item>
    <item>
      <p>સંપર્કને બદલવાનું સમાપ્ત કરવા માટે <gui style="button">પૂર્ણ કરો</gui> બટનને દબાવો.</p>
    </item>
  </steps>

</page>
