<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-wireless" xml:lang="gu">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" version="0.2" date="2013-11-11" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <link type="guide" xref="net" group="#first"/>
    <link type="seealso" xref="net-general"/>
    <link type="seealso" xref="net-problem"/>

    <desc>
      <link xref="net-wireless-connect">Connect to wifi</link>,
      <link xref="net-wireless-hidden">Hidden networks</link>,
      <link xref="net-wireless-disconnecting">Disconnecting</link>…
    </desc>

    <credit type="author">
      <name>Ubuntu દસ્તાવેજીકરણ ટૂકડી</name>
    </credit>
    <credit type="editor">
      <name>માઇકલ હીલ</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

  </info>

<title>વાયરલેસ નેટવર્કીંગ</title>

</page>
