<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-batteryslow" xml:lang="gu">

  <info>
    <link type="guide" xref="power#faq"/>
    <desc>અમુક લેપટોપ એ જાણી જોઇને ધીમા પડી જાય છે જ્યારે તેઓ બેટરી પર ચાલી રહ્યા હોય.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.20" date="2016-06-15" status="final"/>

    <credit type="author">
      <name>GNOME દસ્તાવેજીકરણ પ્રોજેક્ટ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>માઇકલ હીલ</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>શા માટે મારું લેપટોપ ધીમુ છે જ્યારે તે બેટરી પર છે?</title>

<p>અમુક લેપટોપ જાણી જોઇને ધીમી થઇ જાય છે જ્યારે તેઓ પાવર બચાવવા માટે બેટરી પર ચાલી રહ્યા છે. લેપટોપમાં પ્રોસેસર (CPU) ધીમી ઝડપે બદલે છે, પ્રોસેસર ઓછો પાવર વાપરે છે જ્યારે ધીમુ ચાલી રહ્યુ હોય, તેથી બેટરી લાંબો સમય ચાલવી જોઇએ.</p>

<p>આ સુવિધા <em>CPU આવૃત્તિ માપન</em> કહેવામાં આવે છે.</p>

</page>
