<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-workspaces-switch" xml:lang="gu">

  <info>
    <link type="guide" xref="shell-windows#working-with-workspaces"/>
    <link type="seealso" xref="shell-workspaces"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>GNOME દસ્તાવેજીકરણ પ્રોજેક્ટ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>કામ કરવાની જગ્યાનાં પસંદકર્તાને વાપરો.</desc>
  </info>

 <title>કામ કરવાની જગ્યા વચ્ચે બદલો</title>

 <steps>  
 <title>માઉસને વાપરી રહ્યા છે:</title>
 <item>
    <p if:test="!platform:gnome-classic">Open the
    <gui xref="shell-introduction#activities">Activities</gui> overview.</p>
  <p if:test="platform:gnome-classic">At the top left of the screen, click the
  <gui xref="shell-introduction#activities">Applications</gui> menu and choose 
  <gui>Activities Overview</gui>.</p>
 </item>
 <item>
  <p>Click on a workspace in the <link xref="shell-workspaces">workspace
  selector</link> on the right side of the screen to view the open windows on
  that workspace.</p>
 </item>
 <item>
  <p>કામ કરવાની જગ્યાને સક્રિય કરવા માટે કોઇપણ વિન્ડો થમ્ભનેઇલ પર ક્લિક કરો.</p>
 </item>
 </steps>
 
  <p if:test="platform:gnome-classic">વૈકલ્પિક રીતે, નીચેની પટ્ટી પર વિન્ડો યાદી પર જમણી બાજુ પર કામ કરવાની જગ્યા ઓળખકર્તા પર ક્લિક કરીને કામ કરવાની જગ્યા વચ્ચે બદલી શકો છો અને કામ કરવાની જગ્યાને પસંદ કરી રહ્યા છે જે તમે મેનુમાંથી વાપરવા માંગો છો.</p>

 <list>
 <title>કિબોર્ડને વાપરી રહ્યા છે:</title>  
  <item>
    <p>Press
    <keyseq><key xref="keyboard-key-super">Super</key><key>Page Up</key></keyseq>
    or <keyseq><key>Ctrl</key><key>Alt</key><key>Up</key></keyseq> to move to
    the workspace shown above the current workspace in the workspace selector.
    </p>
  </item>
  <item>
    <p>Press <keyseq><key>Super</key><key>Page Down</key></keyseq> or
    <keyseq><key>Ctrl</key><key>Alt</key><key>Down</key></keyseq> to move to the
    workspace shown below the current workspace in the workspace selector.</p>
  </item>
 </list>

</page>
