<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="sound-broken" xml:lang="gu">

  <info>
    <link type="guide" xref="media#sound" group="#first"/>
    <link type="guide" xref="hardware#problems"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME દસ્તાવેજીકરણ પ્રોજેક્ટ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>મુશ્કેલીનિવારણ સમસ્યા જેવી કે સાઉન્ડ નથી અથવા નબળી ગુણવત્તાવાળો સાઉન્ડ છે.</desc>
  </info>

<title>સાઉન્ડ સમસ્યા</title>

<p>તમારાં કમ્પ્યૂટરને તોડવા માટે સાઉન્ડ પ્લેબેક માટે ઘણાં રસ્તાઓ છે. ક્યાં નીચેનાં વિષયો એ સમસ્યાને વર્ણવે છે જે તમે અનુભવી રહ્યા છો?</p>

</page>
