<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="media" xml:lang="ro">
  <info>

    <link type="guide" xref="index" group="media"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>
      <link xref="media#photos">Digital cameras</link>,
      <link xref="media#music">iPods</link>,
      <link xref="media#photos">editing photos</link>,
      <link xref="media#videos">playing videos</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

<title>Sound, video &amp; pictures</title>

<section id="sound" style="2column">
 <info>
   <title type="sort">Sound</title>
   <title type="link" role="trail">Sound</title>
   <title type="link" role="topic">Sound</title>
   <desc>
     <link xref="sound-volume">Volume</link>,
     <link xref="sound-usespeakers">speakers and headphones</link>,
     <link xref="sound-usemic">microphones</link>…
   </desc>
   <link type="guide" xref="prefs"/>
 </info>
 <title>Basic sound</title>
</section>

<section id="music" style="2column">
 <info><title type="link">Music and players</title></info>
 <title>Music and portable audio players</title>
</section>

<section id="photos" style="2column">
 <info><title type="link">Photos</title></info>
 <title>Photos and digital cameras</title>
</section>

<section id="videos" style="2column">
 <info><title type="link">Videos</title></info>
 <title>Videos and video cameras</title>
</section>

</page>
