<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="ui" id="nautilus-views" xml:lang="ro">

  <info>
    <link type="guide" xref="nautilus-prefs" group="nautilus-views"/>

    <revision pkgversion="3.8" version="0.2" date="2013-04-03" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="candidate"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
    <its:rules xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>Specify the default sort order and grouping for the file
    manager.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

<title>Views preferences in <app>Files</app></title>

<p>You can change how files and folders are grouped and sorted by default.
Select <guiseq><gui style="menu">Files</gui>
<gui style="menuitem">Preferences</gui></guiseq> in the top bar while
<app>Files</app> is open and select the <gui style="tab">Views</gui> tab.</p>

<section id="default-view">
<title>Default view</title>
<terms>
  <item>
    <title><gui>Arrange items</gui></title>
    <p>You can change the default sort order that is used in folders using the
    <gui>Arrange items</gui> drop-down list in the preferences to sort by name,
    file size, file type, when they were last modified, when they were last
    accessed or when they were trashed.</p>
    <p its:locNote="TRANSLATORS: use the translation of the tooltip for the     view selector button that opens the view popover in the main window for     'View options'">You can change how <link xref="files-sort">files are
    sorted</link> in an individual folder by clicking the view options
    <!-- FIXME: Get a tooltip added for "View options" -->
    button in the toolbar and choosing <gui>Name</gui>,
    <gui>Size</gui>, <gui>Type</gui> or <gui>Last Modified</gui>, or by
    clicking the list column headers in list view.</p>
  </item>
  <item>
    <title><gui>Sort folders before files</gui></title>
    <p>By default, the file manager no longer shows all folders before files.
    To see all folders listed before files, enable this option.</p>
  </item>
</terms>
</section>

</page>
