<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="printing-setup" xml:lang="ro">

  <info>
    <link type="guide" xref="printing#setup" group="#first"/>
    <link type="seealso" xref="printing-setup-default-printer" group="#first"/>

    <revision pkgversion="3.10.2" date="2013-11-03" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="final"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Paul W. Frields</name>
      <email>stickster@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up a printer that is connected to your computer.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Set up a local printer</title>

  <p>Your system can recognize many types of printers automatically once
  they are connected. Most printers are connected with a USB cable that
  attaches to your computer.</p>

  <note style="tip">
    <p>You do not need to select whether you want to install a network or local
    printer now. They are listed in one window.</p>
  </note>

  <steps>
    <item>
      <p>Make sure the printer is turned on.</p>
    </item>
    <item>
      <p>Connect the printer to your system via the appropriate cable. You may
      see activity on the screen as the system searches for drivers, and you
      may be asked to authenticate to install them.</p>
    </item>
    <item>
      <p>A message will appear when the system is finished installing the
      printer. Select <gui>Print Test Page</gui> to print a test page, or
      <gui>Options</gui> to make additional changes in the printer setup.</p>
    </item>
  </steps>

  <p>If your printer was not set up automatically, you can add it in the
  printer settings:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Printers</gui>.</p>
    </item>
    <item>
      <p>Click the <gui>Unlock</gui> button in the top-right corner and enter
      your password.</p>
    </item>
    <item>
      <p>Click the <gui>+</gui> button.</p>
    </item>
    <item>
      <p>In the pop-up window, select your new printer. Click
      <gui>Add</gui>.</p>
    </item>
  </steps>

  <p>If your printer does not appear in the Add a New Printer window, you may
  need to install print drivers.</p>

  <p>After you install the printer, you may wish to
  <link xref="printing-setup-default-printer">change your default
  printer</link>.</p>

</page>
