<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="ui" id="shell-overview" xml:lang="ro">

  <info>
    <link type="guide" xref="index" group="shell-overview"/>

    <title role="trail" type="link">Desktop</title>

    <revision pkgversion="3.4" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="clock-calendar">Calendar</link>,
      <link xref="shell-notifications">notifications</link>,
      <link xref="shell-keyboard-shortcuts">keyboard shortcuts</link>,
      <link xref="shell-windows">windows and workspaces</link>…
    </desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Your desktop</title>

<links type="topic" style="2column"/>

<section id="desktop" style="2column">
 <title>Customize your desktop</title>
</section>

<section id="apps" style="2column">
 <title>Applications and windows</title>
</section>

</page>
