<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="pref-tab-window" xml:lang="es">

  <info>
    <link type="guide" xref="index#appearance"/>
    <link type="seealso" xref="gs-tabs"/>
    <revision pkgversion="3.12" date="2014-02-26" status="review"/>
    <revision pkgversion="3.14.2" date="2015-01-27" status="review"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2014–2015</years>
    </credit>
    <!--<credit type="copyright editor">
      <name></name>
      <email its:translate="no"></email>
      <years></years>
    </credit>-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Elija si quiere abrir una ventana nueva o una pestaña nueva de manera predeterminada.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodrigo Lledó</mal:name>
      <mal:email>rodhos92@gmail.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2012 - 2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2007-2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Francisco Javier F. Serrador</mal:name>
      <mal:email>serrador@gnome.org</mal:email>
      <mal:years>2001-2006</mal:years>
    </mal:credit>
  </info>

  <title>Ventanas y pestañas</title>

  <p>Puede elegir abrir una pestaña nueva o una ventana nueva de la <app>Terminal</app> al usar la opción <gui style="menuitem">Nueva terminal</gui>.</p>

  <steps>
    <item>
      <p>Seleccione <guiseq><gui style="menu">Editar</gui> <gui style="menuitem">Preferencias</gui> <gui style="tab">General</gui></guiseq>.</p>
    </item>
    <item>
      <p>Configurar <gui>Abrir terminales nuevas:</gui> a <gui>Pestaña</gui> o <gui>Ventana</gui>.</p>
    </item>
  </steps>

  <p>Una vez configurado, puede usar <key>Ctrl</key> para invertir la elección. Por ejemplo, si ha configurado sus preferencias para abrir una terminal nueva en una pestaña nueva, al pulsar <gui style="menuitem">Nueva terminal</gui> se abrirá una pestaña nueva. Por otro lado, si pulsa <key>Ctrl</key> y luego pulsa <gui style="menuitem">Nueva terminal</gui>, se abrirá una ventana nueva en su lugar.</p>

</page>
