<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-why-calibrate" xml:lang="hu">

  <info>
    <link type="guide" xref="color#calibration"/>
    <desc>A kalibrálás akkor fontos, ha törődik a megjelenítendő vagy kinyomtatandó színekkel.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Griechisch Erika</mal:name>
      <mal:email>griechisch.erika at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kucsebár Dávid</mal:name>
      <mal:email>kucsdavid at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lakatos 'Whisperity' Richárd</mal:name>
      <mal:email>whisperity at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nagy Zoltán</mal:name>
      <mal:email>dzodzie at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Miért kell saját kezűleg végeznem a kalibrálást?</title>

  <p>Az általános profilok általában rosszak. Amikor egy gyártó megalkot egy új modellt, akkor csak levesznek néhány példányt a gyártósorról, és átlagolják azokat:</p>

  <media its:translate="no" type="image" src="figures/color-average.png">
    <p its:translate="yes">Átlagolt profilok</p>
  </media>

  <p>A kijelzőpanelek jelentősen eltérnek az egyes készülékek között, és a kijelző öregedésével jelentősen változnak. Nyomtatók esetén még bonyolultabb a helyzet, mivel a papír típusának vagy súlyának változása érvénytelenítheti a karakterizáció állapotát, és pontatlanná teheti a profilt.</p>

  <p>A profil pontossága akkor biztosítható legjobban, ha saját maga végzi a kalibrálást, vagy egy külső cégre bízza a profil elkészítését a pontos karakterizációs állapot alapján.</p>

</page>
