<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="hu">

  <info>
    <link type="guide" xref="shell-windows#working-with-windows"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Két ablak maximalizálása egymás mellé.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Griechisch Erika</mal:name>
      <mal:email>griechisch.erika at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kucsebár Dávid</mal:name>
      <mal:email>kucsdavid at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lakatos 'Whisperity' Richárd</mal:name>
      <mal:email>whisperity at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nagy Zoltán</mal:name>
      <mal:email>dzodzie at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>


<title>Ablakmozaikok</title>

  <p>Egy ablakot maximalizálhat csak a képernyő bal vagy jobb oldalán, lehetővé téve két ablak egymás mellé helyezését a köztük való gyors váltás érdekében.</p>

  <p>Egy ablak a képernyő egyik oldala mentén való maximalizálásához fogja meg a címsort, és húzza a bal vagy jobb oldal felé, amíg a képernyő fele kiemelésre nem kerül. Ugyanezt a billentyűzet használatával a <key xref="keyboard-key-super">Super billentyű</key> lenyomva tartásával és a <key>Balra</key> vagy <key>Jobbra</key> nyíl lenyomásával érheti el.</p>

  <p>Egy ablak eredeti méretének visszaállításához húzza el azt a képernyő oldalától, vagy nyomja meg ugyanazt a gyorsbillentyűt, mint amivel maximalizálta.</p>

  <note style="tip">
    <p>Az ablak mozgatásához tartsa lenyomva a <key>Super</key> billentyűt, és az ablakon belül bárhová kattintva kezdje el húzni azt.</p>
  </note>

</page>
