<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="shell-workspaces-switch" xml:lang="hu">

  <info>
    <link type="guide" xref="shell-windows#working-with-workspaces"/>
    <link type="seealso" xref="shell-workspaces"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>GNOME dokumentációs projekt</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>A munkaterület-választó használata.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Griechisch Erika</mal:name>
      <mal:email>griechisch.erika at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at gnome dot hu</mal:email>
      <mal:years>2011, 2012, 2013, 2014, 2015, 2016, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kucsebár Dávid</mal:name>
      <mal:email>kucsdavid at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lakatos 'Whisperity' Richárd</mal:name>
      <mal:email>whisperity at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lukács Bence</mal:name>
      <mal:email>lukacs.bence1 at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Nagy Zoltán</mal:name>
      <mal:email>dzodzie at gmail dot com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

 <title>Váltás a munkaterületek között</title>

 <steps>  
 <title>Az egér használatával:</title>
 <item>
    <p if:test="!platform:gnome-classic">Nyissa meg a <gui xref="shell-introduction#activities">Tevékenységek</gui> áttekintést.</p>
  <p if:test="platform:gnome-classic">A képernyő bal felső sarkában kattintson az <gui xref="shell-introduction#activities">Alkalmazások</gui> menüre, és válassza a <gui>Tevékenységek áttekintést</gui>.</p>
 </item>
 <item>
  <p>Kattintson egy munkaterületre a <link xref="shell-workspaces">munkaterület-választóban</link> a képernyő jobb oldalán a munkaterület ablakainak megjelenítéséhez.</p>
 </item>
 <item>
  <p>Kattintson egy ablak bélyegképére a munkaterület aktiválásához.</p>
 </item>
 </steps>
 
  <p if:test="platform:gnome-classic">Ennek alternatívájaként a munkaterületek közt válthat az alsó sávon lévő ablaklista jobb oldalán a munkaterület azonosítójára való kattintással, és a használni kívánt munkaterület kiválasztásával a menüből.</p>

 <list>
 <title>A billentyűzet használatával:</title>  
  <item>
    <p>Nyomja meg a <keyseq><key xref="keyboard-key-super">Super</key><key>Page Up</key></keyseq> vagy <keyseq><key>Ctrl</key><key>Alt</key><key>Up</key></keyseq> kombinációt a munkaterület-választóban az aktuális munkaterület fölött látható munkaterületre lépéshez.</p>
  </item>
  <item>
    <p>Nyomja meg a <keyseq><key>Super</key><key>Page Down</key></keyseq> vagy <keyseq><key>Ctrl</key><key>Alt</key><key>Down</key></keyseq> kombinációt a munkaterület-választóban az aktuális munkaterület alatti munkaterületre lépéshez.</p>
  </item>
 </list>

</page>
