<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="a11y task" id="a11y" xml:lang="lv">

  <info>
    <link type="guide" xref="index" group="a11y"/>

    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc><link xref="a11y#vision">Redzēšana</link>, <link xref="a11y#sound">dzirdēšana</link>, <link xref="a11y#mobility">kustība</link>, <link xref="a11y-braille">Brails</link>, <link xref="a11y-mag">ekrāna palielinātājs</link>…</desc>
  </info>

  <title>Universālā piekļuve</title>

  <p>GNOME darbvirsma iekļauj asistējošās tehnoloģijas, lai atbalstītu lietotājus ar dažādām invaliditātēm un speciālām vajadzībām, un lai sadarbotos ar vienkāršām asistējošām ierīcēm. Pieejamības izvēlni var pievienot augšējai joslai, lai tās būtu vieglāk pieejamas.</p>

  <section id="vision">
    <title>Redzes traucējumi</title>

    <links type="topic" groups="blind" style="linklist">
      <title>Aklums</title>
    </links>
    <links type="topic" groups="lowvision" style="linklist">
      <title>Vājredzība</title>
    </links>
    <links type="topic" groups="colorblind" style="linklist">
      <title>Krāsu aklums</title>
    </links>
    <links type="topic" style="linklist">
      <title>Citas tēmas</title>
    </links>
  </section>

  <section id="sound">
    <title>Dzirdes traucējumi</title>
    <links type="topic" style="linklist"/>
  </section>

  <section id="mobility">
    <title>Kustību traucējumi</title>

    <links type="topic" groups="pointing" style="linklist">
      <title>Peles kustība</title>
    </links>
    <links type="topic" groups="clicking" style="linklist">
      <title>Klikšķināšana un vilkšana</title>
    </links>
    <links type="topic" groups="keyboard" style="linklist">
      <title>Tastatūras izmantošana</title>
    </links>
    <links type="topic" style="linklist">
      <title>Citas tēmas</title>
    </links>
  </section>
</page>
