<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-whyadd" xml:lang="lv">

  <info>
    <link type="guide" xref="accounts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-02-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author copyright">
      <name>Susanna Huhtanen</name>
      <email>ihmis.suski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Kāpēc pievienot savus e-pasta vai sociālo mediju kontus savai darbvirsmai?</desc>
  </info>

  <title>Kāpēc pievienot kontu?</title>

  <p>Pievienojot tiešsaistes kontus, jūsu izvēlētie servisi, piemēram, kalendārs, tērzēšana un e-pasts, tiek pieslēgti jūsu darbvirsmai, lai padarītu jūsu dzīvi vienkāršāku un ērtāku, izmantojot šo servisu uzglabāto informāciju. Turklāt kontu pievienošana sniedz iespēju vienuviet lietot dažādiem kontiem piesaistītus servisus, piemēram, tērzēšanu. Tikai vienreiz iestatot kontus, jūs iegūsiet tūlītēju pieeju visiem pievienotajiem servisiem līdz ar katru sistēmas palaišanu.</p>

  <p>Skatiet <link xref="accounts-which-application"/>, lai uzzinātu, kuras lietotnes var piekļūt kuriem tiešsaistes pakalpojumiem.</p>
</page>
