<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrationdevices" xml:lang="lv">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Mēs atbalstam lielu skaitu kalibrācijas ierīču.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Kādi krāsu mērīšanas instrumenti tiek atbalstīti?</title>

  <p>GNOME balstās uz Argyll krāsu pārvaldības sistēmu, lai atbalstītu krāsu instrumentus. Tādējādi sekojoši displeja mērīšanas instrumenti ir atbalstīti:</p>

  <list>
    <item><p>Gretag-Macbeth i1 Pro (spektrometrs)</p></item>
    <item><p>Gretag-Macbeth i1 Monitor (spektrometrs)</p></item>
    <item><p>Gretag-Macbeth i1 Display 1, 2 or LT (kolorimetrs)</p></item>
    <item><p>X-Rite i1 Display Pro (kolorimetrs)</p></item>
    <item><p>X-Rite ColorMunki Design or Photo (spektrometrs)</p></item>
    <item><p>X-Rite ColorMunki Create (kolorimetrs)</p></item>
    <item><p>X-Rite ColorMunki Display (Kolorimetrs)</p></item>
    <item><p>Pantone Huey (kolorimetrs)</p></item>
    <item><p>MonacoOPTIX (kolorimetrs)</p></item>
    <item><p>ColorVision Spyder 2 and 3 (kolorimetrs)</p></item>
    <item><p>Colorimètre HCFR (kolorimetrs)</p></item>
  </list>

  <note style="tip">
   <p>Pantone Huey ir šobrīd lētākā un vislabāk atbalstītā aparatūra Linux vidē.</p>
  </note>

  <p>Pateicoties Argyll, tiek atbalstīti virkne punktu un strīpu lasīšanas reflektīvie spektrometri, kas var palīdzēt jums kalibrēt un raksturot jūsu printerus:</p>

  <list>
    <item><p>X-Rite DTP20 “Pulse” (“slaucīšanas” tipa refleksīvais spektrometrs)</p></item>
    <item><p>X-Rite DTP22 Digital Swatchbook (punktu tipa refleksīvais spektrometrs)</p></item>
    <item><p>X-Rite DTP41 (punktu un strīpu lasīšanas refleksīvais spektrometrs)</p></item>
    <item><p>X-Rite DTP41T (punktu un strīpu lasīšanas refleksīvais spektrometrs)</p></item>
    <item><p>X-Rite DTP51 (punktu lasīšanas refleksīvais spektrometrs)</p></item>
  </list>

</page>
