<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-edit-details" xml:lang="lv">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Rediģēt informāciju katram kontaktam.</desc>
  </info>

<title>Rediģēt kontaktinformāciju</title>

  <p>Kontaktu datu rediģēšana palīdz uzturēt pilnvērtīgu informāciju jūsu adrešu grāmatā.</p>

  <steps>
    <item>
      <p>No kontaktu saraksta izvēlieties kontaktu.</p>
    </item>
    <item>
      <p>Spiediet <gui style="button">Rediģēt</gui> lietotnes<app>Kontakti</app> augšējā labajā stūrī.</p>
    </item>
    <item>
      <p>Rediģēt kontaktinformāciju.</p>
      <p>Lai pievienotu <em>informāciju</em>, piemēram, jaunu tālruņa numuru vai e-pasta adresi, <gui style="button">Jauna informācija</gui> un izvēlieties lauku, kuru vēlaties pievienot.</p>
    </item>
    <item>
      <p>Spiediet <gui style="button">Pabeigt</gui>, lai beigturediģēt kontaktu.</p>
    </item>
  </steps>

</page>
