<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="hardware" xml:lang="lv">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">Aparatūra</title>

    <desc><link xref="hardware#problems">Aparatūras problēmas</link>, <link xref="printing">printeri</link>, <link xref="power">barošanas iestatījumi</link>, <link xref="color">krāsu pārvaldība</link>, <link xref="bluetooth">Bluetooth</link>, <link xref="disk">diski</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Aparatūra un draiveri</title>

<links type="topic" style="toronto"/>

<links type="topic" style="linklist" groups="more">
  <title>Vairāk tematu</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">Problēmas</title>
    <title type="link">Aparatūras problēmas</title>
  </info>
 <title>Biežākās problēmas</title>
 <links type="topic" style="linklist"/>
</section>

</page>
