<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="keyboard-nav" xml:lang="lv">
  <info>
    <link type="guide" xref="keyboard" group="a11y"/>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="seealso" xref="shell-keyboard-shortcuts"/>

    <revision pkgversion="3.7.5" version="0.2" date="2013-02-23" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.20" date="2016-08-13" status="candidate"/>
    <revision pkgversion="3.29" date="2018-08-27" status="review"/>

    <credit type="author">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
       <name>Julita Inca</name>
       <email>yrazes@gmail.com</email>
    </credit>
    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
       <name>Ekaterina Gerasimova</name>
       <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Izmantojiet lietotnes un darbvirsmu bez peles</desc>
  </info>

  <title>Navigācija ar tastatūru</title>

  <p>Šī lapa apraksta navigāciju ar tastatūru cilvēkiem, kas nevar izmantot peli vai citu norādīšanas ierīci, vai arī kuri vēlas izmantot tastatūru cik daudz vien iespējams. Lai uzzinātu tastatūras saīsnes, kas ir noderīgas visiem lietotājiem skatiet <link xref="shell-keyboard-shortcuts"/>.</p>

  <note style="tip">
    <p>Ja jums sagādā grūtības peles vai citas norādīšanas ierīces izmantošana, var kontrolēt peles kursoru ar cipartastatūru. Skatiet <link xref="mouse-mousekeys"/> , lai uzzinātu vairāk.</p>
  </note>

<table frame="top bottom" rules="rows">
  <title>Pārvietojieties pa lietotāju saskarnēm</title>
  <tr>
    <td><p><key>Tab</key> and</p>
    <p><keyseq><key>Ctrl</key><key>Tab</key></keyseq></p>
    </td>
    <td>
      <p>Pārvietojiet tastatūras fokusu starp dažādām kontrolēm. <keyseq><key>Ctrl</key> <key>Tab</key></keyseq> pārvietojas starp kontroļu grupām, kā, piemēram, no sānu joslas uz galveno saturu. <keyseq><key>Ctrl</key><key>Tab</key></keyseq> var arī ļaut jums izkļūt no kontroles, kas pati izmanto <key>Tab</key> taustiņu, kā piemēram teksta lauks.</p>
      <p>Turiet nospiestu <key>Shift</key>, lai parvietotu fokusu pretējā virzienā.</p>
    </td>
  </tr>
  <tr>
    <td><p>Bultiņu taustiņi</p></td>
    <td>
      <p>Pārvietojiet izvēli starp vienumiem atsevišķā kontrolē, vai arī starp saistītu kontroļu kopām. Izmantojiet bultiņu taustiņus lai fokusētu pogas rīkjoslā, izvēlētos vienumus saraksta vai ikonu skatā, vai arī lai izvēlētos radio pogu no grupas.</p>
    </td>
  </tr>
  <tr>
    <td><p><keyseq><key>Ctrl</key>Bultiņu taustiņi</keyseq></p></td>
    <td><p>Saraksta vai ikonu skatā pārvietojiet tastatūras fokusu uz citu vienumu bez izvēlētā vienuma maiņas.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Shift</key>Bultiņu taustiņi</keyseq></p></td>
    <td><p>Saraksta vai ikonu skatā izvēlieties visus vienumus no pašreiz izvēlētā vienuma līdz fokusētajam.</p>
    <p>Koka skatā var sakļaut un izvērst vienumus, kuriem ir bērni, lai parādītu vai slēptu to bērnus — izvērsiet, spiežot <keyseq><key>Shift</key><key>→</key></keyseq>, un sakļaujiet, spiežot <keyseq><key>Shift</key><key>←</key></keyseq>.</p></td>
  </tr>
  <tr>
    <td><p><key>Atstarpe</key></p></td>
    <td><p>Aktivizēt fokusēto vienumu - tādu kā pogu, izvēles rūtiņu vai saraksta vienumu.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Ctrl</key><key>Atstarpe</key></keyseq></p></td>
    <td><p>Saraksta vai ikonu skatā atlasīt vai noņemt atlasi fokusētajam vienumam bez tās noņemšanas cietiem vienumiem. </p></td>
  </tr>
  <tr>
    <td><p><key>Alt</key></p></td>
    <td><p>Turiet nospiestu <key>Alt</key> taustiņu, lai ieraudzītu <em>paātrinātājus</em>: pasvītrotus burtus izvēlņu vienumos, pogu uzrakstos un citās kontrolēs. Spiediet <key>Alt</key> kopā ar pasvītroto burtu, lai aktivizētu kontroli, tāpat kā jūs to klikšķinātu.</p></td>
  </tr>
  <tr>
    <td><p><key>Esc</key></p></td>
    <td><p>Iziet no izvēlnes, iznirstošās izvēlnes, pārslēdzēja vai dialoglodziņa.</p></td>
  </tr>
  <tr>
    <td><p><key>F10</key></p></td>
    <td><p>Atvērt pirmo izvēlni loga izvēlņu joslā. Izmantojiet bultiņu taustiņus, lai pārvietotos par tām.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key xref="keyboard-key-super">Super</key> <key>F10</key></keyseq></p></td>
    <td><p>Atveriet lietotnes izvēlni augšējā joslā.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Shift</key><key>F10</key></keyseq> or</p>
    <p><key xref="keyboard-key-menu">Menu</key></p></td>
    <td>
      <p>Parādīt uznirstošo izvēlni šī brīža izvēlei, tā kā jūs būtu veicis klikšķi ar labo peles taustiņu.</p>
    </td>
  </tr>
  <tr>
    <td><p><keyseq><key>Ctrl</key><key>F10</key></keyseq></p></td>
    <td><p>Datņu pārvaldniekā parādīt uznirstošo izvēlni pašreizējai mapei, tā kā jūs būtu veicis klikšķi ar labo peles taustiņu uz fona, nevis uz kāda no mapes vienumiem.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Ctrl</key><key>PageUp</key></keyseq></p>
    <p>and</p>
    <p><keyseq><key>Ctrl</key><key>PageDown</key></keyseq></p></td>
    <td><p>Saskarnē ar cilņiem pārslēgties uz cilni pa kreisi vai labi.</p></td>
  </tr>
</table>

<table frame="top bottom" rules="rows">
  <title>Pārvietoties pa darbvirsmu</title>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="alt-f1"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="super-tab"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="super-tick"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="ctrl-alt-tab"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="super-updown"/>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F6</key></keyseq></p></td>
    <td><p>Pārslēgties starp vienas lietotnes logiem. Turot <key>Alt</key> taustiņu un spiežot <key>F6</key> kamēr logs, uz kuru vēlaties pārslēgties ir izgaismots, tad atlaidiet <key>Alt</key>. Šī iespēja ir līdzīga <keyseq><key>Alt</key><key>`</key></keyseq>.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>Esc</key></keyseq></p></td>
    <td><p>Iziet cauri visiem atvērtajiem logiem darbvietā.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Super</key><key>V</key></keyseq></p></td>
    <td><p><link xref="shell-notifications#notificationlist">Open the
    notification list.</link> Press <key>Esc</key> to close.</p></td>
  </tr>
</table>

<table frame="top bottom" rules="rows">
  <title>Pārvietoties starp logiem</title>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F4</key></keyseq></p></td>
    <td><p>Aizvērt aktīvo logu.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F5</key></keyseq> vai <keyseq><key>Super</key><key>↓</key></keyseq></p></td>
    <td><p>Atjaunot maksimizēta loga iepriekšējo izmēru. Izmantojiet <keyseq><key>Alt</key><key>F10</key></keyseq>, lai maksimizētu vai atjaunotu loga izmēru.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F7</key></keyseq></p></td>
    <td><p>Pārvietot pašreizējo logu. Spiediet <keyseq><key>Alt</key><key>F7</key></keyseq>, tad izmantojiet bultiņu taustiņus lai pārvietotu logu. Spiediet <key>Enter</key>, lai pabeigtu loga pārvietošanu, vai arī <key>Esc</key>, lai atgrieztu to sākotnējā vietā.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F8</key></keyseq></p></td>
    <td><p>Mainīt pašreizējā loga izmērus. Spiediet <keyseq><key>Alt</key><key>F8</key></keyseq>, lai izmantotu bultiņu taustiņus loga izmēru mainīšanai. Spiediet <key>Enter</key>, lai pabeigtu loga izmēru mainīšanu, vai arī <key>Esc</key>, lai atgrieztu to sākotnējos izmēros.</p></td>
  </tr>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="shift-super-updown"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="shift-super-left"/>
  <include xmlns="http://www.w3.org/2001/XInclude" href="shell-keyboard-shortcuts.page" xpointer="shift-super-right"/>
  <tr>
    <td><p><keyseq><key>Alt</key><key>F10</key></keyseq> vai <keyseq><key>Super</key><key>↑</key></keyseq></p>
    </td>
    <td><p><link xref="shell-windows-maximize">Maksimizēt</link> logu. Spiediet <keyseq><key>Alt</key><key>F10</key></keyseq> vai <keyseq><key>Super</key><key>↓</key></keyseq>, lai atjaunotu maksimizēto logu tā sākotnējos izmēros.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Super</key><key>H</key></keyseq></p></td>
    <td><p>Minimizēt logu.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Super</key><key>←</key></keyseq></p></td>
    <td><p>Maksimizēt logu pa vertikāli kreisajā pusē ekrānam. Spiediet atkal lai atgrieztu logu tā sākotnējos izmēros. Spiediet <keyseq><key>Super</key><key>→</key></keyseq>, lai mainītu puses.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Super</key><key>→</key></keyseq></p></td>
    <td><p>Maksimizēt logu pa vertikāli labajā pusē ekrānam. Spiediet atkal lai atgrieztu logu tā sākotnējos izmēros. Spiediet <keyseq><key>Super</key><key>←</key></keyseq>, lai mainītu puses.</p></td>
  </tr>
  <tr>
    <td><p><keyseq><key>Alt</key><key>Atstarpe</key></keyseq></p></td>
    <td><p>Atver uznirstošo loga izvēlni, tā kā jūs būtu veicis klikšķi ar labo peles taustiņu uz visraksta joslas.</p></td>
  </tr>
</table>

</page>
