<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-default-email" xml:lang="lv">

  <info>
    <link type="guide" xref="net-email"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-10-30" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Nomainiet noklusējuma e-pasta klientu, ejot uz <gui>Sīkāka informācija</gui> sadaļā <gui>Iestatījumi</gui>.</desc>
  </info>

  <title>Nomainiet, kura pasta lietotne tiks izmantota, lai rakstītu e-pastus.</title>

  <p>Nospiežot pogu vai adresi, lai sūtītu jaunu e-pastu (piemēram, teksta redaktorā), noklusējuma pasta lietotne atvērsies ar tukšu ziņu un būs sagatavota, lai varētu uzrakstīt vēstuli. Ja ir instalēta vairāk nekā viena pasta lietotne, iespējams, var atvērties nepareizā pasta lietotne. To varat izlabot, nomainot noklusējuma e-pasta lietotni:</p>

  <steps>
    <item>
      <p>Atveriet <link xref="shell-introduction#activities">aktivitāšu</link> pārskatu un sāciet rakstīt <gui>Sīkāka informācija</gui>.</p>
    </item>
    <item>
      <p>Spiediet <gui>Sīkāka informācija</gui>, lai atvērtu paneli.</p>
    </item>
    <item>
      <p>Izvēlieties <gui>Noklusējuma lietotnes</gui> loga kreisās puses sarakstā.</p>
    </item>
    <item>
      <p>Izvēlieties, kuru e-pasta klientu vēlaties izmantot kā noklusējuma, mainot <gui>Pasts</gui> opciju.</p>
    </item>
  </steps>

</page>
