<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net" xml:lang="lv">

  <info>
    <link type="guide" xref="index" group="net"/>

    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2015</years>
    </credit>

    <desc><link xref="net-wireless">Bezvadu tīkls</link>, <link xref="net-wired">vadu</link>, <link xref="net-problem">savienojumu problēmas</link>, <link xref="net-browser">tīmekļa pārlūkošana</link>, <link xref="net-email">e-pasta konti</link>…</desc>
<!--
    chat…
-->
<!--
    <desc>
      <link xref="net#problems">Connection problems</link>,
      <link xref="net#wireless">wireless</link>,
      <link xref="net#wired">wired</link>,
      <link xref="net#sharing">sharing files</link>,
      <link xref="net#security">security</link>,
      <link xref="net#security">anti-virus</link>…
    </desc>

-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Tīkls, tīmeklis un e-pasts</title>

<links type="topic" style="toronto"/>

</page>
