<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-constantfan" xml:lang="lv">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Varbūt trūkst kādas ventilatora programmatūras, vai arī klēpjdators varētu būt pārkarsis.</desc>

    <credit type="author">
      <name>GNOME dokumentācijas projekts</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Klēpjdatora ventilators vienmēr griežas</title>

<p>Ja dzesēšanas ventilators jūsu klēpjdatorā vienmēr griežas, iespējams, ka aparatūrai, kas kontrolē dzesēšanas sistēmu, trūkst atbalsta darbam ar Linux. Dažiem klēpjdatoriem nepieciešama papildu programmatūra, lai efektīvi kontrolētu ventilatorus, un šī programmatūra varētu būt vēl neinstalēta (vai vispār nepielāgota Linux videi), tāpēc ventilatori vienkārši pastāvīgi strādā aktīvākajā režīmā.</p>

<p>Tādā gadījumā var būt iespējams mainīt iestatījumus vai instalēt programmatūru, lai iegūtu pilnvērtīgu ventilatoru kontroli. Piemēram, dažiem Sony VAIO klēpjdatoriem var instalēt <link href="http://vaio-utils.org/fan/">vaiofand</link>. Tas ir diezgan tehnisks process, kas ir ļoti atkarīgs no klēpjdatora modeļa, tāpēc ir vērts pajautāt padomu, kas attiecas tieši uz jūsu datoru.</p>

<p>Ir iespējams arī, ka jūsu klēpjdators vienkārši izdala daudz siltuma. Tas nenozīmē, ka dators pārkarst; iespējams, ka pietiekamai dzesēšanai vienkārši ir nepieciešams pastāvīgi darbināt ventilatoru. Tādā gadījumā nāksies vien ļaut ventilatoram griezties. Dažkārt var palīdzēt arī veikalos nopērkamie klēpjdatoru dzesēšanas aksesuāri.</p>

</page>
