<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="fonts-user" xml:lang="es">

  <info>
    <link type="guide" xref="appearance"/>
    <revision pkgversion="3.11" date="2014-01-29" status="draft"/>

    <credit type="author copyright">
      <name>Matthias Clasen</name>
      <email>matthias.clasen@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Jana Svarova</name>
      <email>jana.svarova@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Añadir tipografías adicionales para usuarios individuales.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Oliver Gutiérrez</mal:name>
      <mal:email>ogutsua@gmail.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2017 - 2018</mal:years>
    </mal:credit>
  </info>

  <title>Añadir una tipografía adicional para usuarios individuales</title>

  <p>Puede instalar una tipografía adicional que estará disponible para un usuario específico de su sistema en aplicaciones que usen <sys>fontconfig</sys> para administrar tipografías.</p>

  <steps>
    <title>Instalar una tipografía adicional</title>
    <item>
      <p>Copie la fuente a la carpeta <file>~/.local/share/fonts/</file> para instalarla.</p>
    </item>
    <item>
      <p>Puede necesitar ejecutar el siguiente comando para actualizar la caché de fuentes:</p>
      <screen><output>$ </output><input>fc-cache ~/.local/share/fonts</input></screen>
    </item>
  </steps>

  <p>Puede necesitar reiniciar las aplicaciones en ejecución para ver los cambios. No es necesario reiniciar las sesiones de usuario.</p>

</page>
