<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract" xml:lang="de">

  <info>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="password-protection"/>
    <link type="seealso" xref="archive-extract-advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="review"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email its:translate="no">majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Dateien oder Ordner aus einem Archiv entpacken.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jan Arne Petersen</mal:name>
      <mal:email>jpetersen@jpetersen.org</mal:email>
      <mal:years>2006</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008, 2009, 2011-2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>christian.kirbach@gmail.com</mal:email>
      <mal:years>2011, 2012, 2013, 2015</mal:years>
    </mal:credit>
  </info>

  <title>Ein Archiv entpacken</title>

  <p>Entpacken Sie Dateien aus einem Archiv mit der <app>Archivverwaltung</app> wie folgt:</p>

  <steps>
    <item>
      <p><link xref="archive-open">Öffnen</link> Sie ein Archiv.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui style="button">Entpacken</gui>.</p>
    </item>
    <item>
      <p>Wählen Sie im Dateiwähler, wohin Sie das Archiv entpacken wollen. Dies entspricht dem Zielordner. Lesen Sie <link xref="archive-extract-advanced-options">Fortgeschrittene Optionen zum Entpacken von Archiven</link> für Informationen über weitere Einstellungen.</p>
    </item>
    <item>
      <p>Klicken Sie auf <gui>Entpacken</gui>.</p>
    </item>
    <item>
      <p>Falls das Archiv durch ein <link xref="password-protection">Passwort</link> geschützt ist, wird die <app>Archivverwaltung</app> Sie danach fragen. Geben Sie das Passwort ein und klicken Sie auf <gui>OK</gui>.</p>
    </item>
    <item>
      <p>Die Anwendung zeigt einen Fortschrittsbalken in einem neuen Fenster an. Sobald das Entpacken erfolgreich abgeschlossen ist, können Sie zwischen folgenden Optionen wählen:</p>
      <list>
        <item>
          <p><gui>Beenden</gui> - dadurch wird die <app>Archivverwaltung</app> beendet.</p>
        </item>
        <item>
          <p><gui>Dateien anzeigen</gui> - der Zielordner wird in der Anwendung <app>Dateien</app> angezeigt.</p>
        </item>
        <item>
          <p><gui>Schließen</gui> Sie den Dialog.</p>
        </item>
      </list>
    </item>
  </steps>

</page>
