<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="usage" xml:lang="bg">
<info>
  <link type="guide" xref="index"/>
  <desc>You can use <app>Zenity</app> to create simple dialogs that interact graphically with the user.</desc>
</info>
<title>Употреба</title>
    <p>
	When you write scripts, you can use <app>Zenity</app> to create simple dialogs that interact graphically with the user, as follows:
    </p>
    <list>
      <item>
        <p>Може да създавате прозорци, които да изискват информация от потребителя. Примерно, може да питате потребителя да изберете дата от календарен прозорец или да избере файл от прозорец за избор на файл.</p>
      </item>
      <item>
        <p>Може да създавате прозорци, които да предоставят информация на потребителя. Примерно, може да използвате прозорец за прогрес, за да покажете текущото състояние на операция или да използвате предупредително съобщение, за да сигнализирате за нещо на потребителя.</p>
      </item>
    </list>
    <p>
	When the user closes the dialog, <app>Zenity</app> prints the text produced by the dialog to standard output.
    </p>

    <note>
      <p>
        When you write <app>Zenity</app> commands, ensure that you place quotation marks around each argument. 
      </p>
      <p>For example, use:</p>
      <screen>zenity --calendar --title="Holiday Planner"</screen>
      <p>Do not use:</p>
      <screen>zenity --calendar --title=Holiday Planner</screen>
      <p>Ако не използвате кавички, може да получите неочаквани резулати.</p>
    </note>

    <section id="zenity-usage-mnemonics">
      <title>Бързи клавиши</title>
	<p>Бързият клавиш е клавиш, който Ви позволява да извършвате действие от клавиатурата без да използвате мишката, за да изберете командата от менюто или прозореца. Всеки бърз клавиш се идентифицира от подчертана буква в менюто или прозореца.</p>
	<p>
          Some <app>Zenity</app> dialogs support the use of access keys. To specify the character to use as the access key, place an underscore before that character in the text of the dialog. The following example shows how to specify the letter 'C' as the access key:
	</p>
	<screen><input>"_Choose a name".</input></screen>
    </section>

    <section id="zenity-usage-exitcodes">
      <title>Изходни кодове</title>
    <p>
        Zenity returns the following exit codes:
    </p>

    <table frame="all" rules="all">
        <thead>
          <tr>
            <td>
              <p>Изходен код</p></td>
            <td>
              <p>Описание</p></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><var>0</var></p>
            </td>
            <td>
              <p>The user has pressed either <gui style="button">OK</gui> or <gui style="button">Close</gui>.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>1</var></p>
            </td>
            <td>
              <p>The user has either pressed <gui style="button">Cancel</gui>, or used the window functions to close the dialog.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>-1</var></p>
            </td>
            <td>
              <p>Възникнала е неочаквана грешка.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>5</var></p>
            </td>
            <td>
              <p>The dialog has been closed because the timeout has been reached.</p>
            </td>
          </tr>
        </tbody>
    </table>

    </section>


  <!-- ==== General Options ====== -->

  <section id="zenity-usage-general-options">
    <title>Общи настройки</title>

    <p>
	All Zenity dialogs support the following general options:
    </p>

    <terms>

      <item>
        <title><cmd>--title</cmd>=<var>title</var></title>
	<p>Определя заглавието на прозореца.</p>
      </item>

      <item>
        <title><cmd>--window-icon</cmd>=<var>icon_path</var></title>
	<p>Определя иконата, която ще се показва в рамката на прозореца. Има 4 генерални икони, които са налични чрез доставяне на следните ключови думи - 'info', warning', 'question' и 'error'.</p>
      </item>

      <item>
        <title><cmd>--width</cmd>=<var>width</var></title>
	<p>Определя ширината на прозореца.</p>
      </item>

      <item>
        <title><cmd>--height</cmd>=<var>height</var></title>
	<p>Определя височината на прозореца.</p>
      </item>

      <item>
        <title><cmd>--timeout</cmd>=<var>timeout</var></title>
	<p>Specifies the timeout in seconds after which the dialog is closed.</p>
      </item>

    </terms>

  </section>

<!-- ==== Miscellaneous Options ====== -->

  <section id="zenity-help-options">
    <title>Настройки на помощта</title>

    <p>
	Zenity provides the following help options:
    </p>

    <terms>

      <item>
        <title><cmd>--help</cmd></title>
	<p>Показва скъсен текст за помощ.</p>
      </item>

      <item>
        <title><cmd>--help-all</cmd></title>
	<p>Показва пълния текст за помощ за всички прозорци.</p>
      </item>
 
      <item>
        <title><cmd>--help-general</cmd></title>
	<p>Показва помощния текст за общите настройки.</p>
      </item>
 
      <item>
        <title><cmd>--help-calendar</cmd></title>
	<p>Показва помощния текст за календарните настройки.</p>
      </item>
 
      <item>
        <title><cmd>--help-entry</cmd></title>
	<p>Показва помощния текст за настройки по текстовите полета.</p>
      </item>
 
      <item>
        <title><cmd>--help-error</cmd></title>
	<p>Показва помощния текст за настройките за грешка.</p>
      </item>
 
      <item>
        <title><cmd>--help-info</cmd></title>
	<p>Показва помощния текст за настройките на прозорци за информация.</p>
      </item>
 
      <item>
        <title><cmd>--help-file-selection</cmd></title>
	<p>Показва помощния текст за настройките на прозорци за избор на файл.</p>
      </item>
 
      <item>
        <title><cmd>--help-list</cmd></title>
	<p>Показва помощния текст за настройките на списъчните прозорци.</p>
      </item>
 
      <item>
        <title><cmd>--help-notification</cmd></title>
	<p>Показва помощния текст за настройките на иконата за уведомяване.</p>
      </item>
 
      <item>
        <title><cmd>--help-progress</cmd></title>
	<p>Показва помощния текст за настройките на прогреса.</p>
      </item>
 
      <item>
        <title><cmd>--help-question</cmd></title>
	<p>Показва помощния текст за настройките за прозорците за въпроси.</p>
      </item>
 
      <item>
        <title><cmd>--help-warning</cmd></title>
	<p>Показва помощния текст за настройките за предупредителните прозорци.</p>
      </item>
 
      <item>
	<title><cmd>--help-text-info</cmd></title>
	<p>Показва помощния текст за настройките на текстовата информация.</p>
      </item>
 
      <item>
        <title><cmd>--help-misc</cmd></title>
	<p>Показва помощта за допълнителните настройки.</p>
      </item>
 
      <item>
        <title><cmd>--help-gtk</cmd></title>
	<p>Показва помощта за GTK+ настройките.</p>
      </item>
 
    </terms>

  </section>

<!-- ==== Miscellaneous Options ====== -->

  <section id="zenity-miscellaneous-options">
    <title>Допълнителни настройки</title>

    <p>
	Zenity also provides the following miscellaneous options:
    </p>

    <terms>

      <item>
        <title><cmd>--about</cmd></title>
	<p>Displays the <gui>About Zenity</gui> dialog, which contains Zenity version information, copyright information, and developer information.</p>
      </item>

      <item>
        <title><cmd>--version</cmd></title>
	<p>Displays the version number of Zenity.</p>
      </item>

    </terms>

  </section>

<!-- ==== GTK+ Options ====== -->

  <section id="zenity-gtk-options">
    <title>GTK+ настройки</title>

    <p>
	Zenity supports the standard GTK+ options. For more information about the GTK+ options, execute the <cmd>zenity --help-gtk</cmd> command.
    </p>

  </section>

<!-- ==== Environment variables ==== -->

  <section id="zenity-environment-variables">
    <title>Environment Variables</title>

    <p>
      Normally, Zenity detects the terminal window from which it was launched
      and keeps itself above that window.  This behavior can be disabled by
      unsetting the <var>WINDOWID</var> environment variable.
    </p>

  </section>
</page>
