<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="warning" xml:lang="bg">
  <info>
    <link type="guide" xref="message"/>
    <desc>Use the <cmd>--warning</cmd> option.</desc>
  </info>
  <title>Прозорец за предупреждение</title>
      <p>
          Use the <cmd>--warning</cmd> option to create a warning dialog.
      </p>

      <p>
        The following example script shows how to create a warning dialog:
      </p>

<code>
#!/bin/bash

zenity --warning \
--text="Disconnect the power cable to avoid electrical shock."
</code>

      <figure>
        <title>Пример за прозорец за предупреждение</title>
	<desc><app>Zenity</app> warning dialog example</desc>
        <media type="image" mime="image/png" src="figures/zenity-warning-screenshot.png"/>
      </figure>
</page>
