<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip 2column" id="more-help" xml:lang="hi">
  <info>
    <link type="guide" xref="index" group="more-help"/>


    <credit type="author">
      <name>टैफ्फिनी अंटोपोलस्की</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc>
        <link xref="about-this-guide">Tips on using this guide</link>,
        <link xref="get-involved">help improve this guide</link>,
        <link xref="help-mailing-list">mailing list</link>,
        <link xref="help-irc">IRC</link></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Get more help</title>
  <p>

  </p>

</page>
