<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-ipodtransfer" xml:lang="hi">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>ग्नोम प्रलेखन परियोजना</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>Use a media player to copy the songs and safely remove the iPod afterward.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Songs don’t appear on my iPod when I copy them onto it</title>

<p>When you plug an iPod into your computer, it will appear in your music player application and also in the file manager (the <app>Files</app> application in the <gui>Activities</gui> overview). You must copy songs onto the iPod using the music player — if you copy them across using the file manager, it won’t work because the songs won’t be put into the right location. iPods have a special location for storing songs which music player applications know how to get to but the file manager does not.</p>

<p>You also need to wait for the songs to finish copying to the iPod before you unplug it. Before unplugging the iPod, make sure you choose to <link xref="files-removedrive">safely remove it</link>. This will make sure that all of the songs have been copied across properly.</p>

<p>A further reason why songs might not be appearing on your iPod is that the music player application you’re using does not support converting the songs from one audio format to another. If you copy a song which is saved in an audio format that is not supported by your iPod (for example, an Ogg Vorbis (.oga) file), the music player will try to convert it to a format that the iPod does understand, such as MP3. If the appropriate conversion software (also called a codec or encoder) is not installed, the music player will not be able to do the conversion and so will not copy the song. Look in the software installer for an appropriate codec.</p>

</page>
