<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-edit-details" xml:lang="da">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Edit the information for each contact.</desc>
  </info>

<title>Edit contact details</title>

  <p>Editing contact details helps you keep the information in your address
  book up to date and complete.</p>

  <steps>
    <item>
      <p>Select the contact from your contact list.</p>
    </item>
    <item>
      <p>Press <gui style="button">Edit</gui> in the top-right corner of
      <app>Contacts</app>.</p>
    </item>
    <item>
      <p>Edit the contact details.</p>
      <p>To add a <em>detail</em> such as a new phone number or email
      address, press <gui style="button">New Detail</gui> and select the field
      that you want to add.</p>
    </item>
    <item>
      <p>Press <gui style="button">Done</gui> to finish editing the
      contact.</p>
    </item>
  </steps>

</page>
