<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-differentsize" xml:lang="da">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <its:rules xmlns:its="http://www.w3.org/2005/11/its" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xlink:type="simple" xlink:href="gnome-help.its"/>

    <desc>Print a document on a different paper size or orientation.</desc>
  </info>

  <title>Change the paper size when printing</title>

  <p>If you want to change the paper size of your document (for example, print
  a US Letter-sized PDF on A4 paper), you can change the printing format for
  the document.</p>

  <steps>
    <item>
      <p>Open the print dialog by pressing
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p>Select the <gui>Page Setup</gui> tab.</p>
    </item>
    <item>
      <p>Under the <gui>Paper</gui> column, choose your <gui>Paper size</gui>
      from the drop-down list.</p>
    </item>
    <item>
      <p>Klik på <gui>Udskriv</gui> for at udskrive dit dokument.</p>
    </item>
  </steps>

  <p>You can also use the <gui>Orientation</gui> drop-down list to choose a
  different orientation:</p>

  <list>
    <item><p><gui>Portrait</gui></p></item>
    <item><p><gui>Landscape</gui></p></item>
    <item><p><gui>Reverse portrait</gui></p></item>
    <item><p><gui>Reverse landscape</gui></p></item>
  </list>

</page>
