<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="da">

  <info>
    <link type="guide" xref="index"/>
    <revision pkgversion="3.4" date="2012-01-18" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email its:translate="no">majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Introduktion til GNOMEs <app>Arkivhåndtering</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flemming Christensen</mal:name>
      <mal:email>fc@stromata.dk</mal:email>
      <mal:years>2011, 2012, 2013</mal:years>
    </mal:credit>
  </info>

  <title>Indledning</title>

  <p><app>Arkivhåndtering</app> er et program til håndtering af arkivfiler, eksempelvis, <file>.zip</file>- eller <file>.tar</file>-filer; det er beregnet på at være let at bruge. <app>Arkivhåndtering</app> indeholder alle de nødvendige redskaber til oprettelse, ændring og udpakning af arkiver.</p>

  <note style="advanced">
    <p>Et arkiv består af en eller flere filer og mapper sammen med metadata. Det kan være helt eller delvis krypteret. Arkivfiler er nyttige til opbevaring af data og overførelse af dem mellem computere, da de lader dig samle mange filer i en enkelt fil.</p>
  </note>

  <p>Med <app>arkivhåndtering</app> kan du:</p>
  <list>
    <item><p>oprette et nyt arkiv</p></item>
    <item><p>gennemse indholdet af et eksisterende arkiv</p></item>
    <item><p>se en fil i et arkiv</p></item>
    <item><p>ændre eksisterende arkiver</p></item>
    <item><p>udpakke filer fra et arkiv</p></item>
  </list>

  <!-- The screenshot comes shows this help in an archive -->
  <figure>
    <title>Gennemse et arkiv med <gui>arkivhåndtering</gui></title>
    <media type="image" mime="image/png" src="figures/file-roller-3-28.png">
    <p>Skærmbillede af <app>arkivhåndterings</app> hovedvindue.</p>
    </media>
  </figure>

</page>
