<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-terminal-sizes" xml:lang="fi">

  <info>
    <revision version="0.1" date="2013-02-25" status="candidate"/>
    <link type="guide" xref="index#appearance"/>
    <link type="guide" xref="adv-keyboard-shortcuts"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Change the <app>Terminal</app> window size.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sami Jaktholm</mal:name>
      <mal:email>sjakthol@outlook.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>

  <title><app>Päätteen</app> koko</title>

  <p><app>Pääteikkunan</app> kokoa voi joutua muuttamaan, jos käytössä on ohjelmia, jotka vaativat tietyn vähimmäismäärän tilaa toimiakseen oikein tai joiden tulosterivit ovat niin pitkiä, että niitä joudutaan turhan kapean ikkunan johdosta jakamaan usealle riville.</p>

  <p><app>Pääte-ikkunan</app> koon voi valita muutamien esiasetusten joukosta:</p>
  
  <steps>
    <item>
      <p>Valitse <gui style="menu">Pääte</gui>.</p>
    </item>
    <item>
      <p>Valitse yksi seuraavista vaihtoehdoista:</p>
      <list>
        <item>
          <p><gui style="menuitem">80×24</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">80×43</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">132×24</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">132×43</gui></p>
        </item>
      </list>
    </item>
  </steps>

  <note style="tip">
    <p>If you have enabled <link xref="pref-keyboard-access"><gui>Menu access
    keys</gui></link>, you can access this menu by pressing
    <keyseq><key>Alt</key><key>T</key></keyseq> and then pressing <key>1</key>
    to switch the <app>Terminal</app> window to size <gui>80×24</gui> and so
    on.</p>
  </note>

  <p>If you require custom size <app>Terminal</app> windows, you can also set
  the default window size according to your requirements:</p>

  <steps>
    <item>
      <p>Open <guiseq><gui style="menu">Edit</gui>
      <gui style="menuitem">Preferences</gui></guiseq>.</p>
    </item>
    <item>
      <p>Your current profile is selected in the sidebar. If you wish to edit
      a different profile, click on its name.</p>
    </item>
    <item>
      <p>Select <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Set <gui>Initial terminal size</gui> by typing the desired number of columns and
      rows in the corresponding input boxes. You can also click
      <gui style="button">+</gui> to increase or <gui style="button">-</gui> to
      decrease the size.</p>
    </item>
  </steps>

</page>
