<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="scale" xml:lang="oc">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use the <cmd>--scale</cmd> option.</desc>
  </info>
  <title>Scale Dialog</title>
  <p>
    Use the <cmd>--scale</cmd> option to create a scale dialog. 
  </p>
  <p>
    The scale dialog supports the following options:
  </p>

  <terms>

    <item>
      <title><cmd>--text</cmd>=<var>TEXT</var></title>
      <p>Set the dialog text. (Default: Adjust the scale value)</p>
    </item>

    <item>
      <title><cmd>--value</cmd>=<var>VALUE</var></title>
      <p>Set initial value. (Default: 0) You must specify value between minimum value to maximum value.</p>
    </item>

    <item>
      <title><cmd>--min-value</cmd>=<var>VALUE</var></title>
      <p>Set minimum value. (Default: 0)</p>
    </item>

    <item>
      <title><cmd>--max-value</cmd>=<var>VALUE</var></title>
      <p>Set maximum value. (Default: 100)</p>
    </item>

    <item>
      <title><cmd>--step</cmd>=<var>VALUE</var></title>
      <p>Set step size. (Default: 1)</p>
    </item>

    <item>
      <title><cmd>--print-partial</cmd></title>
      <p>Print value to standard output, whenever a value is changed. </p>
    </item>

    <item>
      <title><cmd>--hide-value</cmd></title>
      <p>Hide value on dialog.</p>
    </item>

  </terms>

  <p>
    The following example script shows how to create a scale dialog:
  </p>

<code>
#!/bin/sh

VALUE=`zenity --scale --text="Select window transparency." --value=50`

case $? in
         0)
		echo "You selected $VALUE%.";;
         1)
                echo "No value selected.";;
        -1)
                echo "An unexpected error has occurred.";;
esac
</code>

  <figure>
    <title>Scale Dialog Example</title>
    <desc><app>Zenity</app> scale dialog example</desc>
    <media type="image" mime="image/png" src="figures/zenity-scale-screenshot.png"/>
  </figure>

</page>
