<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="txt-copy-paste" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="index#textoutput"/>
    <link type="seealso" xref="adv-keyboard-shortcuts"/>

    <revision version="0.1" date="2013-03-03" status="candidate"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Copie e cole texto no <app>Terminal</app>.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luciana Bastos de Freitas Menezes</mal:name>
      <mal:email>lubfm@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andrius da Costa Ribas</mal:name>
      <mal:email>andriusmao@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2009, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Felipe Braga</mal:name>
      <mal:email>fbobraga@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Copiando e colando</title>

  <p>Você pode copiar e colar texto no <app>Terminal</app> de forma parecida às outras aplicações. No entanto, os atalhos de teclado são diferentes.</p>

  <terms>
    <item>
      <title><gui>Copiar</gui></title>
      <p>Selecione o texto que você deseja copiar, e use o item <guiseq><gui style="menu">Editar</gui> <gui style="menuitem">Copiar</gui></guiseq> do menu. Alternativamente, você pode usar as teclas <keyseq><key>Shift</key><key>Ctrl</key><key>C</key></keyseq>.</p>
    </item>
    <item>
      <title><gui>Copiar como HTML</gui></title>
      <p>Realce porções de texto que você deseja copiar com atributos de cor e fonte, e selecione <guiseq><gui style="menu">Editar</gui> <gui style="menuitem">Copiar como HTML</gui></guiseq>.</p>
    </item>
    <item>
      <title><gui>Colar</gui></title>
      <p>Clique com o botão direito do mouse no <app>Terminal</app> e selecione <gui style="menuitem">Colar</gui>. Alternativamente, você pode usar as teclas <keyseq><key>Shift</key><key>Ctrl</key><key>V</key></keyseq>.</p>
    </item>
  </terms>

  <note>
    <p>Os atalhos de teclado padrão, como <keyseq><key>Ctrl</key><key>C</key></keyseq>, não podem ser usados para copiar e colar texto.</p>
  </note>

</page>
