<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="ui" id="nautilus-behavior" xml:lang="hr">

  <info>
    <link type="guide" xref="nautilus-prefs" group="nautilus-behavior"/>

    <desc>Single-click to open files, run or view executable
    text files, and specify trash behavior.</desc>

    <revision pkgversion="3.5.92" version="0.2" date="2012-09-19" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="candidate"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>
    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>File manager behavior preferences</title>
<p>You can control whether you single-click or double-click files, how
executable text files are handled, and the trash behavior. Click
<gui>Files</gui> in the top bar, pick <gui>Preferences</gui> and select the <gui>Behavior</gui> tab.</p>

<section id="behavior">
<title>Ponašanje</title>
<terms>
 <item>
  <title><gui>Single click to open items</gui></title>
  <title><gui>Double click to open items</gui></title>
  <p>By default, clicking selects files and double-clicking opens them.
  You can instead choose to have files and folders open when you click on
  them once. When you use single-click mode, you can hold down the
  <key>Ctrl</key> key while clicking to select one or more files.</p>
 </item>
</terms>

</section>
<section id="executable">
<title>Executable text files</title>
 <p>An executable text file is a file that contains a program that you can run
 (execute). The <link xref="nautilus-file-properties-permissions">file
 permissions</link> must also allow for the file to run as a program. The most
 common are <sys>Shell</sys>, <sys>Python</sys> and <sys>Perl</sys> scripts.
 These have extensions <file>.sh</file>, <file>.py</file> and <file>.pl</file>,
 respectively.</p>
 
 <p>When you open an executable text file, you can select from:</p>
 
 <list>
  <item>
    <p><gui>Run executable text files when they are opened</gui></p>
  </item>
  <item>
    <p><gui>View executable text files when they are opened</gui></p>
  </item>
  <item>
    <p><gui>Ask each time</gui></p>
  </item>
 </list>

 <p>If <gui>Ask each time</gui> is selected, a dialog will pop up asking if you
 wish to run or view the selected text file.</p>

 <p>Executable text files are also called <em>scripts</em>. All scripts in the
 <file>~/.local/share/nautilus/scripts</file> folder will appear in the context
 menu for a file under the <gui style="menuitem">Scripts</gui> submenu. When a
 script is executed from a local folder, all selected files will be pasted to
 the script as parameters. To execute a script on a file:</p>

<steps>
  <item>
    <p>Navigate to the desired folder.</p>
  </item>
  <item>
    <p>Select the desired file.</p>
  </item>
  <item>
    <p>Right click on the file to open the context menu and select the desired
    script to execute from the <gui style="menuitem">Scripts</gui> menu.</p>
  </item>
</steps>

 <note style="important">
  <p>A script will not be passed any parameters when executed from a remote
  folder such as a folder showing web or <sys>ftp</sys> content.</p>
 </note>

</section>

<section id="trash">
<info>
<link type="seealso" xref="files-delete"/>
<title type="link">File manager trash preferences</title>
</info>
<title>Smeće</title>

<terms>
 <item>
  <title><gui>Ask before emptying the Trash</gui></title>
  <p>This option is selected by default.  When emptying the trash, a message will be displayed confirming that you would like to empty the trash or delete files.</p>
 </item>
</terms>
</section>

</page>
