<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-install-flash" xml:lang="hr">

  <info>
    <link type="guide" xref="net-browser"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>You may need to install Flash to be able to view websites like
    YouTube, which display videos and interactive web pages.</desc>
  </info>

  <title>Instalacija Flash priljučka</title>

  <p><app>Flash</app> is a <em>plug-in</em> for your web browser that allows
  you to watch videos and use interactive web pages on some websites. Some
  websites won’t work without Flash.</p>

  <p>If you do not have Flash installed, you will probably see a message
  telling you so when you visit a website that needs it. Flash is available as
  a free (but not open-source) download for most web browsers. Most Linux
  distributions have a version of Flash that you can install through their
  software installer (package manager) too.</p>

  <steps>
    <title>If Flash is available from the software installer:</title>
    <item>
      <p>Open the software installer application and search for
      <input>flash</input>.</p>
    </item>
    <item>
      <p>Look for the <gui>Adobe Flash plug-in</gui>, <gui>Adobe Flash
      Player</gui> or similar and click to install it.</p>
    </item>
    <item>
      <p>If you have any web browser windows open, close them and then re-open
      them. The web browser should realize that Flash is installed when you
      open it again and you should now be able to view websites using
      Flash.</p>
    </item>
  </steps>

  <steps>
    <title>If Flash <em>is not</em> available from the software
    installer:</title>
    <item>
      <p>Go to the <link href="http://get.adobe.com/flashplayer">Flash Player
      download website</link>. Your browser and operating system should be
      automatically detected.</p>
    </item>
    <item>
      <p>Click where it says <gui>Select version to download</gui> and choose
      the type of software installer that works for your Linux distribution. If
      you don’t know which to use, choose the <file>.tar.gz</file> option.</p>
    </item>
    <item>
      <p>Look at the
      <link href="http://kb2.adobe.com/cps/153/tn_15380.html">installation
      instructions for Flash</link> to learn how to install it for your web
      browser.</p>
    </item>
  </steps>

<section id="alternatives">
  <title>Open-source alternatives to Flash</title>

  <p>A handful of free, open-source alternatives to Flash are available. These
  tend to work better than the Flash plug-in in some ways (for example, by
  handling sound playback better), but worse in others (for example, by not
  being able to display some of the more complicated Flash pages on the
  web).</p>

  <p>You might like to try one of these if you are dissatisfied with the Flash
  player, or if you would like to use as much open-source software as possible
  on your computer. Here are a few of the options:</p>

  <list style="compact">
    <item>
      <p>LightSpark</p>
    </item>
    <item>
      <p>Gnash</p>
    </item>
  </list>

</section>

</page>
