<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="privacy" xml:lang="hr">
<!--
TODO: Problem Reporting
-->

  <info>
    <link type="guide" xref="prefs"/>

    <revision pkgversion="3.10" date="2013-09-28" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Jim Campbell</name>
      <email>jwcampbell@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>
      <link xref="privacy-screen-lock">Screen lock</link>,
      <link xref="privacy-history-recent-off">Usage history</link>,
      <link xref="privacy-purge">Purge trash &amp; temporary files</link>…
    </desc>
  </info>

  <title>Postavke privatnost</title>
  
  <p>The <em>Privacy Settings</em> in GNOME help you control whether or not
  certain parts of your desktop are visible to others. You can also
  use these settings to clear your computer usage history and clean out
  unnecessary files.</p>

</page>
