<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="app-terminal-sizes" xml:lang="el">

  <info>
    <revision version="0.1" date="2013-02-25" status="candidate"/>
    <link type="guide" xref="index#appearance"/>
    <link type="guide" xref="adv-keyboard-shortcuts"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Change the <app>Terminal</app> window size.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2009-2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Τζένη Πετούμενου</mal:name>
      <mal:email>epetoumenou@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Μάριος Ζηντίλης</mal:name>
      <mal:email>m.zindilis@dmajor.org</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Σίμος Ξενιτέλλης</mal:name>
      <mal:email>simos@gnome.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Μεγέθη <app>Τερματικού</app></title>

  <p>Εάν δουλεύετε με συγκεκριμένες εφαρμογές γραμμής εντολών που έχουν απαιτήσεις ελάχιστου μεγέθους τερματικού για να εμφανίζονται σωστά, ή εάν θέλετε να προβάλετε μεγάλες γραμμές εξόδου τερματικού με ελάχιστες αλλαγές γραμμών στην οθόνη σας, ίσως χρειαστεί τα παράθυρα του <app>Τερματικού</app> να είναι συγκεκριμένου μεγέθους.</p>

  <p>Μπορείτε να αλλάξετε το μέγεθος του παραθύρου του <app>Τερματικού</app> σε μερικές προκαθορισμένες τιμές:</p>
  
  <steps>
    <item>
      <p>Επιλέξτε <gui style="menu">Τερματικό</gui>.</p>
    </item>
    <item>
      <p>Επιλέξτε μια από τις παρακάτω επιλογές:</p>
      <list>
        <item>
          <p><gui style="menuitem">80×24</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">80×43</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">132×24</gui></p>
        </item>
        <item>
          <p><gui style="menuitem">132×43</gui></p>
        </item>
      </list>
    </item>
  </steps>

  <note style="tip">
    <p>If you have enabled <link xref="pref-keyboard-access"><gui>Menu access
    keys</gui></link>, you can access this menu by pressing
    <keyseq><key>Alt</key><key>T</key></keyseq> and then pressing <key>1</key>
    to switch the <app>Terminal</app> window to size <gui>80×24</gui> and so
    on.</p>
  </note>

  <p>If you require custom size <app>Terminal</app> windows, you can also set
  the default window size according to your requirements:</p>

  <steps>
    <item>
      <p>Open <guiseq><gui style="menu">Edit</gui>
      <gui style="menuitem">Preferences</gui></guiseq>.</p>
    </item>
    <item>
      <p>Your current profile is selected in the sidebar. If you wish to edit
      a different profile, click on its name.</p>
    </item>
    <item>
      <p>Select <gui style="tab">Text</gui>.</p>
    </item>
    <item>
      <p>Set <gui>Initial terminal size</gui> by typing the desired number of columns and
      rows in the corresponding input boxes. You can also click
      <gui style="button">+</gui> to increase or <gui style="button">-</gui> to
      decrease the size.</p>
    </item>
  </steps>

</page>
