<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="history" xml:lang="pt-BR">

    <info>
        <link type="guide" xref="index#ui"/>
        <revision pkgversion="3.8" version="0.1" date="2013-04-18" status="review"/>

        <credit type="author copyright">
          <name>Gopal Krishnan</name>
          <email its:translate="no">ingeniumed@outlook.com</email>
          <years>2012, 2013</years>
        </credit>

        <credit type="author copyright">
          <name>Sanket Dasgupta</name>
          <email its:translate="no">sanketdasgupta@gmail.com</email>
          <years>2016, 2017</years>
        </credit>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Irapuan Pascoal</mal:name>
      <mal:email>irapuan.menezes@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Georges Basile Stavracas Neto</mal:name>
      <mal:email>georges.stavracas@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lucas Romero de Abreu</mal:name>
      <mal:email>lucasdeabreu@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Felipe Braga</mal:name>
      <mal:email>fbobraga@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

	<title>Usando a visão de histórico</title>

    <p>A visão de histórico está localizada sobre a caixa de entrada e é projetada para mostrar seus cálculos anteriores na forma de uma lista rolável que pode ser clicada e rolada para cima e para baixo usando o mouse ou até mesmo navegada e selecionada usando as teclas de setas em um teclado. Uma vez que uma entrada tenha sido selecionada, ela será mostrada imediatamente na caixa de entrada para você manipulá-la e usá-la. Finalmente, não há limite máximo no número de cálculos que pode ser mostrado na lista para você usar.</p>
</page>
