<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="percentage" xml:lang="pt-BR">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Irapuan Pascoal</mal:name>
      <mal:email>irapuan.menezes@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Georges Basile Stavracas Neto</mal:name>
      <mal:email>georges.stavracas@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Lucas Romero de Abreu</mal:name>
      <mal:email>lucasdeabreu@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Felipe Braga</mal:name>
      <mal:email>fbobraga@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

	<title>Porcentagens</title>
    
    <p>Através do simbolo % as porcentagens são calculadas.</p>
    <p>Ao adicionar ou subtrair, o símbolo de porcentagem resulta em uma porcentagem (fração com denominador cem) do valor de quem será adicionado ou subtraído. A equação a seguir calcula o preço de um item de R$140 com imposto de 15% (140 + (15÷100)×140). Nota do tradutor: de forma mais fácil: (140+15%) resulta no mesmo valor. Pegue sua calculadora e brinque!</p>
    <example>
    <p>140+15%</p>
    </example>
    <p>Em todos os outros casos, o símbolo de porcentagem resulta em uma fração com denominador 100. A equação a seguir calcula um quarto de 80 maçãs ((25÷100)×80).</p>
    <example>
    <p>25%×80</p>
    </example>
</page>
