<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="pref-tab-window" xml:lang="sv">

  <info>
    <link type="guide" xref="index#appearance"/>
    <link type="seealso" xref="gs-tabs"/>
    <revision pkgversion="3.12" date="2014-02-26" status="review"/>
    <revision pkgversion="3.14.2" date="2015-01-27" status="review"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2014–2015</years>
    </credit>
    <!--<credit type="copyright editor">
      <name></name>
      <email its:translate="no"></email>
      <years></years>
    </credit>-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Välj huruvida ett nytt fönster eller en ny flik ska öppnas som standard.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2015, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  </info>

  <title>Fönster och flikar</title>

  <p>Du kan välja huruvida en ny flik eller ett nytt <app>Terminal</app>-fönster ska öppnas då du använder <gui style="menuitem">Ny terminal</gui>.</p>

  <steps>
    <item>
      <p>Välj <guiseq><gui style="menu">Redigera</gui> <gui style="menuitem"> Inställningar</gui> <gui style="tab">Allmänt</gui></guiseq>.</p>
    </item>
    <item>
      <p>Ställ in <gui>Öppna nya terminaler i:</gui> till <gui>Flik</gui> eller <gui>Fönster</gui>.</p>
    </item>
  </steps>

  <p>Då du har ställt in inställningen kan du använda <key>Ctrl</key> för att invertera inställningen. Till exempel, om dina inställningar är att öppna en ny terminal i en ny flik så kommer <gui style="menuitem">Ny terminal</gui> att öppna en ny flik. Om du å andra sidan håller ner <key>Ctrl</key> och sedan trycker <gui style="menuitem">Ny terminal</gui> kommer istället ett nytt fönster att öppnas.</p>

</page>
