<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="about-this-guide" xml:lang="id">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>Beberapa tip tentang menggunakan panduan bantuan desktop.</desc>
    <credit type="author">
      <name>Proyek Dokumentasi GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

<title>Tentang panduan ini</title>
<p>Panduan ini dirancang untuk memberi Anda tur atas fitur-fitur desktop Anda, menjawab pertanyaan terkait komputer Anda, dan memberi tip tentang bagaimana memakai komputer Anda secara lebih efektif. Kami telah mencoba membuat panduan ini semudah mungkin:</p>

<list>
  <item><p>Panduan ini diurutkan ke dalam topik-topik kecil berorientasi tugas, bukan bab. Ini berarti bahwa Anda tak perlu membaca cepat seluruh manual untuk menemukan jawaban atas pertanyaan Anda.</p></item>
  <item><p>Butir-butir yang berhubungkan dikaitkan bersama-sama. Taut "Lihat Juga" di bagian bawah dari beberapa halaman akan mengarahkan Anda ke topik-topik yang berhubungan. Ini mempermudah untuk menemukan topik serupa yang mungkin membantu Anda melakukan tugas tertentu.</p></item>
  <item><p>Ini termasuk pencarian bawaan. Bilah di puncak peramban bantuan adalah <em>bilah cari</em>, dan hasil yang relevan akan mulai muncul begitu Anda mulai mengetik.</p></item>
  <item><p>Panduan ini terus-menerus diperbaiki. Walaupun kami mencoba menyediakan rangkaian informasi komprehensif yang berguna, kami tahu bahwa kami tidak dapat menjawab semua pertanyaan Anda di sini. Namun kami akan terus menambah lebih banyak informasi untuk membuat berbagai hal semakin berguna.</p></item>
</list>

<p>Terima kasih untuk meluangkan waktu membaca bantuan desktop. Kami sejujurnya berharap bahwa Anda tak pernah perlu memakainya.</p>

<p>-- Tim dokumentasi GNOME</p>
</page>
