<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-canshareprofiles" xml:lang="id">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>Berbagi profil warna bukan ide yang bagus karena perangkat keras berubah dengan berjalannya waktu.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

  <title>Bisakan saya berbagi profil warna saya?</title>

  <p>Profil warna yang telah Anda buat sendiri adalah spesifik ke kondisi pencahayaan dan perangkat keras yang Anda kalibrasikan. Suatu tampilan yang telah dinyalakan beberapa ratus jam akan memiliki profil warna yang sangat berbeda dengan tampilan serupa dengan nomor seri selisih satu tapi telah dinyalakan ribuan jam.</p>
  <p>Ini berarti bahwa jika Anda berbagi profil warna Anda dengan seseorang, Anda mungkin membuat mereka <em>lebih dekat</em> ke kalibrasi, tapi itu menyesatkan bila mengatakan bahwa tampilan mereka dikalibrasi.</p>
  <p>Mirip dengan itu, kecuali setiap orang memiliki pencahayaan terkendali yang direkomendasikan (tak ada cahaya matahari dari jendela, dinding hitam, bola lampu cahaya siang, dsb.) dalam suatu ruangan di mana dilakukan penilikan dan penyuntingan gambar, berbagi profil yang Anda buat pada kondisi pencahayaan spesifik Anda sendiri tak ada artinya.</p>

  <note style="warning">
    <p>Anda mesti memeriksa dengan hati-hati kondisi distribusi ulang bagi profil yang diunduh dari situs web vendor atau yang dibuat untuk Anda.</p>
  </note>

</page>
