<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="net-slow" xml:lang="id">

  <info>
    <link type="guide" xref="net-problem"/>

    <revision pkgversion="3.4.0" date="2012-02-21" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Other things might be downloading, you could have a poor connection,
    or it could be a busy time of day.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

  <title>Internet terasa lambat</title>

  <p>If you are using the internet and it seems slow, there are a number of
  things that could be causing the slow down.</p>

  <p>Try closing your web browser and then re-opening it, and disconnecting
  from the internet and then reconnecting again. (Doing this resets a lot of
  things that might be causing the internet to run slowly.)</p>

  <list>
    <item>
      <p><em style="strong">Waktu sibuk pada hari tersebut</em></p>
      <p>Internet service providers commonly setup internet connections so that
      they are shared between several households. Even though you connect
      separately, through your own phone line or cable connection, the
      connection to the rest of the internet at the telephone exchange might
      actually be shared. If this is the case and lots of your neighbors are
      using the internet at the same time as you, you might notice a slow-down.
      You’re most likely to experience this at times when your neighbors are
      probably on the internet (in the evenings, for example).</p>
    </item>
    <item>
      <p><em style="strong">Mengunduh banyak hal sekaligus</em></p>
      <p>If you or someone else using your internet connection are downloading
      several files at once, or watching videos, the internet connection might
      not be fast enough to keep up with the demand. In this case, it will feel
      slower.</p>
    </item>
    <item>
      <p><em style="strong">Koneksi tak reliabel</em></p>
      <p>Some internet connections are just unreliable, especially temporary
      ones or those in high demand areas. If you are in a busy coffee shop or a
      conference center, the internet connection might be too busy or simply
      unreliable.</p>
    </item>
    <item>
      <p><em style="strong">Sinyal koneksi nirkabel lemah</em></p>
      <p>If you’re connected to the internet by wireless (wifi), check the
      network icon on the top bar to see if you have good wireless signal. If
      not, the internet may be slow because you don’t have a very strong
      signal.</p>
    </item>
    <item>
      <p><em style="strong">Memakai koneksi internet mobil yang lebih lambat</em></p>
      <p>If you have a mobile internet connection and notice that it is slow,
      you may have moved into an area where signal reception is poor. When this
      happens, the internet connection will automatically switch from a fast
      “mobile broadband” connection like 3G to a more reliable, but slower,
      connection like GPRS.</p>
    </item>
    <item>
      <p><em style="strong">Peramban web bermasalah</em></p>
      <p>Sometimes web browsers encounter a problem that makes them run slow.
      This could be for any number of reasons — you could have visited a
      website that the browser struggled to load, or you might have had the
      browser open for a long time, for example. Try closing all of the
      browser’s windows and then opening the browser again to see if this makes
      a difference.</p>
    </item>
  </list>

</page>
