<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="power-wireless" xml:lang="id">

  <info>
    <link type="guide" xref="power"/>
    <link type="seealso" xref="power-batterylife"/>

    <revision pkgversion="3.20" date="2016-06-15" status="candidate"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2016</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Bluetooth, wi-fi and mobile broadband can be switched off to reduce battery use.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

  <title>Switch off unused wireless technologies</title>

  <p>You can reduce battery use by switching off bluetooth, wi-fi or mobile
  broadband when they are not in use.</p>

  <steps>

    <item>
      <p>Buka ringkasan <gui xref="shell-introduction#activities">Aktivitas</gui> dan mulai mengetik <gui>Daya</gui>.</p>
    </item>
    <item>
      <p>Klik pada <gui>Daya</gui> untuk membuka panel.</p>
    </item>
    <item>
      <p>The <gui>Power Saving</gui> section contains switches for
      <gui>Wi-Fi</gui>, <gui>Mobile broadband</gui>, and <gui>Bluetooth</gui>.
      Switch the unused services to <gui>OFF</gui>. Re-enable when needed by
      switching to <gui>ON</gui>.</p>
    </item>

  </steps>

</page>
