<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-suspendfail" xml:lang="id">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <link type="seealso" xref="hardware-driver"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Some computer hardware causes problems with suspend.</desc>

    <credit type="author">
      <name>Proyek Dokumentasi GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

<title>Mengapa komputer saya tak bisa hidup lagi setelah saya suspensi?</title>

<p>If you <link xref="power-suspend">suspend</link> your computer, then try to
resume it, you may find that it does not work as you expected. This could be
because suspend is not supported properly by your hardware.</p>

<section id="resume">
  <title>Komputer saya disuspensi dan tak bisa melanjutkan</title>
  <p>If you suspend your computer and then press a key or click the mouse, it
  should wake up and display a screen asking for your password. If this does
  not happen, try pressing the power button (do not hold it in, just press it
  once).</p>
  <p>If this still does not help, make sure that your computer’s monitor is
  switched on and try pressing a key on the keyboard again.</p>
  <p>As a last resort, turn off the computer by holding in the power button for
  5-10 seconds, although you will lose any unsaved work by doing this. You
  should then be able to turn on the computer again.</p>
  <p>If this happens every time you suspend your computer, the suspend
  feature may not work with your hardware.</p>
  <note style="warning">
    <p>If your computer loses power and does not have an alternative power
    supply (such as a working battery), it will switch off.</p>
  </note>
</section>

<section id="hardware">
  <title>My wireless connection (or other hardware) does not work when I wake
  up my computer</title>
  <p>If you suspend your computer and then resume it again, you
  may find that your internet connection, mouse, or some other device does not
  work properly. This could be because the driver for the device does not
  properly support suspend. This is a <link xref="hardware-driver">problem with the driver</link> and not the device
  itself.</p>
  <p>If the device has a power switch, try turning it off and then on again. In
  most cases, the device will start working again. If it connects via a USB
  cable or similar, unplug the device and then plug it in again and see if it
  works.</p>
  <p>If you cannot turn off or unplug the device, or if this does not work, you
  may need to restart your computer for the device to start working again.</p>
</section>

</page>
