<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="user-autologin" xml:lang="id">

  <info>
    <link type="guide" xref="user-accounts#manage"/>
    <link type="seealso" xref="shell-exit"/>

    <revision pkgversion="3.8" date="2013-04-04" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Set up automatic login for when you switch on your computer.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2011-2014, 2017.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ahmad Haris</mal:name>
      <mal:email>ahmadharis1982@gmail.com</mal:email>
      <mal:years>2017.</mal:years>
    </mal:credit>
  </info>

  <title>Log masuk otomatis</title>

  <p>You can change your settings so that you are automatically logged in to
  your account when you start up your computer:</p>

  <steps>
    <item>
      <p>Buka ringkasan <gui xref="shell-introduction#activities">Aktivitas</gui> dan mulai mengetik <gui>Pengguna</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Users</gui> to open the panel.</p>
    </item>
    <item>
      <p>Pilih akun yang ingin Anda jadikan log masuk secara otomatis saat awal mula.</p>
    </item>
    <item>
      <p>Press <gui style="button">Unlock</gui> and enter your password.</p>
    </item>
    <item>
      <p>Toggle the <gui>Automatic Login</gui> switch to <gui>ON</gui>.</p>
    </item>
  </steps>

  <p>When you next start up your computer, you will be logged in automatically.
  If you have this option enabled, you will not need to type in your password
  to log in to your account which means that if someone else starts up your
  computer, they will be able to access your account and your personal data
  including your files and browser history.</p>

  <note>
    <p>If your account type is <em>Standard</em>, you cannot change this
    setting. Contact your system administrator who can change this setting
    for you.</p>
  </note>

</page>
