<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="variable" xml:lang="it">

    <info>
        <link type="guide" xref="index#equation"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paolo Stivanin</mal:name>
      <mal:email>paolostivanin@yahoo.it</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>

	<title>Variabili</title>
    
    <p>
    To assign a value to a variable use the = symbol or choose the variable to assign to with the <gui>x</gui> button in <link xref="mouse">advanced mode</link>.
    A variable name must only contain upper or lower case characters.
    </p>
    <example>
    <p>x=5</p>
    <p>value=82</p>
    </example>
    <p>È possibile usare le variabili in ogni equazione, ad esse verrà sostituito il valore assegnato. È possibile inserire le variabili usando il pulsante <gui>x</gui>.</p>
    <example>
    <p>6x+3</p>
    <p>xy−3x+7y−21</p>
    </example>
    <p>Le seguenti variabili sono sempre definite.</p>
    <table>
    <tr>
    <td><p>_</p></td>
    <td><p>Risultato del calcolo precedente</p></td>
    </tr>
    <tr>
    <td><p>e</p></td>
    <td><p><link xref="logarithm">Numero di Eulero</link></p></td>
    </tr>
    <tr>
    <td><p>π</p></td>
    <td><p><link xref="trigonometry">Pi</link></p></td>
    </tr>
    <tr>
    <td><p>rand</p></td>
    <td><p>Valore casuale nell'intervallo [0,1] (cambia ad ogni lettura)</p></td>
    </tr>
    </table>
</page>
