<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="pref-tab-window" xml:lang="ca">

  <info>
    <link type="guide" xref="index#appearance"/>
    <link type="seealso" xref="gs-tabs"/>
    <revision pkgversion="3.12" date="2014-02-26" status="review"/>
    <revision pkgversion="3.14.2" date="2015-01-27" status="review"/>

    <credit type="author copyright">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2014–2015</years>
    </credit>
    <!--<credit type="copyright editor">
      <name></name>
      <email its:translate="no"></email>
      <years></years>
    </credit>-->

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Trieu si voleu obrir una nova finestra o una pestanya nova per defecte.</desc>
  </info>

  <title>Finestres i pestanyes</title>

  <p>You can choose whether to open a new tab or a new <app>Terminal</app>
  window when you use <gui style="menuitem">New Terminal</gui>.</p>

  <steps>
    <item>
      <p>Selecciona <guiseq><gui style="menu">Edita</gui><gui style="menuitem">Preferències</gui><gui style="tab">General</gui></guiseq>.</p>
    </item>
    <item>
      <p>Configura <gui>Obre terminals nous en:</gui> una <gui>Pestanya</gui> o una <gui>Finestra</gui>.</p>
    </item>
  </steps>

  <p>Una vegada heu configurat les preferències, podeu usar <key>Ctrl</key> per invertir les preferències. Per exemple, si heu configurat les preferències per obrir un terminal nou en una pestanya nova, llavors al prémer <gui style="menuitem">Terminal nou</gui>  s'obrirà una pestanya nova. D'un altre costat si manteniu premuda <key>Ctrl</key> i premeu <gui style="menuitem"> Terminal nou </gui>, llavors s'obrirà una finestra nova al seu lloc.</p>

</page>
