<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="file-selection" xml:lang="ca">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use the <cmd>--file-selection</cmd> option.</desc>
  </info>
  <title>Diàleg de selecció de fitxers</title>
    <p>
	Use the <cmd>--file-selection</cmd> option to create a file selection dialog. <app>Zenity</app> returns the selected files or directories to standard 
        output. The default mode of the file selection dialog is open.
    </p>
    <p>El diàleg de selecció de fitxers admet les opcions següents:</p>

    <terms>

      <item>
        <title><cmd>--filename</cmd>=<var>filename</var></title>
	<p>Especifica el fitxer o directori que està seleccionat al diàleg de selecció de fitxers quan es mostra el diàleg per primer cop.</p>
      </item>

      <item>
	<title><cmd>--multiple</cmd></title>
	<p>Permet la selecció de diversos noms de fitxer al diàleg de selecció de fitxers.</p>
      </item>

      <item>
	<title><cmd>--directory</cmd></title>
	<p>Només permet la selecció de directoris al diàleg de selecció de fitxers.</p>
      </item>

      <item>
	<title><cmd>--save</cmd></title>
	<p>Estableix el diàleg de selecció de fitxers al mode de desar.</p>
      </item>

      <item>
	<title><cmd>--separator</cmd>=<var>separator</var></title>
	<p>Especifica la cadena que s'utilitza per a dividir la llista de noms de fitxers retornada.</p>
      </item>

    </terms>

    <p>
      The following example script shows how to create a file selection dialog:
    </p>

<code>
#!/bin/sh

FILE=`zenity --file-selection --title="Select a File"`

case $? in
         0)
                echo "\"$FILE\" selected.";;
         1)
                echo "No file selected.";;
        -1)
                echo "An unexpected error has occurred.";;
esac
</code>

    <figure>
      <title>Exemple de diàleg de selecció de fitxers</title>
      <desc><app>Zenity</app> file selection dialog example</desc>
      <media type="image" mime="image/png" src="figures/zenity-fileselection-screenshot.png"/>
    </figure>
</page>
