<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:ui="http://projectmallard.org/ui/1.0" type="task" id="adv-keyboard-shortcuts" xml:lang="pl">

  <info>
    <revision version="0.1" date="2013-02-17" status="candidate"/>
    <link type="guide" xref="index#advanced"/>
    <link type="guide" xref="pref#global"/>
    <link type="seealso" xref="pref-keyboard-access"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="author copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Wyświetlanie i modyfikowanie skrótów klawiszowych.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Skróty klawiszowe</title>

  <p>Skróty klawiszowe to kombinacje klawiszy umożliwiające wykonywanie działań, takich jak otwarcie okna ustawień lub szybki dostęp do funkcji <app>Terminala</app>. Skróty można modyfikować, aby dopasować je do swoich preferencji.</p>

  <p>Aby zmienić skrót klawiszowy:</p>
  <steps>
    <item>
      <p>Wybierz <guiseq><gui style="menu">Edycja</gui> <gui style="menuitem">Preferencje</gui> <gui style="tab">Skróty</gui></guiseq>.</p>
    </item>
    <item>
      <p>Upewnij się, że opcja <gui style="checkbox">Skróty</gui> jest zaznaczona.</p>
    </item>
    <item>
      <p>Upewnij się, że opcja <gui style="checkbox">Skróty</gui> jest zaznaczona.</p>
    </item>
    <item>
      <p>Zaznacz skrót do modyfikacji klikając go.</p>
    </item>
    <item>
      <p>Po zaznaczeniu skrótu kliknij kombinację klawiszy, aby ją zmodyfikować.</p>
    </item>
    <item>
      <p>Naciśnij wybraną kombinację klawiszy. Można używać klawiszy <key>Alt</key>, <key>Prawy Alt</key>, <key>Ctrl</key>, <key>Shift</key>, <key>Super</key> oraz klawiszy cyfr i liter.</p>
      <note>
        <p>Skróty menu, takie jak <keyseq><key>Alt</key> <key>F</key></keyseq> nie będą działały.</p>
      </note>
    </item>
    <item>
      <p>Po wprowadzeniu nowego skrótu zostanie on automatycznie zapisany i będzie widoczny na liście obok przypisanemu mu działania.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Aby wyłączyć skrót, kliknij go i naciśnij klawisz <key>Backspace</key> zamiast naciśnięcia nowego.</p>
  </note>

  <section id="file-shortcuts">
    <title>Skróty menu <gui style="menu">Plik</gui></title>

    <p>Domyślne skróty dla opcji w menu <gui style="menu">Plik</gui>:</p>

    <table rules="rows" frame="top bottom" ui:expanded="true">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Nowa karta</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>T</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Nowe okno</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>N</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Zamknięcie karty</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>W</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Zamknięcie okna</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Q</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="edit-shortcuts">
    <title>Skróty menu <gui style="menu">Edycja</gui></title>

    <p>Domyślne skróty dla opcji w menu <gui style="menu">Edycja</gui>:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Kopiowanie</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>C</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Wklejanie</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>V</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="view-shortcuts">
    <title>Skróty menu <gui style="menu">Widok</gui></title>

    <p>Domyślne skróty dla opcji w menu <gui style="menu">Widok</gui>:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Pełny ekran</p></td>
          <td><p><key>F11</key></p></td>
        </tr>
        <tr>
          <td><p>Powiększenie</p></td>
          <td><p><keyseq><key>Ctrl</key><key>+</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Pomniejszenie</p></td>
          <td><p><keyseq><key>Ctrl</key><key>-</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Zwykły rozmiar</p></td>
          <td><p><keyseq><key>Ctrl</key><key>0</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="find-shortcuts">
    <title>Skróty menu <gui style="menu">Wyszukiwanie</gui></title>

    <p>Domyślne skróty dla opcji w menu <gui style="menu">Wyszukiwanie</gui>:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Wyszukanie</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>F</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Wyszukanie następnego</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>G</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Wyszukanie poprzedniego</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>H</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Wyczyszczenie wyróżnienia</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>J</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="tab-shortcuts">
    <title>Skróty kart</title>

    <p>Domyślne skróty do działania na kartach:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Przełączenie na poprzednią kartę</p></td>
          <td><p><keyseq><key>Ctrl</key><key>Page Up</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na następną kartę</p></td>
          <td><p><keyseq><key>Ctrl</key><key>Page Down</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przesunięcie karty w lewo</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Page Up</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przesunięcie karty w prawo</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Page Down</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 1. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>1</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 2. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>2</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 3. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>3</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 4. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>4</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 5. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>5</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 6. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>6</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 7. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>7</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 8. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>8</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 9. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>9</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przełączenie na 10. kartę</p></td>
          <td><p><keyseq><key>Alt</key><key>0</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="other-shortcuts">
    <title>Inne</title>

    <p>Te skróty nie mogą być modyfikowane:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Przewinięcie w górę o jeden wiersz</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Up</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przewinięcie w dół o jeden wiersz</p></td>
          <td><p><keyseq><key>Shift</key><key>Ctrl</key><key>Down</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przewinięcie w górę o jedną stronę</p></td>
          <td><p><keyseq><key>Shift</key><key>Page Up</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przewinięcie w dół o jedną stronę</p></td>
          <td><p><keyseq><key>Shift</key><key>Page Down</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przewinięcie na górę</p></td>
          <td><p><keyseq><key>Shift</key><key>Home</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Przewinięcie na dół</p></td>
          <td><p><keyseq><key>Shift</key><key>End</key></keyseq></p></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="bash-shortcuts">
    <title>Skróty powłoki Bash</title>

    <p>To skróty powłoki <app>Bash</app>. <app>Bash</app> jest zwykle domyślną powłoką.</p>
    <p>Skróty klawiszowe powłoki <app>Bash</app>:</p>

    <table rules="rows" frame="top bottom" ui:expanded="false">
      <thead>
        <tr>
          <td><p>Działanie</p></td>
          <td><p>Skrót klawiszowy</p></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Usunięcie słowa</p></td>
          <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Usunięcie wiersza</p></td>
          <td><p><keyseq><key>Ctrl</key><key>U</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście na początek wiersza</p></td>
          <td><p><keyseq><key>Ctrl</key><key>A</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście na koniec wiersza</p></td>
          <td><p><keyseq><key>Ctrl</key><key>E</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście wstecz o jeden znak</p></td>
          <td><p><keyseq><key>Ctrl</key><key>B</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście wstecz o jedno słowo</p></td>
          <td><p><keyseq><key>Alt</key><key>B</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście naprzód o jeden znak</p></td>
          <td><p><keyseq><key>Ctrl</key><key>F</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Przejście naprzód o jedno słowo</p></td>
          <td><p><keyseq><key>Alt</key><key>F</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Usunięcie od kursora do początku wiersza</p></td>
          <td><p><keyseq><key>Ctrl</key><key>u</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Usunięcie od kursora do końca wiersza</p></td>
          <td><p><keyseq><key>Ctrl</key><key>K</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Usunięcie od kursora do początku słowa</p></td>
          <td><p><keyseq><key>Ctrl</key><key>W</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Usunięcie poprzedniego słowa</p></td>
          <td><p><keyseq><key>Alt</key><key>Backspace</key></keyseq></p></td>
        </tr>
        <tr>
          <td><p>Wklejenie tekstu ze schowka</p></td>
          <td><p><keyseq><key>Ctrl</key><key>Y</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Usunięcie zawartości ekranu, pozostawiając bieżący wiersz na górze ekranu</p></td>
          <td><p><keyseq><key>Ctrl</key><key>L</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Odwrotne przyrostowe wyszukiwanie w historii</p></td>
          <td><p><keyseq><key>Ctrl</key><key>R</key></keyseq></p></td> 
        </tr>
        <tr>
          <td><p>Odwrotne nieprzyrostowe wyszukiwanie w historii</p></td>
          <td><p><keyseq><key>Alt</key><key>P</key></keyseq></p></td> 
        </tr>
      </tbody>
    </table>
  </section>

</page>
