<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="introduction" xml:lang="pl">

  <info>
    <revision version="0.1" date="2013-01-08" status="candidate"/>
    <link type="guide" xref="index"/>
    <link type="seealso" xref="overview"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email its:translate="no">sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email its:translate="no">mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Więcej informacji o emulatorze terminala GNOME.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Wprowadzenie</title>

  <p><app>Terminal</app> jest emulatorem terminala umożliwiającym dostęp do powłoki systemu UNIX, którego można używać do uruchamiania programów zainstalowanych w systemie.</p>

  <p><app>Terminal</app> obsługuje sekwencje sterujące położeniem kursora i kolorami.</p>

  <figure>
    <title>Terminal GNOME</title>
    <desc>Zrzut ekranu <app>Terminala</app> GNOME</desc>
    <media type="image" src="figures/gnome-terminal.png" width="700">
    </media>
  </figure>

</page>
