<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="pref-login-shell" xml:lang="pl">

  <info>
    <revision pkgversion="3.8" date="2013-03-03" status="review"/>
    <revision pkgversion="3.14" date="2014-09-08" status="review"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="pref#profile"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013-2014</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Uruchamianie powłoki logowania w <app>Terminalu</app>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Powłoki logowania</title>

  <p>Powłoki w systemach typu UNIX mogą być uruchamiane w trybach logowania i nielogowania:</p>

  <terms>
    <item>
      <title>Powłoka logowania</title>
      <p>Powłoka logowania to powłoka nadawana użytkownikowi po zalogowaniu na konto. Jest ona inicjowana za pomocą opcji <cmd>-l</cmd> lub <cmd>--login</cmd> albo umieszczając myślnik jako początkowy znak polecenia, na przykład wywołując <cmd>bash</cmd> jako <cmd>-bash</cmd>.</p>
    </item>
    <item>
      <title>Podpowłoka</title>
      <p>Podpowłoka, zwana także powłoką nielogowania, to powłoka uruchamiana po procesie logowania bez opcji <cmd>-l</cmd> lub <cmd>--login</cmd> i bez dodatkowego myślnika przed poleceniem.</p>
    </item>
  </terms>

  <p>Ogólne zastosowania powłoki logowania to:</p>
  <list>
    <item>
      <p>Zdalny dostęp do komputera za pomocą <app>SSH</app>.</p>
    </item>
    <item>
      <p>Symulowanie początkowej powłoki logowania za pomocą polecenia <cmd>bash -l</cmd> lub <cmd>sh -l</cmd>.</p>
    </item>
    <item>
      <p>Symulowanie początkowej powłoki logowania użytkownika root za pomocą polecenia <cmd>sudo -i</cmd>.</p>
    </item>
  </list>

  <section id="login-shell-howto">
    <title>Uruchamianie powłoki logowania</title>

    <p>Można umożliwić <app>Terminalowi</app> uruchamianie powłoki logowania. Domyślna powłoka zostanie uruchomiona z myślnikiem przed jej nazwą.</p>

    <steps>
      <item>
        <p>Otwórz <guiseq><gui style="menu">Edycja</gui> <gui style="menuitem">Preferencje</gui></guiseq>.</p>
      </item>
      <item>
        <p>Obecny profil jest zaznaczony na pasku bocznym. Aby zmodyfikować inny profil, kliknij jego nazwę.</p>
      </item>
      <item>
        <p>Wybierz kartę <gui style="tab">Polecenie</gui>.</p>
      </item>
      <item>
        <p>Pod etykietą <gui>Polecenie</gui> zaznacz opcję <gui style="checkbox">Uruchomienie w roli powłoki startowej</gui>.</p>
      </item>
    </steps>

  </section>

</page>
