<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="txt-save-text" xml:lang="pl">

  <info>
    <revision version="0.1" date="2013-02-17" status="candidate"/>
    <link type="guide" xref="index#textoutput"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Zapisywanie wyjścia <app>Terminala</app> do pliku.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Zapisywanie zawartości</title>

  <p>Można zapisać całe wyjście z karty lub okna <app>Terminala</app> do pliku tekstowego. Może to być przydatne do wysyłania wyjścia terminala jako informacji do debugowania.</p>

  <steps>
    <item>
      <p>Przejdź do menu <gui style="menu">Plik</gui>.</p>
    </item>
    <item>
      <p>Wybierz <gui style="menuitem">Zapisz zawartość…</gui>.</p>
    </item>
    <item>
      <p>Wybierz katalog i wpisz nazwę pliku.</p>
    </item>
   <item>
      <p>Kliknij przycisk <gui style="button">Zapisz</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Można opcjonalnie wpisać rozszerzenie pliku razem z jego nazwą, na przykład <input>.txt</input>. Może to być przydatne, jeśli planowane jest wyświetlanie pliku w innym systemie operacyjnym.</p>
  </note>

</page>
