<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="tip" id="help-irc" xml:lang="te">

  <info>
    <link type="guide" xref="more-help"/>
    <desc>ఐఆర్‌సీ పై ప్రత్యక్ష తోడ్పాటును పొందండి.</desc>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>

    <credit type="author">
      <name>Baptiste Mille-Mathias</name>
      <email>baptistem@gnome.org</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Praveen Illa</mal:name>
      <mal:email>mail2ipn@gmail.com</mal:email>
      <mal:years>2011, 2014. </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>కృష్ణబాబు క్రొత్తపల్లి</mal:name>
      <mal:email>kkrothap@redhat.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  </info>

<title>ఐఆర్‌సి</title>
   <p>
      IRC stands for Internet Relay Chat. It is a real-time multi-user messaging
      system. You can get help and advice on the GNOME IRC server from other
      GNOME users and developers.
   </p>
   <p>
      To connect to the GNOME IRC server, use <app>empathy</app> or <app>xchat</app>,
      or use a web interface like <link href="http://chat.mibbit.com/">mibbit</link>.
   </p>
   <p>
      To create an IRC account in empathy, see the
      <link href="help:empathy/irc-manage">Empathy documentation</link>.
   </p>
   <p>
      The GNOME IRC server is <sys>irc.gnome.org</sys>. You may also see it referred to as the "GIMP network".
      If your computer is properly configured you can click on the link
      <link href="irc://irc.gnome.org/gnome"/> to access the <sys>gnome</sys> channel.
   </p>
   <p>
      While IRC is a real-time discussion medium, people tend to not reply immediately, so be patient.
   </p>

  <note>
    <p>Please note the
    <link href="https://wiki.gnome.org/Foundation/CodeOfConduct">GNOME code of
    conduct</link> applies when you chat on IRC.</p>
  </note>

</page>
