<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="a11y task" id="a11y" xml:lang="ta">

  <info>
    <link type="guide" xref="index" group="a11y"/>

    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>ஷான் மெக்கேன்ஸ்</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>மைக்கேல் ஹில்</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>எக்காட்டெரினா ஜெராசிமோவா</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <desc><link xref="a11y#vision">Seeing</link>, <link xref="a11y#sound">hearing</link>, <link xref="a11y#mobility">mobility</link>, <link xref="a11y-braille">braille</link>, <link xref="a11y-mag">screen magnifier</link>…</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>அனைவருக்குமான அணுகல்</title>

  <p>GNOME பணித்திரையில் பல்வேறு குறைகளும் சிறப்பான தேவைகளும் உள்ளவருகளுக்கு உதவும் வகையிலும் பொதுவான உதவி சாதனங்களுடன் தொடர்பு கொண்டு செய்ல்படும் வகையிலும் பல உதவி தொழில்நுட்பங்கள் சேர்க்கப்பட்டுள்ளன. அணுகல் வசதி அம்சங்களில் பலவற்றை மேல் பட்டியில் உள்ள அணுகல் வசதி மெனுவிலிருந்து தேர்ந்தெடுக்கலாம்.</p>

  <section id="vision">
    <title>பார்வைக் குறைபாடுகள்</title>

    <links type="topic" groups="blind" style="linklist">
      <title>பார்வையின்மை</title>
    </links>
    <links type="topic" groups="lowvision" style="linklist">
      <title>பார்வைக் குறைவு</title>
    </links>
    <links type="topic" groups="colorblind" style="linklist">
      <title>நிறக்குருடு</title>
    </links>
    <links type="topic" style="linklist">
      <title>மற்ற தலைப்புகள்</title>
    </links>
  </section>

  <section id="sound">
    <title>கேட்டல் குறைபாடுகள்</title>
    <links type="topic" style="linklist"/>
  </section>

  <section id="mobility">
    <title>நகர்வதிலான குறைபாடுகள்</title>

    <links type="topic" groups="pointing" style="linklist">
      <title>சொடுக்கி நகர்வு</title>
    </links>
    <links type="topic" groups="clicking" style="linklist">
      <title>சொடுக்குதலும் இழுத்தலும்</title>
    </links>
    <links type="topic" groups="keyboard" style="linklist">
      <title>விசைப்பலகை பயன்பாடு</title>
    </links>
    <links type="topic" style="linklist">
      <title>மற்ற தலைப்புகள்</title>
    </links>
  </section>
</page>
