<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="accounts-whyadd" xml:lang="ta">

  <info>
    <link type="guide" xref="accounts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="review"/>
    <revision pkgversion="3.13.92" date="2014-02-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author copyright">
      <name>சூசன்னா ஹுட்டானென்</name>
      <email>ihmis.suski@gmail.com</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>மைக்கேல் ஹில்</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>எக்காட்டெரினா ஜெராசிமோவா</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>உங்கள் மின்னஞ்சல் அல்லது மீடியா கணக்குகளை பணிமேசையில் ஏன் சேர்க்க வேண்டும்?</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Why add an account?</title>

  <p>Adding your online accounts brings your choice of services like calendar,
  chat, and e-mail straight to your desktop and makes the information of the
  services a seamless part of your user experience. By adding accounts you can
  easily keep in touch using services from different accounts, like chats, at
  the same time. Just set up your online accounts once and every time you start
  your computer all the accounts and services that you have added are ready to
  use.</p>

  <p>See <link xref="accounts-which-application"/> for information on which
  applications can access which online services.</p>
</page>
