<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-whatisspace" xml:lang="ta">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>நிற வெளி என்பது நிறங்களின் வரையறுக்கப்பட்ட வரம்பாகும்.</desc>

    <credit type="author">
      <name>ரிச்சர்ட் ஹியூகஸ்</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>நிற வெளி என்பது என்ன?</title>

  <p>நிற வெளி என்பது நிறங்களின் வரையறுக்கப்பட்ட வரம்பாகும். sRGB, AdobeRGB மற்றும் ProPhotoRGB ஆகியவை பிரபல நிற வெளிகள்.</p>

  <p>மனித உடலின் காணும் அமைப்பு எளிய RGB சென்சார் அல்ல, ஆனால் காட்சி ரீதியான மனிதர்களின் பதில்வினைகளை ஒரு குதிரைக் குளம்பு வடிவில் காட்சிப்படுத்துகின்ற ஒரு CIE 1931 நிறவியல் படத்தைக் கொண்டு மனித கண்கள் எப்படி நிறங்களுக்கு பதில்வினை புரிகின்றன என்பதைத் தோராயமாக அறிய முடிகிறது. அதைக் கொண்டு பார்க்கும் போது மனிதக் கண்களில் காணும் போது சிவப்பு அல்லது நீலத்தை விட பச்சையின் அதிக வகைகளுக்கு மனித கண்கள் பதில்வினை புரிகின்றன என்பது தெரியவரும். RGB போன்ற ஒரு மூவண்ண நிற வெளியில் கணினி நிறங்களை நாம் மூன்று மதிப்புகளைக் கொண்டு உணர்த்துகிறோம், இதனால் நிறங்களின் <em>முக்கோணம்</em> ஒன்றைக் குறியீடாக்கம் செய்ய மட்டுமே நம்மால் முடிகிறது.</p>

  <note>
    <p>CIE 1931 நிறவியல் படம் போன்ற மாதிரியைப் பயன்படுத்துவதென்பது மனித காணல் முறைமையின் பெரிய எளிமைப்படுத்தலாகும், உண்மையான நிற வரம்புகள் 2D வீழ்த்தல்களைப் பயன்படுத்தாம் 3D ஹல்ஸ் போன்றவற்றைக் கொண்டு உணர்த்தப்படுகின்றன. ஒரு 3D வடிவத்தின் 2D காட்சி வீழ்த்தலின் போது தவறாக உணர்த்தப்பட வாய்ப்புள்ளது, ஆகவே நீங்கள் 3D ஹல்லைப் பார்க்க வேண்டுமானால், <code>gcm-viewer</code> பயன்பாட்டைப் பயன்படுத்தவும்.</p>
  </note>

  <figure>
    <desc>sRGB, AdobeRGB மற்றும் ProPhotoRGB ஆகியவை வெண் முக்கோணங்களால் உணர்த்தப்படுகின்றன</desc>
    <media its:translate="no" type="image" mime="image/png" src="figures/color-space.png"/>
  </figure>

  <p>முதலில் சிறிய வெளியும் குறைந்த அளவு நிறங்களையே குறியீடாக்கம் செய்யக் கூடியதுமான sRGB ஐப் பார்ப்போம். அது தோராயமாக 10 ஆண்டுகள் பழமையான CRT காட்சி சாதனத்தைப் போன்றதாகும், ஆகவே தற்போதுள்ள நவீன மானிட்டர்கள் இதைக் காட்டிலும் அதிக நிறங்களைக் காட்சிப்படுத்த முடியும். sRGB என்பது<em>மீச்சிறு பொது வகு எண்</em> தரநிலையாகும், அது (இணையம் உட்பட) பல பயன்பாடுகளில் பயன்படுத்தப்படுகிறது.</p>
  <p>AdobeRGB என்பது பெரும்பாலும் <em>திருத்தல் வெளியாக</em> பயன்படுத்தப்படுகிறது. இதில் sRGB ஐ விட அதிக நிறங்களை குறியீடாக்கம் செய்ய முடியும், அதாவது மிகத் தெளிவுத்தன்மை கொண்ட நிறங்கள் நெருக்கப்பப்டுமோ அல்லது கருப்பு நிற பகுதிகள் நசுக்கப்படுமோ என்ற கவலை அதிகமின்றி நீங்கள் ஒரு புகைப்படத்தில் உள்ள நிறங்களை மாற்றலாம்.</p>
  <p>ProPhoto என்பது மிகப் பெரிய வெளியாகும், இது ஆவண காப்பகப்படுத்தலுக்கு அதிகம் பயன்படுத்தப்படுகிறது. இதில் மனிதக் கண்கள் உணரக்கூடிய வரம்பில் உள்ள நிறங்களில் கிட்டத்தட்ட அனைத்தையுமே குறியீடாக்கம் செய்ய முடியும், கண்கள் கண்டறிய முடியாத நிறங்களையும் கூட குறியீடாக்கம் செய்ய முடியும்!</p>

  <p>
    Now, if ProPhoto is clearly better, why don’t we use it for everything?
    The answer is to do with <em>quantization</em>.
    If you only have 8 bits (256 levels) to encode each channel, then a
    larger range is going to have bigger steps between each value.
  </p>
  <p>பெரிய மாற்றங்கள் என்பது இருந்தால் பதிவு செய்யப்படும் நிறத்திற்கும் சேமிக்கப்படும் நிறத்திற்கும் அதிக பிழை இருக்கும், சில நிறங்களுக்கு இது மிகப் பெரிய சிக்கலாகும். சரும நிறங்கள் போன்ற நிறங்கள் மிக முக்கியமானவை, இவற்றில் சிறு பிழை இருந்தாலும் அனுபவமில்லாத ஒருவரும் புகைப்படத்தைப் பார்க்கும் போது அதில் ஏதோ தவறு நடந்துள்ளது எனக் கண்டுகொள்ள முடியும்.</p>
  <p>16 பிட் படத்தைப் பயன்படுத்தினால் இன்னும் பல மாற்றங்கள் இருக்கும் மிகக் குறைவான குவான்டமாக்கல் பிழைகள் இருக்கும் என்பது உண்மை தான் ஆனால் இது படத்தின் அளவை இரட்டிப்பாக்கும். தற்காலத்தில் உள்ள பெரும்பாலான உள்ளடக்கம் 8bpp உள்ளடக்கமஏ, அதாவது ஒரு பிக்சலுக்கு 8 பிட்.</p>
  <p>நிற மேலாண்மை என்பது ஒரு நிற வெளியிலிருந்து மற்றொன்றுக்கு மாற்றும் செயலாகும், இதில் நிற வெளியானது sRGB போன்ற பரிட்சயமான நன்கு வரையறுக்கபப்ட்ட நிற வெளியாகவோ அல்லது உங்கள் மானிட்டர் அல்லது அச்சு சாதனத்தின் தனியமைப்பு போன்ற தனிப்பயன் நிற வெளியாகவோ இருக்கக்கூடும்.</p>

</page>
