<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-edit-details" xml:lang="ta">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.8" date="2013-04-27" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>டிஃபானி அன்ட்டொபோல்ஸ்கி</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>மைக்கேல் ஹில்</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>எக்காட்டெரினா ஜெராசிமோவா</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>ஒவ்வொரு தொடர்புக்குமான தகவலைத் திருத்துதல்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>தொடர்பு விவரங்களைத் திருத்துதல்</title>

  <p>தொடர்பு விவரங்களைத் திருத்தும் வசதியின் மூலம் நீங்கள் உங்கள் முகவரிப் புத்தகத்தின் தகவலை எப்போதும் புதுப்பித்ததாக வைத்திருக்க முடியும்.</p>

  <steps>
    <item>
      <p>உங்கள் தொடர்பு பட்டியலில் இருந்து தொடர்பைத் தேர்ந்தெடுக்கவும்.</p>
    </item>
    <item>
      <p><app>தொடர்புகளின்</app> மேல் வலது மூலையில் உள்ள <gui style="button">திருத்து</gui> என்பதை அழுத்தவும்.</p>
    </item>
    <item>
      <p>தொடர்பு விவரங்களைத் திருத்துதல்.</p>
      <p>To add a <em>detail</em> such as a new phone number or email
      address, press <gui style="button">New Detail</gui> and select the field
      that you want to add.</p>
    </item>
    <item>
      <p>தொடர்பைத் திருத்துவதை முடிக்க <gui style="button">முடிந்தது</gui> -ஐ அழுத்தவும்.</p>
    </item>
  </steps>

</page>
