<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="files-tilde" xml:lang="ta">

  <info>
    <link type="guide" xref="files#faq"/>
    <link type="seealso" xref="files-hidden"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-28" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>ஃபில் புல்</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>மைக்கேல் ஹில்</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>இவை மறுபிரதி கோப்புகள். முன்னிருப்பாக அவை மறைக்கப்பட்டிருக்கும்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>பெயரின் இறுதியில் உள்ள <file>~</file> என உள்ள கோப்பு என்ன கோப்பு?</title>

  <p>Files with a <file>~</file> at the end of their names (for example,
  <file>example.txt~</file>) are automatically created backup copies of
  documents edited in the <app>gedit</app> text editor or other applications.
  It is safe to delete them, but there is no harm to leave them on your
  computer.</p>

  <p>These files are hidden by default. If you are seeing them, that is because
  you either selected <gui>Show Hidden Files</gui> (in the view options menu
  <!-- FIXME: Get a tooltip added for "View options" -->
  of the <app>Files</app> toolbar) or pressed
  <keyseq><key>Ctrl</key><key>H</key></keyseq>. You can hide them again by
  repeating either of these steps.</p>

  <p>இந்த கோப்புகள் வழக்கமான மறைக்கப்பட்ட கோப்புகள் எப்படி நடத்தப்படுமோ அப்படியே நடத்தப்படுகின்றன. மறைக்கப்பட்ட கோப்புகளை கையாளுவது குறித்த அறிவுரைக்கு <link xref="files-hidden"/> ஐப் பார்க்கவும்.</p>

</page>
