<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip 2column" id="more-help" xml:lang="ta">
  <info>
    <link type="guide" xref="index" group="more-help"/>


    <credit type="author">
      <name>டிஃபானி அன்ட்டொபோல்ஸ்கி</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <credit type="author">
      <name>ஜிம் காம்ப்பெல்</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc><link xref="about-this-guide">இந்த வழிகாட்டியைப் பயன்படுத்துவதற்கான உதவிக் குறிப்புகள்</link>, <link xref="get-involved">இந்த வழிகாட்டியை மேம்படுத்த உதவுக</link>, <link xref="help-mailing-list">அஞ்சல் பட்டியல்</link>, <link xref="help-irc">IRC</link></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>மேலும் உதவி பெற</title>
  <p>

  </p>

</page>
