<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="tip" id="net-wireless-wepwpa" xml:lang="ta">

  <info>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-10" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME ஆவணமாக்கத் திட்டப்பணி</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>WEP மற்றும் WPA ஆகியவை வயர்லெஸ் பிணையங்களில் தரவை குறியாக்கம் செய்யும் வழிகள் ஆகும்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>WEP மற்றும் WPA என்றால் என்ன?</title>

  <p>WEP and WPA (along with WPA2) are names for different encryption tools
  used to secure your wireless connection. Encryption scrambles the network
  connection so that no one can “listen in” to it and look at which web pages
  you are viewing, for example. WEP stands for <em>Wired Equivalent
  Privacy</em>, and WPA stands for <em>Wireless Protected Access</em>. WPA2 is
  the second version of the WPA standard.</p>

  <p>குறியாக்கத்தையே பயன்படுத்தாமல் இருப்பதை விட <em>ஏதேனும்</em> ஒரு குறியாக்கத்தைப் பயன்படுத்துவது நல்லது, ஆனால் WEP ஆனது இந்தத் தரநிலைகளுக்கான குறைந்த பாதுகாப்பு கொண்ட முறையாகும், ஆகவே அதைத் தவிர்க்க முடிந்தால் அதைப் பயன்படுத்தாமல் இருப்பது நல்லது. WPA2 என்பது மிக அதிக பாதுகாப்பானது. உங்கள் வயர்லெஸ் கார்டு மற்றும் ரௌட்டர் WPA2 ஐ ஆதரித்தால், உங்கள் வயர்லெஸ் பிணையத்தை அமைக்கும் போது நீங்கள் அதையே பயன்படுத்த வேண்டும்.</p>

</page>
