<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-findip" xml:lang="ta">

  <info>
    <link type="guide" xref="net-general"/>
    <link type="seealso" xref="net-what-is-ip-address"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-10-30" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>ஷான் மெக்கேன்ஸ்</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>ஜிம் காம்ப்பெல்</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>மைக்கேல் ஹில்</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>எக்காட்டெரினா ஜெராசிமோவா</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>உங்கள் IP முகவரியைத் தெரிந்துகொண்டால், பிணைய பிரச்சினைகளை பழுதுபார்க்க உதவும்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>உங்கள் IP முகவரியை கண்டுபிடித்தல்</title>

  <p>உங்கள் IP முகவரி தெரிந்தால், இணைய இணைப்பு பிரச்சினைகளைப் பழுதுபார்க்க உதவியாக இருக்கும். உங்கள் கணினிக்கு பின்வருமாறு <em>இரண்டு IP</em> முகவரிகள் உள்ளன என்பது உங்களுக்கு ஆச்சரியமாக இருக்கலாம்: அக பிணையத்தில் உங்கள் கணினிக்கான ஒரு IP முகவரி மற்றும் இணையத்தில் உங்கள் கணினிக்கான IP முகவரி ஆகியவை உள்ளன.</p>

  <steps>
    <title>உங்கள் அக (பிணைய) IP முகவரியை கண்டுபிடித்தல்</title>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Network</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Network</gui> to open the panel.</p>
    </item>
    <item>
      <p>Choose which connection, <gui>Wi-Fi</gui> or <gui>Wired</gui>, from
      the left pane.</p>
      <p>The IP address for a wired connection will be displayed on the
      right.</p>
      
      <p>Click the
      <media its:translate="no" type="image" src="figures/emblem-system.png"><span its:translate="yes">settings</span></media>
      button to see the IP address for the wireless network in the
      <gui>Details</gui> panel.</p>
    </item>
  </steps>

  <steps>
  	<title>உங்கள் வெளி (இணைய) IP முகவரியை கண்டுபிடித்தல்</title>
    <item>
      <p><link href="http://whatismyipaddress.com/">whatismyipaddress.com</link> க்குச் செல்லவும்.</p>
    </item>
    <item>
      <p>இந்த தளம் உங்கள் கணினியின் வெளி IP முகவரியைக் காண்பிக்கும்.</p>
    </item>
  </steps>

  <p>Depending on how your computer connects to the internet, both of these
  addresses may be the same.</p>

</page>
