<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-crackle" xml:lang="ta">

  <info>
    <link type="guide" xref="sound-broken"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>GNOME ஆவணமாக்கத் திட்டப்பணி</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>உங்கள் ஆடியோ கேபிள்களையும் சவுன்ட் கார்டு இயக்கிகளையும் சோதிக்கவும்.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Shantha kumar,</mal:name>
      <mal:email>shkumar@redhat.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

<title>ஒலிகள் இயக்கப்படும் போது ஒரு இரைச்சல் போன்ற அல்லது ஒரு புஸ் என்ற ஒலி கேட்கிறது</title>

  <p>உங்கள் கணினியில் ஒலிகள் இயக்கப்படும் போது இரைச்சல் அல்லது புஸ் என்ற ஒலி கேட்டால், அது உங்கள் ஆடியோ கேபிள் அல்லது கனெக்ட்டரின் சிக்கலாக இருக்கலாம் அல்லது சவுன்ட் கார்டு இயக்கிகளில் சிக்கல் இருக்கலாம்.</p>

<list>
 <item>
  <p>ஸ்பீக்கர்கள் சரியாக இணைக்கப்பட்டுள்ளதா என பார்க்க்வும்.</p>
  <p>If the speakers are not fully plugged in, or if they are plugged into the
  wrong socket, you might hear a buzzing sound.</p>
 </item>

 <item>
  <p>Make sure the speaker/headphone cable is not damaged.</p>
  <p>ஆடியோ கேபிள் மற்றும் கனெக்ட்டர்கள் பயன்படுத்திக் கொண்டே இருந்தால் சற்று பலவீனமாகலாம். கேபிள் அல்லது ஹெட்ஃபோன்களை (MP3 பிளேயர் அல்லது CD பிளேயர் போன்ற) வேறொரு ஆடியோ சாதனத்தில் இணைத்து அப்போதும் அந்த இரைச்சல் வருகிறதா எனப் பார்க்கவும். அவற்றிலும் வந்தால் நீங்கள் கேபிள் அல்லது ஹெட்ஃபோன்களை மாற்ற வேண்டும்.</p>
 </item>

 <item>
  <p>Check if the sound drivers are not very good.</p>
  <p>Some sound cards do not work very well on Linux because they do not have very
  good drivers. This problem is more difficult to identify. Try searching for
  the make and model of your sound card on the internet, plus the search term
  “Linux”, to see if other people are having the same problem.</p>
  <p>உங்கள் சவுன்ட் கார்டு பற்றி கூடுதல் தகவலைப் பெற <cmd>lspci</cmd> கட்டளையைப் பயன்படுத்தலாம்.</p>
 </item>
</list>

</page>
