<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="music-player-newipod" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="media#music"/>


    <credit type="author">
      <name>Projeto de documentação do GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <desc>iPods novos podem precisar serem configurados usando o software do iTunes para você poder usá-los.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2011, 2012.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>João Santana</mal:name>
      <mal:email>joaosantana@outlook.com</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2012-2018.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Isaac Ferreira Filho</mal:name>
      <mal:email>isaacmob@riseup.net</mal:email>
      <mal:years>2018.</mal:years>
    </mal:credit>
  </info>

<title>Meu iPod novo não funciona</title>

<p>Se você tem um iPod novo que nunca esteve conectado a um computador antes, ele pode não ser reconhecido adequadamente ao ser conectado a um computador com Linux. Isso porque os iPods precisam ser configurados e atualizados usando o software <app>iTunes</app>, o qual funciona apenas no Windows e no Mac OS.</p>

<p>Para configurar seu iPod, instale o iTunes em um computador com Windows ou Mac e conecte o iPod nele. Você será direcionado por alguns passos para configurá-lo. Se for solicitado o <gui>Formato</gui>, escolha <gui>MS-DOS (FAT)</gui>, <gui>Windows</gui> ou outro similar. O outro formato (HFS/Mac) também não funciona no Linux.</p>

<p>Assim que você concluir a configuração, o iPod deve funcionar normalmente ao ser conectado em um computador com Linux.</p>

</page>
