<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="password" xml:lang="gl">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use a opción <cmd>--password</cmd>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2011-2012.</mal:years>
    </mal:credit>
  </info>
  <title>Diálogo de contrasinal</title>
  <p>Use a opción <option>--password</option> para crear un diálogo de contrasinal.</p>
  <p>O diálogo de contrasinal admite as seguintes opcións:</p>

  <terms>
    <item>
      <title><cmd>--username</cmd></title>
      <p>Mostrar o campo de nome de usuario.</p>
    </item>
  </terms>

  <p>O seguinte script de exemplo mostra como se crea un diálogo de contrasinal:</p>

<code>
#!/bin/sh

ENTRY=`zenity --password --username`

case $? in
         0)
	 	echo "Nome de usuario: `echo $ENTRY | cut -d'|' -f1`"
	 	echo "Contrasinal : `echo $ENTRY | cut -d'|' -f2`"
		;;
         1)
                echo "Deter inicio de sesión.";;
        -1)
                echo "Produciuse un erro non esperado.";;
esac
</code>

  <figure>
    <title>Exemplo de diálogo de contrasinal</title>
    <desc>Exemplo de diálogo de entrada de contrasinal <app>Zenity</app></desc>
    <media type="image" mime="image/png" src="figures/zenity-password-screenshot.png"/>
  </figure>

</page>
