<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip" id="backup-why" xml:lang="pl">

  <info>
    <link type="guide" xref="files#backup"/>
    <title type="link" role="trail">Kopie zapasowe</title>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>

    <credit type="author">
      <name>Projekt dokumentacji GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Dlaczego, co, gdzie i jak robić kopie zapasowe.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

<title>Tworzenie kopii zapasowych ważnych plików</title>

  <p>Tworzenie <em>kopii zapasowej</em> plików oznacza tworzenie ich kopii. Robi się to w razie, gdyby oryginalne pliki stały się nieczytelne z powodu zgubienia lub uszkodzenia. Te kopie mogą być używane do przywrócenia oryginalnych danych w przypadku utraty. Kopie należy przechowywać na innym urządzeniu, niż oryginalne pliki, na przykład dysku USB, zewnętrznym dysku twardym, płycie CD/DVD lub usłudze internetowej.</p>

  <p>Najlepiej jest tworzyć kopię zapasową plików regularnie, przechowywać ją w innym budynku i (jeśli to możliwe) zaszyfrować.</p>

<links type="topic" style="2column"/>

</page>
