<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-whatisprofile" xml:lang="pl">

  <info>
    <link type="guide" xref="color#profiles"/>
    <desc>Profil kolorów to prosty plik odzwierciedlający przestrzeń kolorów lub odpowiedź urządzenia.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Czym jest profil kolorów?</title>

  <p>Profil kolorów to zestaw danych charakteryzujący urządzenie, takie jak projektor, lub przestrzeń kolorów, taką jak sRGB.</p>
  <p>Większość profili kolorów jest w formie profilu ICC, który jest małym plikiem z rozszerzeniem <input>.ICC</input> lub <input>.ICM</input>.</p>
  <p>Profile kolorów mogą być osadzane w obrazach, aby określić zakres gamy. Zapewnia to, że użytkownicy widzą te same kolory na różnych urządzeniach.</p>
  <p>Każde urządzenie przetwarzające kolory powinno mieć własny profil ICC, i kiedy tak się dzieje, to komputer ma pełne zarządzanie kolorami. Można mieć wtedy pewność, że kolory nie są stracone ani zmodyfikowane.</p>

</page>
