<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" style="task" xml:lang="pl">

<info>
    <desc>Podręcznik użytkownika GNOME 3</desc>

    <title type="link">Pomoc GNOME</title>
    <title type="text">Pomoc GNOME</title>
    <title role="trail" type="link"><media its:translate="no" type="image" mime="image/png" src="figures/gnome.png"><span its:translate="yes">Pomoc</span></media></title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

<title><media its:translate="no" type="image" src="figures/yelp-icon-big.png"><span its:translate="yes">Logo programu Yelp</span></media> Pomoc GNOME</title>

<links type="topic" groups="#gs"/>

<links type="topic" groups="#first"/>

<links type="topic" style="toronto" groups="        shell-overview        net media files        prefs hardware        a11y tips more-help"/>
</page>
