<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="printing-streaks" xml:lang="pl">

  <info>
    <link type="guide" xref="printing#problems"/>
    <link type="seealso" xref="printing-inklevel"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Projekt dokumentacji GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Jeśli wydruki są w smugach, wyblaknięte lub nie mają kolorów, to sprawdź poziomy tuszu lub wyczyść głowice drukujące.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Dlaczego na wydrukach są smugi, kreski lub niewłaściwe kolory?</title>

  <p>Jeśli wydruki są w smugach, wyblaknięte, mają kreski, których nie powinno być, lub mają niską jakość w inny sposób, to może to być problem z drukarką albo niski poziom tuszu lub toneru.</p>

  <terms>
     <item>
       <title>Wyblakły tekst lub obrazy</title>
       <p>Tusz lub toner może się kończyć. Sprawdź poziom tuszu lub toneru i kup nowy kartridż, jeśli zachodzi potrzeba.</p>
     </item>
     <item>
       <title>Smugi i kreski</title>
       <p>W przypadku drukarki atramentowej głowica drukująca może być brudna lub częściowo zablokowana. Spróbuj ją wyczyścić. Instrukcja drukarki zawiera więcej informacji.</p>
     </item>
     <item>
       <title>Niewłaściwe kolory</title>
       <p>W drukarce mógł skończyć się jeden kolor tuszu lub toneru. Sprawdź poziom tuszu lub toneru i kup nowy kartridż, jeśli zachodzi potrzeba.</p>
     </item>
     <item>
       <title>Poszarpane linie lub linie nie są proste</title>
       <p>Jeśli linie na wydruku, które powinny być proste są poszarpane, to być może należy wyrównać głowicę drukującą. Instrukcja drukarki zawiera informacje, jak to zrobić.</p>
     </item>
  </terms>

</page>
