<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-search" xml:lang="sv">

  <info>
    <link type="guide" xref="contacts"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="review"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="author editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Sök efter en kontakt.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Sebastian Rasmussen</mal:name>
      <mal:email>sebras@gmail.com</mal:email>
      <mal:years>2014, 2015, 2016</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2016, 2017</mal:years>
    </mal:credit>
  </info>

<title>Sök efter en kontakt</title>

  <p>Du kan söka efter en nätkontakt på två sätt:</p>

  <steps>
    <item>
      <p>I översiktsvyn <gui>Aktiviteter</gui>, börja skriv namnet på kontakten.</p>
    </item>
    <item>
      <p>Matchande kontakter kommer att visas i översikten istället för den vanliga listan av program.</p>
    </item>
    <item>
      <p>Tryck på <key>Retur</key> för att välja kontakten överst i listan eller klicka på kontakten som du vill välja om den inte är längst upp.</p>
    </item>
  </steps>

  <p>För att söka inifrån <app>Kontakter</app>:</p>

  <steps>
    <item>
      <p>Klicka i sökfältet.</p>
    </item>
    <item>
      <p>Börja skriva in namnet på kontakten.</p>
    </item>
  </steps>

</page>
