<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="conv-length" xml:lang="de">

    <info>
        <link type="guide" xref="index#conversion"/>
    
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jan Arne Petersen</mal:name>
      <mal:email>jap@gnome.org</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@googlemail.com</mal:email>
      <mal:years>2008,2009,2010,2014,2015,2017</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2012, 2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jakob Kramer</mal:name>
      <mal:email>jakob.kramer@gmx.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Tim Sabsch</mal:name>
      <mal:email>tim@sabsch.com</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

	<title>Länge/Fläche/Volumen</title>
    
    <p>Zur Umrechnung von Längen, Flächen und Volumina verwenden Sie den Operator <em>in</em>.</p>
    <example>
    <p>6 Meter in Zoll</p>
    <p>1 acre in cm²</p>
    <p>1 pint in mL</p>
    </example>
    <note>
    <p>Umrechnungen von Längen, Flächen oder Volumina müssen mit der Tastatur ausgeführt werden.</p>
    </note>
</page>
