<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="color-calibrationtargets" xml:lang="pt">

  <info>

    <link type="guide" xref="color#calibration"/>

    <desc>Precisam-se objetivos de calibração para perfilar escáneres e câmaras.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Que tipos de objetivos estão suportados?</title>

  <p>Os seguintes tipos de objetivos estão suportados:</p>

  <list>
    <item><p>CMP DigitalTarget</p></item>
    <item><p>ColorChecker 24</p></item>
    <item><p>ColorChecker DC</p></item>
    <item><p>ColorChecker SG</p></item>
    <item><p>i1 RGB Scan 14</p></item>
    <item><p>LaserSoft DC Pro</p></item>
    <item><p>QPcard 201</p></item>
    <item><p>IT8.7/2</p></item>
  </list>

  <note style="tip">
    <p>Pode comprar objetivos de fabricantes de renome como KODAK, X'Rite e LaserSoft em diversas lojas em linha.</p>
    <p>Alternativamente pode comprar objetivos de <link href="http://www.targets.coloraid.de/">Wolf Faust</link> a muito bom preço.</p>
  </note>

</page>
