<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="problem" id="hardware-problems-graphics" xml:lang="pt">
  <info>

    <link type="guide" xref="hardware#problems"/>

    <credit type="author">
      <name>Phil Bulh</name>
      <email>philbull@gmail.com</email>
    </credit>

    <desc>Resolução de problemas de ecrã e gráficos.</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Problemas do ecrã</title>

<p>A maioria dos problemas com o ecrã devem-se a controladores de gráficos que não estão a funcionar corretamente ou ao uso duma configuração errónea. Qual dos seguintes temas descreve melhor o problema que tem?</p>

</page>
