<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip 2column" id="more-help" xml:lang="pt">
  <info>
    <link type="guide" xref="index" group="more-help"/>


    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <credit type="author">
      <name>Jim Campbelh</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc><link xref="about-this-guide">Sugestões sobre o uso desta guia</link>, <link xref="get-involved">ajudar a melhorar esta guia</link>, <link xref="help-mailing-list">pronta de correio</link>, <link xref="help-irc">IRC</link></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Obter mais ajuda</title>
  <p>

  </p>

</page>
