<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-hotcomputer" xml:lang="pt">

  <info>
    <link type="guide" xref="power#problems"/>
    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>As computadores, em general, aquecem-se mas podem sobrecalentarse, o que pode causar danos.</desc>

    <credit type="author">
      <name>Projeto de documentação de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Minha computador aquece-se demasiado</title>

<p>A maioria das computadores aquecem-se após um tempo, e alguns podem chegar a estar muito quentes. Isto é normal: simplesmente é parte da forma na que a computador se refrigera. No entanto, se a computador põe-se muito quente poderia ser um sinal de sobre-aquecimento, o que potencialmente pode causar danos.</p>

<p>Most laptops get reasonably warm once you have been using them for a while.
It is generally nothing to worry about — computers produce a lot of heat and
laptops are very compact, so they need to remove their heat rapidly and their
outer casing warms up as a result. Some laptops do get too hot, however, and
may be uncomfortable to use. This is normally the result of a poorly-designed
cooling system. You can sometimes get additional cooling accessories which fit
to the bottom of the laptop and provide more efficient cooling.</p>

<p>If you have a desktop computer which feels hot to the touch, it may have
insufficient cooling. If this concerns you, you can buy extra cooling fans or
check that the cooling fans and vents are free from dust and other blockages.
You might want to consider putting the computer in a better-ventilated area too
— if kept in confined spaces (for example, in a cupboard), the cooling system in the
computer may not be able to remove heat and circulate cool air fast enough.</p>

<p>Algumas pessoas estão preocupadas pelos riscos para a saúde da utilização de computadores portáteis quentes. Há sugestões de que o uso prolongado dum portátil quente sobre as pernas, possivelmente, poderia reduzir no homem a fertilidad, e há relatorios de queimaduras menores que se sofreram em casos extremos. Se está preocupado com estes possíveis problemas, recomendamos-lhe que consulte a um médico para receber aconselhamento. Por suposto, pode simplesmente optar por não descansar o portátil em seu colo.</p>

<p>A maioria das computadores modernas apagam-se sozinhos se aquecem-se demasiado, com o fim de evitar que se produzam danos. Se a computador mantém-se  apagado pode ser por isto. Se o seu computador tem-se sobre-aquecendo, provavelmente terá que o consertar.</p>

</page>
