<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="user-admin-problems" xml:lang="pt">

  <info>
    <link type="guide" xref="user-accounts#privileges"/>
    <link type="seealso" xref="user-admin-explain"/>
    <link type="seealso" xref="user-admin-change"/>

    <revision pkgversion="3.8.0" date="2013-03-09" status="candidate"/>
    <revision pkgversion="3.10" date="2013-11-03" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <!-- TODO: review that this is actually correct -->
    <revision pkgversion="3.18" date="2015-09-28" status="candidate"/>

    <credit type="authohar">
      <name>Projeto de documentação de GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Pode fazer algumas coisas, como instalar aplicações, só se tem privilégios de administrador.</desc>
  </info>

  <title>Problemas causados por restrições administrativas</title>

  <p>Pode ter alguns problemas se não tem <link xref="user-admin-explain">privilégios de administrador</link>. Algumas tarefas precisam privilégios de administrador para funcionar, por exemplo:</p>

  <list>
    <item>
      <p>ligar-se a redes instaladas/sem fios,</p>
    </item>
    <item>
      <p>ver o conteúdo duma partição de disco diferente (ex. uma partição de Windows), ou</p>
    </item>
    <item>
      <p>instalar aplicações novos</p>
    </item>
  </list>

  <p>Pode <link xref="user-admin-change">mudar quem tem privilégios de administrador</link>.</p>

</page>
