<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="task" id="pref-menubar" xml:lang="gl">

  <info>
    <revision version="0.1" date="2013-02-21" status="candidate"/>
    <link type="guide" xref="index#preferences"/>
    <link type="guide" xref="pref#global"/>
    <link type="seealso" xref="pref-keyboard-access"/>
    <link type="seealso" xref="app-fullscreen"/>

    <credit type="author copyright">
      <name>Sindhu S</name>
      <email>sindhus@live.in</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2013</years>
    </credit>
    <credit type="copyright editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>2013</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Hide and restore the menubar.</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fran Dieguez</mal:name>
      <mal:email>frandieguez@gnome.org</mal:email>
      <mal:years>2013.</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leandro Regueiro</mal:name>
      <mal:email>leandro.regueiro@gmail.com</mal:email>
      <mal:years>2011.</mal:years>
    </mal:credit>
  </info>

  <title>Menubar visibility</title>

  <p>You can enable or disable the menubar as desired. This may be useful if
  you have limited screen space. To hide the menubar:</p>

  <steps>
    <item>
      <p>Select <gui style="menu">View</gui> and deselect
      <gui style="menuitem">Show Menubar</gui>.</p>
    </item>
  </steps>

  <p>To restore the menubar:</p>

  <steps>
    <item>
      <p>Right click in <app>Terminal</app> and select
      <gui style="menuitem">Show Menubar</gui>.</p>
    </item>
  </steps>

  <p>To enable or disable the menubar by default in all <app>Terminal</app>
  windows that you open:</p>

  <steps>
    <item>
      <p>Select <guiseq><gui style="menu">Edit</gui> <gui style="menuitem">
      Preferences</gui> <gui style="tab">General</gui></guiseq>.</p>
    </item>
    <item>
      <p>Select or deselect <gui>Show menubar by default in new terminals</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>You can <link xref="adv-keyboard-shortcuts">set a keyboard
    shortcut</link> to show and hide the menubar.</p>
  </note>

</page>
