<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="archive-view" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#managing-archives"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartilhada Igual 3.0</p>
    </license>
    <desc>Veja um pacote existente e seu conteúdo.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2015</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2012-2014, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Ver um pacote</title>

  <p>Há duas formas para ver um pacote:</p>

  <terms>
    <item>
      <title>Ver todos arquivos</title>
      <p>Clique <guiseq><gui style="menu">Ver</gui><gui style="menuitem">Ver todos arquivos</gui></guiseq>. O <app>Gerenciador de compactação</app> vai listar todos arquivos dentro do pacote. Você verá os nomes, tamanhos, tipos, datas da última modificação e localizações.</p>
      <note style="tip">
	<p>Você pode usar o cabeçalhos de coluna mencionados acima (nome, tamanho…) para ordenar os arquivos em seu pacote. Faça isso clicando neles; você pode ativar/desativar para ordem em reversa.</p>
      </note>
    </item>
    <item>
      <title>Ver como uma pasta</title>
      <p>Essa visão exibe a clássica estrutura de diretório. Para usar esta, clique <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Ver como uma pasta</gui></guiseq>.</p>
      <note style="tip">
	<p>Enquanto estiver vendo de seu pacote, você pode pressionar <key>F9</key>, ou clicar as opções <guiseq><gui style="menu">Ver</gui> <gui style="menuitem">Pastas</gui></guiseq>, para ver a ver uma visão da árvore de pastas no painel lateral. Isso permite que você navegue facilmente entre pastas.</p>
      </note>
    </item>
  </terms>

  <section id="file-open">
    <title>Abrir arquivos do seu pacote</title>

    <p>Abra arquivos que estão no seu pacote com clique duplo no nome do arquivo, ou com clique direito no nome do arquivo e selecionando <gui>Abrir</gui>. O <app>Gerenciador de compactação</app> vai abrir o arquivo com o aplicativo padrão para aquele tipo de arquivo.</p>

    <note>
      <p>Abra o arquivo com um aplicativo diferente seguindo os passos abaixo:</p>
      <steps>
        <item>
          <p>Clique direito no arquivo.</p>
        </item>
        <item>
          <p>Clique em <gui>Abrir com…</gui>.</p>
        </item>
        <item>
          <p>Selecione o aplicativo que você deseja usar e clique <gui>Selecionar</gui>.</p>
        </item>
      </steps>
    </note>
  </section>

</page>
