<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="archive-extract" xml:lang="id">

  <info>
    <link type="guide" xref="index#managing-archives"/>
    <link type="seealso" xref="archive-open"/>
    <link type="seealso" xref="password-protection"/>
    <link type="seealso" xref="archive-extract-advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <revision pkgversion="3.12" date="2014-03-23" status="review"/>

    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email its:translate="no">majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Mengkstrak berkas atau folder dari arsip Anda.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016</mal:years>
    </mal:credit>
  </info>

  <title>Ekstrak suatu arsip</title>

  <p>Mengekstrak berkas dari suatu arsip memakai <app>Manajer Arsip</app> dengan mengikuti langkah-langkah berikut:</p>

  <steps>
    <item>
      <p><link xref="archive-open">Buka</link> suatu arsip.</p>
    </item>
    <item>
      <p>Klik <gui style="button">Ekstrak</gui>.</p>
    </item>
    <item>
      <p>Pilih ke mana Anda ingin mengekstrak arsip dalam pemilih berkas. Ini akan menjadi folder tujuan. Lihat <link xref="archive-extract-advanced-options">opsi-opsi tingkat lanjut untuk mengekstrak arsip</link> untuk lebih banyak opsi ekstraksi.</p>
    </item>
    <item>
      <p>Klik <gui>Ekstrak</gui>.</p>
    </item>
    <item>
      <p>Bila suatu arsip terproteksi oleh <link xref="password-protection">kata sandi</link>, <app>Manajer Arsip</app> akan memintanya. Ketikkan kata sandi dan klik <gui>OK</gui>.</p>
    </item>
    <item>
      <p>Aplikasi akan menampilkan bilah kemajuan dalam suatu dialog baru. Bila ekstraksi sukses sampai komplit, Anda akan ditanyai apakah Anda ingin:</p>
      <list>
        <item>
          <p><gui>Keluar</gui> untuk menutup <app>Manajer Arsip</app>.</p>
        </item>
        <item>
          <p><gui>Menampilkan berkas</gui> untuk menilik folder tujuan dengan <app>Berkas</app>.</p>
        </item>
        <item>
          <p><gui>Tutup</gui> dialog.</p>
        </item>
      </list>
    </item>
  </steps>

</page>
