<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="test-integrity" xml:lang="id">

  <info>
    <link type="guide" xref="index#advanced-options"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
    <desc>Periksa arsip apakah ada kesalahan.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Andika Triwidada</mal:name>
      <mal:email>andika@gmail.com</mal:email>
      <mal:years>2013, 2014, 2016</mal:years>
    </mal:credit>
  </info>

  <title>Uji integritas</title>

  <p><app>Manajer Arsip</app> mengijinkan Anda memeriksa apakah data terkompresi dalam suatu arsip memuat kesalahan. Lakukan ini dengan mengklik <guiseq><gui style="menu">Arsip</gui><gui style="menuitem">Uji Integritas</gui></guiseq>.</p>

  <p>Dialog dengan <gui>Hasil Uji</gui> akan muncul, menampilkan daftar berkas yang diuji, dengan  ringkasan uji di bagian bawah.</p>

  <note style="advanced">
    <p>Uji integritas memastikan bahwa data Anda tidak rusak.</p>
  </note>

</page>
