<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="files" xml:lang="mr">

  <info>
    <link type="guide" xref="index" group="files"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-07" status="review"/>
    <revision pkgversion="3.12" date="2014-03-02" status="review"/>
    <revision pkgversion="3.16" date="2015-01-27" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>

    <title type="link" role="trail">फाइल्स</title>

    <desc><link xref="files-search">शोधणे</link>, <link xref="files-delete">फाइल्स नष्ट करा</link>, <link xref="files#backup">बॅकअप्स</link>, <link xref="files#removable">काढूणटाकण्याजोगी ड्राइव्ह्ज</link>…</desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>फाइल्स, फोल्डर्स &amp; शोधा</title>

<section id="common-file-tasks">
  <title>समान कार्ये</title>
  <links type="topic" style="2column"/>
</section>

<section id="more-file-tasks">
  <title>More file-related tasks</title>
  <links type="topic" style="2column"/>
</section>

<section id="removable">
  <title>निघण्यासारखे उपकरणे आणि बाह्य डिस्कस्</title>
  <links type="topic" style="2column"/>
</section>

<section id="backup">
  <title>बॅकअप घेत आहे</title>
  <links type="topic" style="2column"/>
</section>

<section id="faq">
  <title>टीपा आणि प्रश्ने</title>
  <links type="topic" style="2column"/>
</section>

</page>
