<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="question" id="power-othercountry" xml:lang="mr">

  <info>
    <link type="guide" xref="power#problems"/>
    <desc>तुमचा संगणक कार्य करेल, परंतु तुम्हाला वेगळे पावर केबल किंवा ट्रॅवल अडॅप्टरची आवश्यकता पडेल.</desc>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>GNOME डॉक्युमेंटेशन प्रकल्प</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

<title>माझे संगणक दुसऱ्या देशातील वीज पुरवठासह कार्य करेल?</title>

<p>विविध देश पावर सप्लायजा वापर वेगळ्या वोल्टेजमध्ये कार्य करतात (सहसा 110V किंवा 220-240V) आणि AC क्रिक्वेंसिज (सहसा 50 Hz किंवा 60 Hz). योग्य पावर अडॅप्टरसह आपला संगणक वेगळ्या देशात वीज पुरवठासह कार्य करेल. तुम्हाला स्विच देखील प्लिप करावेल लागेल.</p>

<p>तुमच्याकडे लॅपटॉप असल्यास, पावर अडॅप्टरकरिता योग्य प्लग शोधणे. काही लॅपटॉप्स त्यांच्या अडॅप्टरकरीता एकापेक्षा जास्त प्लग पॅकेज करतात, त्यामुळे तुमच्याकडे आधीच एक योग्य असू शकते. नाही तर, सध्याच्याला मानक प्रवास अडॅप्टरमध्ये प्लगइन करणे पुरे होईल.</p>

<p>If you have a desktop computer, you can also get a cable with a different
plug, or use a travel adapter. In this case, however, you may need to change
the voltage switch on the computer’s power supply, if there is one. Many
computers do not have a switch like this, and will happily work with either
voltage. Look at the back of the computer and find the socket that the power
cable plugs into. Somewhere nearby, there may be a small switch marked “110V”
or “230V” (for example). Switch it if you need to.</p>

<note style="warning">
  <p>पॉवर केबल्स बदलून किंवा प्रवास अडॅप्टर वापरताना काळजी घ्या. शक्यतया प्रथमवेळी सर्वकाही बंद करा.</p>
</note>

</page>
