<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="prefs" xml:lang="mr">
  <info>

    <link type="guide" xref="index" group="prefs"/>
    <title role="trail" type="link">सेटिंग</title>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>
      <link xref="keyboard">Keyboard</link>,
      <link xref="mouse">mouse &amp; touchpad</link>,
      <link xref="prefs-display">display</link>,
      <link xref="prefs-language">languages</link>,
      <link xref="user-accounts">user accounts</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

<title>वापरकर्ता &amp; सिस्टीम सेटिंग</title>
<links type="topic" style="toronto"/>

</page>
