<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing-booklet" xml:lang="mr">

  <info>
    <link type="guide" xref="printing#paper"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany@antopolski.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>A4 किंवा लेटर-साइज्ड पेपरचा वापर करून मोड केलेली, बहु-पृष्ठ बूकलेटची छपाई कशी करायची.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>पुस्तिका छापा</title>

  <p>तुम्ही पीडीएफपासून पुस्तिका छापु शकता.</p>

  <p><app>LibreOffice</app> दस्तऐवजपासून बूकलेटची छपाई करायची असल्यास, पहिले <guiseq><gui>फाइल</gui><gui>PDF म्हणून एक्सपोर्ट करा…</gui></guiseq> निवडून तुम्ही PDF ला एक्सपोर्ट करू शकता. तुमचे दस्तऐवज पृष्ठे ४ संख्येच्या पटीत असणे आवश्यक आहे (४, ८, १२, १६,…). तुम्हाला ३ रिकामे पृष्ठे समाविष्ट करावे लागेल.</p>

  <p>PDF दस्तऐवजातील पृष्ठांची संख्या ४ च्या पटीने असल्यास, ४ च्या पटीने करण्यासाठी रिकाम्या पृष्ठांची योग्य संख्या समाविष्ट करा (१,२ किंवा ३). असे करण्यासाठी, तुम्ही खालील करू शकता:</p>

  <steps>
    <item>
      <p>आवश्यक रिकाम्या पृष्ठांची संख्या (१-३) सह <app>LibreOffice</app> दस्तऐव निर्माण करा.</p>
    </item>
    <item>
      <p><guiseq><gui>फाइल</gui> <gui>PDF म्हणून एक्सपोर्ट करा…</gui></guiseq> निवडून रिकाम्या पृष्ठांना PDF करिता एक्सपोर्ट करा.</p>
    </item>
    <item>
      <p><app>PDF-शफलर</app> किंवा <app>PDF मॉड</app> यांचा वापर करून PDF दस्तऐवजासह रिकाम्या पृष्ठांना एकत्रीत करा, रिकाम्या पृष्ठांना शेवटीस स्थित करा.</p>
    </item>
  </steps>

  <p>खालील सूचीपासून छपाईकरिता वापरण्याजोगी छपाईयंत्राचे प्रकार निवडा:</p>

</page>
