<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-lockscreen" xml:lang="mr">

  <info>
    <link type="guide" xref="shell-overview#apps"/>

    <revision pkgversion="3.6.1" date="2012-11-11" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>

    <credit type="author copyright">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
      <years>२०१२</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>देखना आणि कार्यकारी कुलूपबंद पडदा उपयोगी माहिती प्रस्तुत करते.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>

  <title>स्क्रीन कुलूप</title>

  <p>कुलूपबंद पडदा म्हणजे संगणक कुलूपबंद असताना कोणे होते ते पहा, आणि दूर असताना काय होते त्यांचे सारांश प्राप्त करण्यास परवानगी देते. लॉक स्क्रीन पडदा तुम्हाला   संगणक कुलूपबंद असतेवेळी पडद्याची देखणी प्रतिमा दाखवते, आणि उपयोगी माहिती पुरवते:</p>

  <list>
    <item><p>लॉग-इन असलेल्या वापरकर्त्याचे नाव</p></item>
    <item><p>तारीख आणि वेळ, आणि काही सूचना</p></item>
    <item><p>बॅटरी आणि नेटवर्क स्थिती</p></item>
<!-- No media control anymore on lock screen, see BZ #747787: 
    <item><p>the ability to control media playback — change the volume, skip a
    track or pause your music without having to enter a password</p></item> -->
  </list>

  <p>To unlock your computer, raise the lock screen curtain by dragging it
  upward with the cursor, or by pressing <key>Esc</key> or <key>Enter</key>.
  This will reveal the login screen, where you can enter your password to
  unlock. Alternatively, just start typing your password and the curtain will
  be automatically raised as you type. You can also switch users if your
  computer is configured for more than one.</p>

</page>
