<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="shell-windows-tiled" xml:lang="mr">

  <info>
    <link type="guide" xref="shell-windows#working-with-windows"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="review"/>
    <revision pkgversion="3.4.0" date="2012-03-14" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>दोन पटलांना बाजू-दर-बाजू मोठे करा.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aniket Deshpande &lt;djaniketster@gmail.com&gt;, 2013; संदिप शेडमाके</mal:name>
      <mal:email>sshedmak@redhat.com</mal:email>
      <mal:years>२०१३.</mal:years>
    </mal:credit>
  </info>


<title>पटल टाइल करा</title>

  <p>फक्त पडद्याच्या डाव्या किंवा उजव्या बाजूस पटलाला मोठे करणे शक्य आहे, जेणेकरूण दोन पटलांचा पटकन वापर करण्यासाठी बाजू-दर-बाजू स्थित करणे शक्य आहे.</p>

  <p>To maximize a window along a side of the screen, grab the titlebar and
  drag it to the left or right side until half of the screen is highlighted.
  Using the keyboard, hold down <key xref="keyboard-key-super">Super</key> and
  press the <key>Left</key> or <key>Right</key> key.</p>

  <p>पटलाला मूळ आकारात पूर्वस्थितीमध्ये आणण्याकरिता, त्यास पडद्याच्या बाजूस ओढा, किंवा मोठे करण्याकरिता समान कळफल शार्टकटचा वापर करा.</p>

  <note style="tip">
    <p>Hold down the <key>Super</key> key and drag anywhere in a window to move
    it.</p>
  </note>

</page>
