<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrate-camera" xml:lang="pa">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrationtargets"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <desc>Calibrating your camera is important to capture accurate colors.</desc>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>How do I calibrate my camera?</title>

  <p>
    Camera devices are calibrated by taking a photograph of a target
    under the desired lighting conditions.
    By converting the RAW file to a TIFF file, it can be used to
    calibrate the camera device in the color control panel.
  </p>
  <p>
    You will need to crop the TIFF file so that just the target is
    visible. Ensure the white or black borders are still visible.
    Calibration will not work if the image is upside-down or is
    distorted by a large amount.
  </p>

  <note style="tip">
    <p>
      The resulting profile is only valid under the lighting condition
      that you acquired the original image from.
      This means you might need to profile several times for
      <em>studio</em>, <em>bright sunlight</em> and <em>cloudy</em>
      lighting conditions.
    </p>
  </note>

</page>
