<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" style="task" xml:lang="pa">

<info>
    <desc>A guide for GNOME 3 desktop users</desc>

    <title type="link">GNOME Help</title>
    <title type="text">GNOME Help</title>
    <title role="trail" type="link"><media its:translate="no" type="image" mime="image/png" src="figures/gnome.png"><span its:translate="yes">Help</span></media></title>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title><media its:translate="no" type="image" src="figures/yelp-icon-big.png"><span its:translate="yes">Yelp logo</span></media> GNOME Help</title>

<links type="topic" groups="#gs"/>

<links type="topic" groups="#first"/>

<links type="topic" style="toronto" groups="        shell-overview        net media files        prefs hardware        a11y tips more-help"/>
</page>
