<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="prefs" xml:lang="pa">
  <info>

    <link type="guide" xref="index" group="prefs"/>
    <title role="trail" type="link">ਸੈਟਿੰਗ</title>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <desc>
      <link xref="keyboard">Keyboard</link>,
      <link xref="mouse">mouse &amp; touchpad</link>,
      <link xref="prefs-display">display</link>,
      <link xref="prefs-language">languages</link>,
      <link xref="user-accounts">user accounts</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>ਯੂਜ਼ਰ &amp; ਸਿਸਟਮ ਸੈਟਿੰਗ</title>
<links type="topic" style="toronto"/>

</page>
