<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="prefs-display" xml:lang="pa">
  <info>

    <link type="guide" xref="prefs"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>
      <link xref="look-background">Background</link>,
      <link xref="look-resolution">size and orientation</link>,
      <link xref="display-brightness">brightness</link>,
      <link xref="display-night-light">color temperature</link>…
    </desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>ਡਿਸਪਲੇਅ &amp; ਸਕਰੀਨ</title>

</page>
