<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="screen-shot-record" xml:lang="pa">

  <info>
    <link type="guide" xref="tips"/>

    <revision pkgversion="3.6.1" date="2012-11-10" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.14.0" date="2015-01-14" status="review"/>

    <credit type="author copyright">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
      <years>2011</years>
    </credit>
    <credit type="author copyright">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
      <years>2012</years>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Take a picture or record a video of what is happening on your
    screen.</desc>
  </info>

<title>ਸਕਰੀਨਸ਼ਾਟ ਅਤੇ ਸਕਰੀਨਕਾਸਟ</title>

  <p>You can take a picture of your screen (a <em>screenshot</em>) or record a
  video of what is happening on the screen (a <em>screencast</em>). This is
  useful if you want to show someone how to do something on the computer, for
  example. Screenshots and screencasts are just normal picture and video files,
  so you can email them and share them on the web.</p>

<section id="screenshot">
  <title>ਸਕਰੀਨ-ਸ਼ਾਟ ਲਵੋ</title>

  <steps>
    <item>
      <p>Open <app>Screenshot</app> from the
      <gui xref="shell-introduction#activities">Activities</gui> overview.</p>
    </item>
    <item>
      <p>In the <app>Screenshot</app> window, select whether to grab the whole
      screen, the current window, or an area of the screen. Set a delay if you
      need to select a window or otherwise set up your desktop for the
      screenshot. Then choose any effects you want.</p>
    </item>
    <item>
       <p>Click <gui>Take Screenshot</gui>.</p>
       <p>If you selected <gui>Select area to grab</gui>, the pointer changes
       into a crosshair. Click and drag the area you want for the
       screenshot.</p>
    </item>
    <item>
      <p>In the <gui>Save Screenshot</gui> window, enter a file name and choose
      a folder, then click <gui>Save</gui>.</p>
      <p>Alternatively, import the screenshot directly into an image-editing
      application without saving it first. Click <gui>Copy to Clipboard</gui>
      then paste the image in the other application, or drag the screenshot
      thumbnail to the application.</p>
    </item>
  </steps>

  <section id="keyboard-shortcuts">
    <title>Keyboard shortcuts</title>

    <p>Quickly take a screenshot of the desktop, a window, or an area at any
    time using these global keyboard shortcuts:</p>

    <list style="compact">
      <item>
        <p><key>Prt Scrn</key> to take a screenshot of the desktop.</p>
      </item>
      <item>
        <p><keyseq><key>Alt</key><key>Prt Scrn</key></keyseq> to take a
        screenshot of a window.</p>
      </item>
      <item>
        <p><keyseq><key>Shift</key><key>Prt Scrn</key></keyseq> to take a
        screenshot of an area you select.</p>
      </item>
    </list>

    <p>When you use a keyboard shortcut, the image is automatically saved in
    your <file>Pictures</file> folder in your home folder with a file name that
    begins with <file>Screenshot</file> and includes the date and time it was
    taken.</p>
    <note style="note">
      <p>If you do not have a <file>Pictures</file> folder, the images will be
      saved in your home folder instead.</p>
    </note>
    <p>You can also hold down <key>Ctrl</key> with any of the above shortcuts
    to copy the screenshot image to the clipboard instead of saving it.</p>
  </section>

</section>

<section id="screencast">
  <title>Make a screencast</title>

  <p>You can make a video recording of what is happening on your screen:</p>

  <steps>
    <item>
      <p>Press
      <keyseq><key>Ctrl</key><key>Alt</key><key>Shift</key><key>R</key></keyseq>
      to start recording what is on your screen.</p>
      <p>A red circle is displayed in the top right corner of the screen
      when the recording is in progress.</p>
    </item>
    <item>
      <p>Once you have finished, press
      <keyseq><key>Ctrl</key><key>Alt</key><key>Shift</key><key>R</key></keyseq>
      again to stop the recording.</p>
    </item>
    <item>
      <p>The video is automatically saved in your <file>Videos</file> folder
      in your home folder, with a file name that starts with
      <file>Screencast</file> and includes the date and time it was taken.</p>
    </item>
  </steps>

  <note style="note">
    <p>If you do not have a <file>Videos</file> folder, the videos will be
    saved in your home folder instead.</p>
  </note>

</section>

</page>
