<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="ui" version="1.0 if/1.0" id="shell-workspaces" xml:lang="pa">

  <info>
    <link type="guide" xref="shell-windows#working-with-workspaces" group="#first"/>

    <revision pkgversion="3.8.0" date="2013-04-23" status="review"/>
    <revision pkgversion="3.10.3" date="2014-01-26" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>ਗਨੋਮ ਦਸਤਾਵੇਜ਼ ਪ੍ਰੋਜੈਕਟ</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Workspaces are a way of grouping windows on your desktop.</desc>
  </info>

<title>What is a workspace, and how will it help me?</title>

    <media type="image" src="figures/shell-workspaces.png" width="162" height="434" style="floatend floatright">
        <p>Workspace selector</p>
    </media>

  <p if:test="!platform:gnome-classic">Workspaces refer to the grouping of
  windows on your desktop. You can create multiple workspaces, which act like
  virtual desktops. Workspaces are meant to reduce clutter and make the desktop
  easier to navigate.</p>

  <p if:test="platform:gnome-classic">Workspaces refer to the grouping of
  windows on your desktop. You can use multiple workspaces, which act like
  virtual desktops. Workspaces are meant to reduce clutter and make the desktop
  easier to navigate.</p>

  <p>Workspaces can be used to organize your work. For example, you could have
  all your communication windows, such as e-mail and your chat program, on one
  workspace, and the work you are doing on a different workspace. Your music
  manager could be on a third workspace.</p>

<p>Using workspaces:</p>

<list>
  <item>
    <p if:test="!platform:gnome-classic">In the
    <gui xref="shell-introduction#activities">Activities</gui> overview, move your cursor
    to the right-most side of the screen.</p>
    <p if:test="platform:gnome-classic">Press the
    <key xref="keyboard-key-super">Super</key> key to open the
    <gui>Activities</gui> overview and then move your cursor to the right-most
    side of the screen.</p>
  </item>
  <item>
    <p if:test="!platform:gnome-classic">A vertical panel will appear showing
    workspaces in use, plus an empty workspace. This is the
    workspace selector.</p>
    <p if:test="platform:gnome-classic">A vertical panel will appear showing
    available workspaces. This is the workspace selector.</p>
  </item>
  <item if:test="!platform:gnome-classic">
    <p>To add a workspace, drag and drop a window from an existing workspace
    onto the empty workspace in the workspace selector. This workspace now
    contains the window you have dropped,
    and a new empty workspace will appear below it.</p>
  </item>
  <item if:test="!platform:gnome-classic">
    <p>To remove a workspace, simply close all of its windows or move them to
    other workspaces.</p>
  </item>
</list>

<p if:test="!platform:gnome-classic">There is always at least one workspace.</p>

</page>
