<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-slowkeys" xml:lang="as">

  <info>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-09-05" status="review"/>

    <credit type="author">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>ফিল বুল</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>একাটেৰিনা গেৰাচিমভা</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>এটা কি' টিপা আৰু পৰ্দাত উপস্থিত হোৱা সেই আখৰৰ মাজত এটা বিলম্ব ৰাখক।</desc>
  </info>

  <title>লেহেম কি'সমূহ অন কৰক</title>

  <p><em>slow keys</em> অন কৰক যদি আপুনি এটা কি টিপা আৰু সেই আখৰ পৰ্দাত প্ৰদৰ্শন হোৱাৰ মাজত এটা বিলম্ব বিচাৰে। ই অৰ্থ হল আপুনি টাইপ কৰিব খোজা প্ৰতিটো কি'ক উপস্থিত হবলৈ অলপ সময় ধৰি থব লাগিব। লেহেম কি'সমূহ ব্যৱহাৰ কৰক যদি আপুনি টাইপ কৰোতে ভুলতে কেইবাটাও কি' টিপে অথবা প্ৰথমবাৰত কিবৰ্ডত সঠিক কি টিপোতে আপোনাৰ অসুবিধা হয়।</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> 
      overview and start typing <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Universal Access</gui> in the sidebar to open the panel.</p>
    </item>
    <item>
      <p>Press <gui>Typing Assist (AccessX)</gui> in the <gui>Typing</gui>
      section.</p>
    </item>
    <item>
      <p>Switch <gui>Slow Keys</gui> to <gui>ON</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <title>লেহেম কি'সমূহ দ্ৰুত অন আৰু অফ কৰক</title>
    <p>কিবৰ্ডৰ পৰা লেহেম কি'সমূহ অন অথবা অফ কৰিবলৈ <gui>কিবৰ্ড দ্বাৰা সামৰ্থবান কৰক</gui> ৰ অন্তৰ্গত, <gui>কিবৰ্ডৰ পৰা অভিগম্যতা বৈশিষ্ট্যসমূহ অন কৰক</gui> বাছক। যেতিয়া এই বিকল্প নিৰ্বাচিত থাকে, আপুনি লেহেম কি'সমূহ সামৰ্থবান অথবা অসামৰ্থবান কৰিবলৈ <key>Shift</key> কি' টিপি ৮ ছেকেণ্ড ধৰি থব লাগিব।</p>
    <p>আপুুনি ওপৰ বাৰত <link xref="a11y-icon">অভিগম্যতা আইকন</link> ক্লিক কৰি আৰু <gui>লেহেম কি'সমূহ</gui> নিৰ্বাচন কৰি লেহেম কিসমূহ অন আৰু অফ কৰিব পাৰিব। অভিগম্যতা আইকন দৃশ্যমান হয় যেতিয়া <gui>সাৰ্বভৈমক অভিগম</gui> পেনেলৰ পৰা এটা বা অধিক সংহতি সামৰ্থবান কৰা হয়।</p>
  </note>

  <p>এটা কি'ক ৰেজিস্টাৰ কৰিবলৈ কিমান দেৰি ধৰি থব লাগিব নিয়ন্ত্ৰণ কৰিবলৈ <gui>গ্ৰহণ বিলম্ব</gui> স্লাইডাৰ ব্যৱহাৰ কৰক।</p>

  <p>You can have your computer make a sound when you press a key, when a key
  press is accepted, or when a key press is rejected because you didn’t hold
  the key down long enough.</p>

</page>
