<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="accounts-add" xml:lang="as">

  <info>
    <link type="guide" xref="accounts" group="add"/>

    <revision pkgversion="3.5.5" date="2012-08-14" status="draft"/>
    <revision pkgversion="3.9.92" date="2012-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2013-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>জিম কেম্পবেল</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>একাটেৰিনা গেৰাচিমভা</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>
    <credit type="editor">
      <name>শ্বণ মেকেন্স</name>
      <email>shaunm@gnome.org</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Allow applications to access your accounts online for photos,
    contacts, calendars, and more.</desc>
</info>

  <title>এটা একাওন্ট যোগ কৰক</title>

  <p>Adding an account will help link your online accounts with your GNOME
  desktop. Thus, your email program, chat program and other related
  applications will be set up for you.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Online Accounts</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Online Accounts</gui> to open the panel.</p>
    </item>
    <item>
      <p>Select an account from the list on the right.</p>
    </item>
    <item>
      <p>Select the type of account which you want to add.</p>
    </item>
    <item>
      <p>A small website window or dialog will open where you can enter your
      online account credentials. For example, if you are setting up a Google
      account, enter your Google username and password. Some providers allow
      you to create a new account from the login dialog.</p>
    </item>
    <item>
      <p>If you have entered your credentials correctly, you will be prompted
      to allow GNOME access to your online account. Authorize access to
      continue.</p>
    </item>
    <item>
      <p>All services that are offered by an account provider will be enabled
      by default. <link xref="accounts-disable-service">Switch</link>
      individual services to <gui>OFF</gui> to disable them.</p>
    </item>
  </steps>

  <p>After you have added accounts, applications can use those accounts for
  the services you have chosen to allow. See <link xref="accounts-disable-service"/>
  for information on controlling which services to allow.</p>

  <note style="tip">
    <p>Many online services provide an authorization token which GNOME stores
    instead of your password. If you remove an account, you should also revoke
    that certificate in the online service. See <link xref="accounts-remove"/>
    for more information.</p>
  </note>

</page>
