<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="contacts-setup" xml:lang="as">

  <info>
    <link type="guide" xref="contacts" group="#first"/>

    <revision pkgversion="3.5.5" date="2012-08-13" status="draft"/>
    <revision pkgversion="3.12" date="2014-02-26" status="final"/>
    <revision pkgversion="3.13.91" date="2014-09-05" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>
    <revision pkgversion="3.22" date="2017-03-19" status="draft"/>

    <credit type="author copyright">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>
    
    <credit type="author copyright">
      <name>Paul Cutler</name>
      <email>pcutler@gnome.org</email>
      <years>2017</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>আপোনাৰ পৰিচয়সমূহ এটা স্থানীয় ঠিকনা বহী অথবা এটা অনলাইন একাওন্টত সংৰক্ষণ কৰক।</desc>
  </info>

  <title>পৰিচয়সমূহ প্ৰথমবাৰৰ বাবে আৰম্ভ কৰা</title>

  <p>When you run <app>Contacts</app> for the first time, the <gui>Select
  Address Book</gui> window opens.</p>
   
  <p>If you have <link xref="accounts">online accounts</link> configured, they
  are listed with <gui>Local Address Book</gui>. Select an item from the
  list and click <gui style="button">Done</gui>. All new contacts you create
  will be saved to the address book you choose. You are also able to view and
  edit contacts in other address books.</p>
  
  <p>If you have no online accounts configured, click
  <gui style="button">Online Accounts</gui> to begin the setup. If you do not
  wish to set up online accounts at this time, click <gui style="button">Local
  Address Book</gui>.</p>

</page>
