<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" version="1.0 if/1.0" id="sharing-media" xml:lang="as">

  <info>
    <link type="guide" xref="sharing"/>
    <link type="guide" xref="prefs-sharing"/>

    <revision pkgversion="3.10" version="0.2" date="2013-11-02" status="review"/>
    <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-13" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="review"/>

    <credit type="author">
      <name>মাইকেল হিল</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Share media on your local network using UPnP.</desc>
  </info>

  <title>আপোনাৰ সংগিত, ফ'টোসমূহ আৰু ভিডিঅ'সমূহ অংশীদাৰী কৰক</title>

  <p>আপুনি এটা <sys>UPnP</sys> অথবা <sys>DLNA</sys> সামৰ্থবান ডিভাইচ যেনে এটা ফোন, TV অথবা গেইম কনচৌল ব্যৱহাৰ কৰি আপোনাৰ কমপিউটাৰত মিডিয়া ব্ৰাউছ, সন্ধান আৰু বজাব পাৰিব। এই ডিভাইচসমূহক আপোনাৰ সংগিত, ফ'টো, আৰু ভিডিঅ'সমূহ অন্তৰ্ভুক্ত কৰা ফোল্ডাৰসমূহ অভিগম কৰাৰ অনুমতি দিবলৈ <gui>মাধ্যম অংশীদাৰী</gui> ৰ অনুমতি দিয়ক।</p>

  <note style="info package">
    <p><gui>মাধ্যম অংশীদাৰী</gui> দৃশ্যমান হবলৈ আপোনাৰ <app>Rygel</app> পেকেইজ ইনস্টল থাকিব লাগিব।</p>

    <if:choose xmlns:if="http://projectmallard.org/if/1.0/">
      <if:when test="action:install">
        <p><link action="install:rygel" style="button">Rygel ইনস্টল কৰক</link></p>
      </if:when>
    </if:choose>
  </note>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Sharing</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Sharing</gui> to open the panel.</p>
    </item>
    <item>
      <p>যদি <gui>অংশীদাৰী</gui> <gui>অফ</gui> থাকে, ইয়াক <gui>অন</gui> কৰক।</p>

      <note style="info"><p>If the text below <gui>Computer Name</gui> allows
      you to edit it, you can <link xref="sharing-displayname">change</link>
      the name your computer displays on the network.</p></note>
    </item>
    <item>
      <p><gui>মাধ্যম অংশীদাৰী</gui> বাছক।</p>
    </item>
    <item>
      <p>Switch <gui>Media Sharing</gui> to <gui>ON</gui>.</p>
    </item>
    <item>
      <p>By default, <file>Music</file>, <file>Pictures</file> and 
      <file>Videos</file> are shared. To remove one of these, click the
      <gui>×</gui> next to the folder name.</p>
    </item>
    <item>
      <p>To add another folder, click <gui style="button">+</gui> to open the
      <gui>Choose a folder</gui> window. Navigate <em>into</em> the desired
      folder and click <gui style="button">Open</gui>.</p>
    </item>
    <item>
      <p>Click <gui style="button">×</gui>. You will now be able to browse
      or play media in the folders you selected using the external device.</p>
    </item>
  </steps>

  <section id="networks">
  <title>Networks</title>

  <p>The <gui>Networks</gui> section lists the networks to which you are
  currently connected. Use the <gui>ON | OFF</gui> switch next to each to
  choose where your media can be shared.</p>

  </section>

</page>
