<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="sound-crackle" xml:lang="as">

  <info>
    <link type="guide" xref="sound-broken"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>GNOME তথ্যচিত্ৰ প্ৰকল্প</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>আপোনাৰ অডিঅ' কেবুল আৰু শব্দ কাৰ্ড ড্ৰাইভাৰসমূহ নিৰীক্ষণ কৰক।</desc>
  </info>

<title>শব্দ বাজোতে মই ফট্ফট অথবা গুঞ্জন শুনি পাওঁ</title>

  <p>যদি আপোনাৰ কমপিউটাৰ চলোতে আপুনি ফট্ফট অথবা গুঞ্জন শুনি পায়, আপোনাৰ অডিঅ' কেবুল অথবা সংযুক্তক এটা সমস্যা হব পাৰে, অথবা শব্দ কাৰ্ডৰ বাবে ড্ৰাইভাৰসমূহৰ সৈতে এটা সমস্যা হব পাৰে।</p>

<list>
 <item>
  <p>স্পিকাৰসমূহ সঠিকভাৱে প্লাগ ইন আছে নে নিৰীক্ষণ কৰক।</p>
  <p>If the speakers are not fully plugged in, or if they are plugged into the
  wrong socket, you might hear a buzzing sound.</p>
 </item>

 <item>
  <p>Make sure the speaker/headphone cable is not damaged.</p>
  <p>অডিঅ' কেবুল আৰু সংযুক্তক ব্যৱহাৰৰ সৈতে বেয়া হয়। কেবুল অথবা হেডফোনক অন্য অডিঅ' ডিভাইচ (যেনে এটা MP3 প্লেয়াৰ অথবা এটা CD প্লেয়াৰ) ত প্লাগ কৰি চাওক এতিয়া ফট্ফটনি শব্দ হৈছে নে। যদি হৈছে, আপুনি কেবুল অথবা হেডফোন প্ৰতিস্থাপন কৰিব লাগিব।</p>
 </item>

 <item>
  <p>Check if the sound drivers are not very good.</p>
  <p>Some sound cards do not work very well on Linux because they do not have very
  good drivers. This problem is more difficult to identify. Try searching for
  the make and model of your sound card on the internet, plus the search term
  “Linux”, to see if other people are having the same problem.</p>
  <p>আপোনাৰ শব্দ কাৰ্ডৰ বিষয়ে অধিক তথ্য প্ৰাপ্ত কৰিবলৈ <cmd>lspci</cmd> কমান্ড ব্যৱহাৰ কৰিব পাৰিব।</p>
 </item>
</list>

</page>
