<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="color" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="prefs"/>
    <link type="guide" xref="hardware"/>

    <credit type="author">
      <name>Richard Hughes</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="color-whyimportant">为什么这很重要</link>、<link xref="color#profiles">颜色配置文件</link>、<link xref="color#calibration">如何校准设备</link>…</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

  <title>色彩管理</title>

  <section id="profiles" style="2column">
    <title>色彩配置文件</title>
  </section>

  <section id="calibration" style="2column">
    <title>校准</title>
  </section>

  <section id="problems" style="2column">
    <title>问题</title>
  </section>

</page>
