<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="question" version="1.0 if/1.0" id="gnome-classic" xml:lang="zh-CN">

  <info>
<!--    <link type="guide" xref="shell-overview#desktop" />-->

    <revision pkgversion="3.10.1" date="2013-10-28" status="review"/>
    <revision pkgversion="3.29" date="2018-08-28" status="review"/>

    <credit type="author">
      <name>GNOME 文档项目</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Petr Kovar</name>
      <email>pknbe@volny.cz</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Consider switching to GNOME Classic if you prefer a more traditional
     desktop experience.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>What is GNOME Classic?</title>

<if:choose>
  <if:when test="!platform:gnome-classic">
  <p><em>GNOME Classic</em> is a feature for users who prefer a more traditional
  desktop experience. While <em>GNOME Classic</em> is based on <em>GNOME 3</em>
  technologies, it provides a number of changes to the user interface, such as
  the <gui>Applications</gui> and
  <gui>Places</gui> menus on the top bar, and a window
  list at the bottom of the screen.</p>
  </if:when>
  <if:when test="platform:gnome-classic">
<p><em>GNOME Classic</em> is a feature for users who prefer a more traditional
  desktop experience. While <em>GNOME Classic</em> is based on <em>GNOME 3</em>
  technologies, it provides a number of changes to the user interface, such as
  the <gui xref="shell-introduction#activities">Applications</gui> and
  <gui>Places</gui> menus on the top bar, and a window
  list at the bottom of the screen.</p>
  </if:when>
</if:choose>

<p>You can use the <gui>Applications</gui> menu on the top bar to launch
 applications. The <gui xref="shell-introduction#activities">Activities</gui>
 overview is available by selecting the <gui>Activities
 Overview</gui> item from the menu.</p>

<p>To access the <em><gui>Activities</gui> overview</em>,
 you can also press the <key xref="keyboard-key-super">Super</key> key.</p>

<section id="gnome-classic-window-list">
<title>Window list</title>

<p>The window list at the bottom of the screen provides access to all your open
 windows and applications and lets you quickly minimize and restore them.</p>

<p>At the right-hand side of the window list, GNOME displays a short
 identifier for the current workspace, such as <gui>1</gui> for the first
 (top) workspace. In addition, the identifier also displays the total number
 of available workspaces. To switch to a different workspace, you can click
 the identifier and select the workspace you want to use from the menu.</p>

<!-- <p>If an application or a system component wants to get your attention, it
 will display a blue icon at the right-hand side of the window list. Clicking
 the blue icon shows the <link xref="shell-notifications">message tray</link>,
 which lets you access all your notifications.</p> -->

</section>

<section id="gnome-classic-switch">
<title>Switch to and from GNOME Classic</title>

<note if:test="!platform:gnome-classic" style="important">
<p>GNOME Classic is only available on systems with certain GNOME Shell extensions
 installed. Some Linux distributions may not have these extensions available or
 installed by default.</p>
</note>

  <steps>
    <title>To switch from <em>GNOME</em> to <em>GNOME Classic</em>:</title>
    <item>
      <p>Save any open work, and then log out. Click the system menu on the right
      side of the top bar, click your name and then choose the right option.</p>
    </item>
    <item>
      <p>A confirmation message will appear. Select <gui>Log Out</gui> to
      confirm.</p>
    </item>
    <item>
      <p>At the login screen, select your name from the list.</p>
    </item>
    <item>
      <p>Enter your password in the password entry box.</p>
    </item>
    <item>
      <p>Click the options icon, which is displayed to the left of the <gui>Sign
      In</gui> button, and select <gui>GNOME Classic</gui>.</p>
    </item>
    <item>
      <p>Click the <gui>Sign In</gui> button.</p>
    </item>
  </steps>

  <steps>
    <title>To switch from <em>GNOME Classic</em> to <em>GNOME</em>:</title>
    <item>
      <p>Save any open work, and then log out. Click the system menu on the right
      side of the top bar, click your name and then choose the right option.</p>
    </item>
    <item>
      <p>A confirmation message will appear. Select <gui>Log Out</gui> to
      confirm.</p>
    </item>
    <item>
      <p>At the login screen, select your name from the list.</p>
    </item>
    <item>
      <p>Enter your password in the password entry box.</p>
    </item>
    <item>
      <p>Click the options icon, which is displayed to the left of the <gui>Sign
      In</gui> button, and select <gui>GNOME</gui>.</p>
    </item>
    <item>
      <p>Click the <gui>Sign In</gui> button.</p>
    </item>
  </steps>
  
</section>

</page>
