<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task a11y" id="a11y-slowkeys" xml:lang="he">

  <info>
    <link type="guide" xref="a11y#mobility" group="keyboard"/>
    <link type="guide" xref="keyboard" group="a11y"/>

    <revision pkgversion="3.8.0" date="2013-03-13" status="candidate"/>
    <revision pkgversion="3.9.92" date="2013-09-18" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>
    <revision pkgversion="3.29" date="2018-09-05" status="review"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Have a delay between a key being pressed and that letter appearing on
    the screen.</desc>
  </info>

  <title>Turn on slow keys</title>

  <p>Turn on <em>slow keys</em> if you would like there to be a delay between
  pressing a key and that letter being displayed on the screen. This means that
  you have to hold down each key you want to type for a little while before it
  appears. Use slow keys if you accidentally press several keys at a time when
  you type, or if you find it difficult to press the right key on the keyboard
  first time.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> 
      overview and start typing <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click <gui>Universal Access</gui> in the sidebar to open the panel.</p>
    </item>
    <item>
      <p>Press <gui>Typing Assist (AccessX)</gui> in the <gui>Typing</gui>
      section.</p>
    </item>
    <item>
      <p>Switch <gui>Slow Keys</gui> to <gui>ON</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <title>Quickly turn slow keys on and off</title>
    <p>Under <gui>Enable by Keyboard</gui>, select
    <gui>Turn on accessibility features from the keyboard</gui> to
    turn slow keys on and off from the keyboard. When this option is selected,
    you can press and hold <key>Shift</key> for eight seconds to enable or
    disable slow keys.</p>
    <p>You can also turn slow keys on and off by clicking the
    <link xref="a11y-icon">accessibility icon</link> on the top bar and
    selecting <gui>Slow Keys</gui>. The accessibility icon is visible when
    one or more settings have been enabled from the <gui>Universal Access</gui>
    panel.</p>
  </note>

  <p>Use the <gui>Acceptance delay</gui> slider to control how long you have to
  hold a key down for it to register.</p>

  <p>You can have your computer make a sound when you press a key, when a key
  press is accepted, or when a key press is rejected because you didn’t hold
  the key down long enough.</p>

</page>
