<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="sound-alert" xml:lang="he">

  <info>
    <link type="guide" xref="media#sound"/>

    <revision pkgversion="3.7.1" version="0.2" date="2012-11-16" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-01" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Michael Hill</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Choose the sound to play for messages, set the alert volume, or
    disable alert sounds.</desc>
  </info>

  <title>Choose or disable the alert sound</title>

  <p>Your computer will play a simple alert sound for certain types of messages
  and events. You can choose different sound clips for alerts, set the alert
  volume independently of your system volume, or disable alert sounds
  entirely.</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Sound</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Sound</gui> to open the panel.</p>
    </item>
    <item>
      <p>In the <gui>Sound Effects</gui> tab, select an alert sound. Each sound
      will play when you click on it so you can hear how it sounds.</p>
    </item>
  </steps>

  <p>Use the volume slider in the <gui>Sound Effects</gui> tab to set the
  volume of the alert sound. This will not affect the volume of your music,
  movies, or other sound files.</p>

  <p>To disable alert sounds entirely, switch the <gui>Alert volume</gui> to
  <gui>OFF</gui>.</p>

</page>
