<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" style="task" id="wacom" xml:lang="ru">

<info>
  <desc>
      <link xref="wacom-multi-monitor">Map a monitor</link>,
      <link xref="wacom-stylus">configure the stylus</link>,
      <link xref="wacom-left-handed">use the tablet left handed</link>…
  </desc>

  <link type="guide" xref="prefs"/>

  <revision pkgversion="3.10" date="2013-11-02" status="review"/>
  <revision pkgversion="3.12" date="2014-03-23" status="candidate"/>
  <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
  <revision pkgversion="3.18" date="2015-09-28" status="final"/>

  <credit type="author">
    <name>Майкл Хилл (Michael Hill)</name>
    <email>mdhillca@gmail.com</email>
  </credit>

  <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>


    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Александр Прокудин</mal:name>
      <mal:email>alexandre.prokoudine@gmail.com</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Алексей Кабанов</mal:name>
      <mal:email>ak099@mail.ru</mal:email>
      <mal:years>2011-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Станислав Соловей</mal:name>
      <mal:email>whats_up@tut.by</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юлия Дронова</mal:name>
      <mal:email>juliette.tux@gmail.com</mal:email>
      <mal:years>2013-2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>ymyasoedov@yandex.ru</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

<title>Графический планшет Wacom</title>

</page>
