<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="hardware" xml:lang="it">
  <info>

    <link type="guide" xref="index" group="hardware"/>

    <credit type="author">
      <name>Shaun McCance</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <title type="link" role="trail">Hardware</title>

    <desc>
      <link xref="hardware#problems">Hardware problems</link>,
      <link xref="printing">printers</link>,
      <link xref="power">power settings</link>,
      <link xref="color">color management</link>,
      <link xref="bluetooth">Bluetooth</link>,
      <link xref="disk">disks</link>…
    </desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Luca Ferretti</mal:name>
      <mal:email>lferrett@gnome.org</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Flavia Weisghizzi</mal:name>
      <mal:email>flavia.weisghizzi@ubuntu.com</mal:email>
      <mal:years>2011, 2012</mal:years>
    </mal:credit>
  </info>

<title>Hardware e driver</title>

<links type="topic" style="toronto"/>

<links type="topic" style="linklist" groups="more">
  <title>Ulteriori argomenti</title>
</links>

<section id="problems" style="2column">
  <info>
    <title type="link" role="trail">Problemi</title>
    <title type="link">Problemi hardware</title>
  </info>
 <title>Problemi comuni</title>
 <links type="topic" style="linklist"/>
</section>

</page>
