<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="bluetooth-visibility" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="bluetooth" group="#last"/>

    <revision pkgversion="3.4" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-09" status="review"/>
    <revision pkgversion="3.12" date="2014-03-04" status="candidate"/>
    <revision pkgversion="3.14" date="2014-10-12" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Šon Mek Kens</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Majkl Hil</name>
      <email>mdhillca@gmail.com</email>
      <years>2014</years>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
      <years>2014</years>
    </credit>
    <credit type="editor">
      <name>Dejvid King</name>
      <email>amigadave@amigadave.com</email>
      <years>2015</years>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Da li drugi uređaji mogu da otkriju vaš računar.</desc>
  </info>

  <title>Šta je vidljivost blututa?</title>

  <p>Vidljivost blututa se odnosi na to da li ostali uređaji mogu da otkriju vaš računar kada vrše pretragu za blutut uređajima. Kada je blutut uključen i kada je otvoren panel <gui>blututa</gui>, vaš računar će sam sebe upozoriti o svim ostalim uređajima u dometu, dozvoljavajući im da pokušaju da se povežu sa vašim računarom.</p>

  <note style="tip">
    <p>Možete da <link xref="sharing-displayname">izmenite</link> naziv pod kojim se vaš računar prikazuje drugim uređajima.</p>
  </note>

  <p>Nakon što ste se <link xref="bluetooth-connect-device">povezali na uređaj</link>, ni vaš računar ni uređaj ne moraju biti vidljivi da bi međusobno komunicirali.</p>

</page>
