<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-calibrate-camera" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-calibrationtargets"/>
    <link type="seealso" xref="color-calibrate-printer"/>
    <link type="seealso" xref="color-calibrate-scanner"/>
    <link type="seealso" xref="color-calibrate-screen"/>
    <desc>Kalibracija foto-aparata je važna zarad snimanja ispravnih boja.</desc>

    <credit type="author">
      <name>Ričards Hjudžiz</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Kako da kalibrišem moj foto-aparat?</title>

  <p>Foto-aparati se kalibrišu snimanjem ciljne fotografije pod željenim uslovima osvetljenja. Pretvaranje RAV datoteke u TIFF datoteku, može biti korišćeno za kalibraciju foto-aparata u panelu za upravljanje bojom.</p>
  <p>Moraćete da odsečete TIFF datoteku tako da samo meta bude vidljiva. Uverite se da su bele i crne ivice još uvek vidljive. Kalibracija neće raditi ako je slika izvrnuta ili izobličena većim delom.</p>

  <note style="tip">
    <p>Rezultirajući profil je jedino ispravan pod uslovima osvetljenja pod kojima ste napravili izvornu sliku. Ovo znači da ćete morati da profilišete nekoliko puta uslove osvetljenja za <em>studio</em>, <em>sunčani dan</em> i <em>oblačno vreme</em>.</p>
  </note>

</page>
