<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-templates" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="files#faq"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-28" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Anita Rajter</name>
      <email>nitalynx@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Majkl Hil</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Dejvid King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Brzo napravite nove dokumente iz proizvoljnog šablona datoteke.</desc>
  </info>

  <title>Šabloni za opšte korišćene vrste dokumenata</title>

  <p>Ako često stvarate dokumente zasnovane na sličnom sadržaju, možete da koristite šablone datoteka. Šablon datoteke može da bude dokument bilo koje vrste sa formatiranjem sadržaja koji biste želeli da ponovo koristite. Na primer, možete da napravite dokument šablon sa vašim zaglavljem.</p>

  <steps>
    <title>Napravite novi šablon</title>
    <item>
      <p>Napravite dokument koji ćete da koristite kao šablon. Na primer, možete da napravite vaše zaglavlje u programu za obradu teksta.</p>
    </item>
    <item>
      <p>Sačuvajte datoteku sa sadržajem šablona u fascikli <file>Šabloni</file> u vašoj <file>Ličnoj</file> fascikli. Ako fascikla <file>Šabloni </file> ne postoji, moraćete prvo da je napravite.</p>
    </item>
  </steps>

  <steps>
    <title>Koristite šablon da napravite dokument</title>
    <item>
      <p>Otvorite fasciklu u kojoj želite da postavite novi dokument.</p>
    </item>
    <item>
      <p>Kliknite desnim tasterom miša bilo gde na praznom prostoru u fascikli, zatim izaberite <gui style="menuitem">Novi dokument</gui>. Nazivi dostupnih šablona će biti navedeni u podizborniku.</p>
    </item>
    <item>
      <p>Izaberite vaš željeni šablon sa spiska.</p>
    </item>
    <item>
      <p>Dva puta kliknite na datoteku da je otvorite i da počnete da je uređujete. Možete poželeti da <link xref="files-rename">preimenujete datoteku</link> kada završite.</p>
    </item>
  </steps>

</page>
