<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:if="http://projectmallard.org/if/1.0/" type="topic" style="task" version="1.0 if/1.0" id="files-preview" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="files#common-file-tasks"/>
    <link type="seealso" xref="nautilus-preview"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-06" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="candidate"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <credit type="author">
      <name>Šon Mek Kens</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Dejvid King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Na brzinu prikažite i sakrijte preglede dokumenata, slika, video zapisa, i ostalog.</desc>
  </info>

<title>Pogledajte datoteke i fascikle</title>

<note if:test="platform:ubuntu" style="important">
  <p>Treba da ste instalirali program <app>Suši</app> na vašem računaru da biste mogli da odradite ove korake.</p>
  <p its:locNote="Translators: This button is only shown on Ubuntu, where this   link format is preferred over 'install:gnome-sushi'."><link style="button" href="apt:gnome-sushi">Instalirajte <app>Suši</app></link></p>
</note>

<p>Možete brzo da pregledate datoteke bez otvaranja u programu za tu namenu. Izaberite bilo koju datoteku i pritisnite razmaknicu. Datoteka će se otvoriti u jednostavnom prozoru pregleda. Ponovo pritisnite razmaknicu da odbacite pregled.</p>

<p>Ugrađeni pregled podržava većinu formata datoteka za dokumente, slike, snimke, i zvuk. U pregledu, možete da prelistavate dokumente ili da premotavate vaše snimke i zvuk.</p>

<p>Da prikažete pregled preko celog ekrana, pritisnite taster <key>F</key> ili <key>F11</key>. Pritisnite taster <key>F</key> ili <key>F11</key> da napustite prikaz preko celog ekrana, ili pritisnite razmaknicu da zatvorite pregled.</p>

</page>
