<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-email-virus" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="net-email"/>
    <link type="guide" xref="net-security"/>
    <link type="seealso" xref="net-antivirus"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Fil Bul</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Malo je verovatno da će virusi da zaraze vaš računar, ali bi mogli da zaraze računare onih ljudi kojima šaljete e-poštu.</desc>
  </info>

  <title>Da li trebam da pregledam moju poštu za virusima?</title>

  <p>Virusi su programi koji stvaraju probleme ako uspeju da pronađu svoj put od vašeg računara. Uobičajeni način da ih dobijete na vašem računaru je preko poruka e-pošte.</p>

  <p>Virusi koji mogu da zaraze računare na kojima radi Linuks su vrlo retki, tako da je <link xref="net-antivirus">malo verovatno da ćete zaraditi virus preko e-pošte ili drugačije</link>. Ako primite e-poštu na kojoj je skriven virus, verovatno da neće imati nikakvog uticaja na vaš računar. I zato, verovatno nećete morati da pregledate vašu e-poštu za virusima.</p>

  <p>Možete, međutim, poželeti da pregledate vašu e-poštu za virusima u slučaju da se desi da prosledite virus od jedne osobe do druge. Na primer, ako neki vaš prijatelj ima Vindouz računar sa virusom i pošalje vam virusom zaraženu e-poštu, i vi nakon toga prosledite tu poruku nekom drugom prijatelju sa Vindouz računarom, onda će možda drugi prijatelj takođe da zaradi virus. Možete da instalirate antivirus program da pregledate vašu e-poštu da biste sprečili ovo, ali je malo verovatno da će do ovoga doći i većina ljudi koji koriste Vindouz i Mek OS imaju svoje antiviruse.</p>

</page>
