<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task 2column" id="net-wireless" xml:lang="sr-Latn">

  <info>
    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" version="0.2" date="2013-11-11" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <link type="guide" xref="net" group="#first"/>
    <link type="seealso" xref="net-general"/>
    <link type="seealso" xref="net-problem"/>

    <desc><link xref="net-wireless-connect">Povezivanje na bežičnu</link>, <link xref="net-wireless-hidden">Skrivene mreže</link>, <link xref="net-wireless-disconnecting">Prekidanje veze</link>…</desc>

    <credit type="author">
      <name>Tim Ubuntu dokumentacije</name>
    </credit>
    <credit type="editor">
      <name>Majkl Hil</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

  </info>

<title>Bežično umrežavanje</title>

</page>
