<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="problem" id="session-screenlocks" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="prefs-display"/>
    <link type="guide" xref="hardware-problems-graphics"/>

    <revision pkgversion="3.8" version="0.3" date="2013-03-09" status="candidate"/>
    <revision pkgversion="3.10" date="2013-11-03" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>
    <revision pkgversion="3.28" date="2018-07-19" status="review"/>

    <credit type="author">
      <name>Gnomov projekat dokumentacije</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Majkl Hil</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Izmenite nakon kog vremena će se zaključati ekran u podešavanjima <gui>Privatnosti</gui>.</desc>
  </info>

  <title>Ekran se previše brzo zaključava</title>

  <p>Ako ostavite vaš računar na nekoliko minuta, ekran će se sam zaključati tako da ćete morati da unesete lozinku da biste počeli ponovo da ga koristite. Ovo se radi iz bezbednosnih razloga (tako da niko ne može da poremeti vaš rad ako ostavite računar bez nadzora), ali može biti zamarajuće ako se ekran prebrzo zaključava.</p>

  <p>Da bi se ekran zaključavao nakon dužeg vremena:</p>

  <steps>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Settings</gui>.</p>
    </item>
    <item>
      <p>Click on <gui>Privacy</gui> in the sidebar to open the panel.</p>
    </item>
    <item>
      <p>Pritisnite <gui>Zaključaj ekran</gui>.</p>
    </item>
    <item>
      <p>Ako je uključeno <gui>Sam zaključaj ekran</gui>, možete da izmenite vrednost u padajućem spisku <gui>Zaključaj ekran nakon mirovanja od</gui>.</p>
    </item>
  </steps>

  <note style="tip">
    <p>Ako ne želite da se ekran sam zaključava, prebacite <gui>Sam zaključaj ekran</gui> na <gui>ISKLJ.</gui>.</p>
  </note>

</page>
