<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-canshareprofiles" xml:lang="sr">

  <info>
    <link type="guide" xref="color#calibration"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <desc>Дељење профила боје никада није добра замисао јер се хардвер мења након времена.</desc>

    <credit type="author">
      <name>Ричардс Хјуџиз</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Да ли могу да делим мој профил боје?</title>

  <p>Профиле боје које сте ви сами направили су посебни за хардвер и услове осветљења за које сте и калибрисали. Екран који је био под напајањем неколико стотина сати ће имати врло другачији профил боје него сличан екран са следећим серијским бројем који је био осветљен стотину сати.</p>
  <p>Ово значи да ако делите ваш профил боје са неким, <em>приближићете</em> га калибрацији, али је незахвално рећи да је њихов екран калибрисан.</p>
  <p>Слично, осим ако су сви препоручили управљано осветљење (без сунчеве светлости кроз прозоре, црних зидова, сијалица дневног светла итд.) у просторији у којој се одиграва прегледање и уређивање слика, дељење профила који сте направили у вашим личним посебним условима осветљења нема много смисла.</p>

  <note style="warning">
    <p>Брижљиво бисте требали да проверите услове расподељивања за профиле преузете са веб сајтова продаваца или оних који су направљени у вашем интересу.</p>
  </note>

</page>
