<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="color-why-calibrate" xml:lang="sr">

  <info>
    <link type="guide" xref="color#calibration"/>
    <desc>Калибрација је важна ако бринете о бојама које приказујете или штампате.</desc>

    <credit type="author">
      <name>Ричардс Хјуџиз</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Зашто ја сам морам да урадим калибрацију?</title>

  <p>Општи профили су углавном лоши. Када произвођачи направе нови модел, узму само неколико узорака из производне линије и направе њихов заједнички просек:</p>

  <media its:translate="no" type="image" src="figures/color-average.png">
    <p its:translate="yes">Процењени профили</p>
  </media>

  <p>Панели екрана се разликују поприлично један од другог и битно се мењају са годинама екрана. Такође је много теже за штампаче, јер само промена врсте или тежине папира може да поништи стање карактеризације и да профил учини нетачним.</p>

  <p>Најбољи начин да се осигурате да је профил који имате тачан јесте тај да сами урадите калибрацију, или да вам спољна фирма достави профил на основу вашег тачног стања карактеризације.</p>

</page>
