<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="color-gettingprofiles" xml:lang="sr">

  <info>
    <link type="guide" xref="color#profiles"/>
    <link type="seealso" xref="color-why-calibrate"/>
    <link type="seealso" xref="color-whatisprofile"/>
    <link type="seealso" xref="color-missingvcgt"/>
    <desc>Профиле боје достављају продавци а и ви сами их можете направити.</desc>

    <credit type="author">
      <name>Ричардс Хјуџиз</name>
      <email>richard@hughsie.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Где могу да набавим профиле боја?</title>

  <p>Најбољи начин да набавите профиле је да их сами направите, иако ово не захтева неко предзнање.</p>
  <p>Многи произвођачи покушавају да обезбеде профиле боје за уређаје, мада су понекад упаковани у <em>свежњу управљачких програма</em> који ћете морати да преузмете, распакујете и након тога да потражите профиле боје.</p>
  <p>Неки произвођачи не пружају прецизне профиле за хардвер и профили се увелико избегавају. Добар кључ је да преузмете профил, и ако је датум стварања већи за годину дана од датума када сте купили уређај онда је вероватно да су створени лажни подаци бескорисни.</p>

  <p>Погледајте <link xref="color-why-calibrate"/> за информације о томе зашто су профили које достављају продавци често веома бескорисни.</p>

</page>
