<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-removedrive" xml:lang="sr">

  <info>
    <link type="guide" xref="files#removable"/>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Џим Кембел</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
      <years>2012</years>
    </credit>

    <revision pkgversion="3.6.0" version="0.2" date="2012-10-08" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="final"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Избаците или демонтирајте УСБ флеш диск, ЦД, ДВД или други уређај.</desc>
  </info>

  <title>Безбедно уклоните спољни уређај</title>

  <p>Када користите спољне уређаје за складиштење као што су УСБ флеш дискови, требате безбедно да их уклоните пре него што их искључите. Ако само искључите уређај, ризикујете да га искључите док га неки програм још увек користи. Ово може довести до тога да неке од ваших датотека буду изгубљене или оштећене. Када користите оптички диск као што је ЦД или ДВД, можете да користите исте кораке да избаците диск из рачунара.</p>

  <steps>
    <title>Да избаците уклоњиви уређај:</title>
    <item>
      <p>Из прегледа <gui xref="shell-introduction#activities">активности</gui>, отворите програм <app>Датотеке</app>.</p>
    </item>
    <item>
      <p>Пронађите уређај у бочној површи. Поред његовог назива треба да се налази мала иконица за избацивање. Кликните на ову иконицу да безбедно уклоните или избаците уређај.</p>
      <p>Другачије, можете да кликнете десним тастером миша на назив уређаја у бочној површи и да изаберете <gui>Избаци</gui>.</p>
    </item>
  </steps>

  <section id="remove-busy-device">
    <title>Безбедно уклоните уређај који је у употреби</title>

  <p>Ако су неке датотеке на уређају отворене и у употреби у неком програму, нећете бити у могућности да безбедно уклоните уређај. Биће вам приказано прозорче у коме ће бити обавештење <gui>Уређај је заузет</gui>. Да безбедно уклоните уређај:</p>

  <steps>
    <item><p>Кликните <gui>Откажи</gui>.</p></item>
    <item><p>Затворите све датотеке на уређају.</p></item>
    <item><p>Кликните на иконицу за избацивање да безбедно уклоните или избаците уређај.</p></item>
    <item><p>Другачије, можете да кликнете десним тастером миша на назив уређаја у бочној површи и да изаберете <gui>Избаци</gui>.</p></item>
  </steps>

  <note style="warning"><p>Можете такође да изаберете <gui>Ипак избаци</gui> да уклоните уређај без затварања датотека. Ово може да проузрокује грешке у програмима у којима су отворене ове датотеке.</p></note>

  </section>

</page>
