<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="tip 2column" id="more-help" xml:lang="sr">
  <info>
    <link type="guide" xref="index" group="more-help"/>


    <credit type="author">
      <name>Тифани Антополоски</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <credit type="author">
      <name>Џим Кембел</name>
      <email>jwcampbell@gmail.com</email>
    </credit>

    <desc><link xref="about-this-guide">Савети за коришћење овог водича</link>, <link xref="get-involved">помозите побољшању овог водича</link>, <link xref="help-mailing-list">дописна листа</link>, <link xref="help-irc">ИРЦ</link></desc>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

  <title>Нађите још помоћи</title>
  <p>

  </p>

</page>
