<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="question" id="net-what-is-ip-address" xml:lang="sr">

  <info>
    <link type="guide" xref="net-general"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="final"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Џим Кембел</name>
      <email>jwcampbell@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>
    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>ИП адреса је као телефонски број за ваш рачунар.</desc>
  </info>

  <title>Шта је то ИП адреса?</title>

  <p>„ИП адреса“ значи <em>Адреса интернет протокола</em>, и сваки уређај који је повезан на мрежу (као што је интернет) има једну.</p>

  <p>ИП адреса је слична вашем телефонском броју. Ваш телефонски број је јединствени скуп бројева који одређује ваш телефон тако да вас други људи могу звати. Слично овоме, ИП адреса је јединствени скуп бројева који одређују ваш рачунар тако да може да шаље и да прима податке са других рачунара.</p>

  <p>Тренутно, већина ИП адреса се састоји од четири скупа бројева, раздвојених тачкама. <code>192.168.1.42</code> је један пример ИП адресе.</p>

  <note style="tip">
    <p>ИП адреса може бити или <em>динамичка</em> или <em>статичка</em>. Динамичке ИП адресе се привремено додељују сваки пут када се ваш рачунар повеже на мрежу. Статичке ИП адресе су сталне, и не мењају се. Динамичке ИП адресе су општије од статичких адреса — статичке адресе се углавном користе само тамо где постоји нарочита потреба за њима, као што је администрација сервера.</p>
  </note>

</page>
