<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="net-wireless-adhoc" xml:lang="sr">

  <info>
    <link type="guide" xref="net-wireless"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.10" date="2013-11-10" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>Мајкл Хил</name>
      <email>mdhillca@gmail.com</email>
    </credit>

    <desc>Користите ад-хок мрежу да дозволите другим уређајима да се повежу на ваш рачунар и на његове мрежне везе.</desc>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Направите бежичну врућу тачку</title>

  <p>Можете да користите ваш рачунар као бежичну врућу тачку. Ово ће допустити другим уређајима да се повежу с вама без одвојене мреже, и дозволиће вам да делите интернет везу коју сте направили са неким другим уређајем, као што је жичана мрежа или мрежа мобилног телефона.</p>

<steps>
  <item>
    <p>Отворите <gui xref="shell-introduction#yourname">изборник система</gui> на десној страни горње траке.</p>
  </item>
  <item>
    <p>Изаберите <gui><media its:translate="no" type="image" mime="image/svg" src="figures/network-wireless-signal-excellent-symbolic.svg" width="16" height="16"/> Бежична везе није успостављена</gui> или назив бежичне мреже на коју сте већ повезани. Одељак изборника бежичне везе ће се раширити.</p>
  </item>
  <item>
    <p>Притисните на <gui>Подешавања бежичне</gui>.</p></item>
  <item><p>Кликните на дугме <gui>Користи као врућу тачку…</gui>.</p></item>
  <item><p>Ако сте већ повезани на бежичну мрежу, бићете упитани дали желите да прекинете везу са том мрежом. Један бежични прилагођивач може да се повеже или да направи само једну мрежу у исто време. Кликните <gui>Укључи</gui> да потврдите.</p></item>
</steps>

<p>Назив мреже (ССИД) и кључ безбедности бивају створени самостално. Назив мреже ће бити заснован на називу вашег рачунара. Осталим уређајима ће бити потребни ови подаци да би се повезали на врућу тачку коју сте управо направили.</p>

</page>
