<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="problem" id="power-suspendfail" xml:lang="sr">

  <info>
    <link type="guide" xref="power#problems"/>
    <link type="guide" xref="hardware-problems-graphics"/>
    <link type="seealso" xref="hardware-driver"/>

    <revision pkgversion="3.4.0" date="2012-02-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-28" status="final"/>

    <desc>Неке компоненте рачунара стварају проблеме приликом обуставе.</desc>

    <credit type="author">
      <name>Гномов пројекат документације</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Екатерина Герасимова</name>
      <email>kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
  </info>

<title>Зашто мој рачунар неће да се поврати након што сам га успавао?</title>

<p>Ако <link xref="power-suspend">обуставите</link> рад рачунара, и затим покушате да га повратите, можете увидети да не ради онако како сте очекивали. Ово може бити зато што ваше компоненте не подржавају исправно успављивање.</p>

<section id="resume">
  <title>Мој рачунар је обустављен и неће да се поврати</title>
  <p>Ако обуставите ваш рачунар и након тога притиснете тастер или кликнете мишем, требао би да се пробуди и да прикаже екран на коме тражи вашу лозинку. Ако се ово не догоди, покушајте да притиснете дугме за напајање (немојте га држати, само га притисните једном).</p>
  <p>Ако и ово не помогне, уверите се да је монитор вашег рачунара упаљен и покушајте још једном да притиснете тастер на тастатури.</p>
  <p>Као последње средство, угасите рачунар притиском на дугме за напајање 5-10 секунди. Изгубићете сав несачувани рад на овај начин. Тада ћете бити у могућности да поново укључите рачунар.</p>
  <p>Ако се ово дешава сваки пут када обуставите рачунар, функција обустављања не ради са вашим компонентама.</p>
  <note style="warning">
    <p>Ако ваш рачунар остане без напајања, а нема резервни извор напајања (као што је радна батерија), угасиће се.</p>
  </note>
</section>

<section id="hardware">
  <title>Моја бежична веза (или друга компонента) не ради када пробудим рачунар</title>
  <p>Ако обуставите рад рачунара и након тога га повратите, можда ћете увидети да ваша интернет веза, миш, или неки други уређај не ради исправно. Ово може бити зато што управљачки програм за уређај не подржава правилно обустављање. То је <link xref="hardware-driver">проблем са управљачким програмом</link> а не са самим уређајем.</p>
  <p>Ако уређај има прекидач, покушајте да га угасите, и да га затим поново упалите. У већини случајева, уређај ће почети да ради поново. Ако се повезује преко УСБ кабла или слично, искључите уређај и поново га прикључите и видите да ли ради.</p>
  <p>Ако не можете да угасите или да искључите уређај, или ако ово не ради, можда ћете морати поново да покренете рачунар да би уређај поново почео да ради.</p>
</section>

</page>
