<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" style="task" id="printing" xml:lang="sr">

  <info>
    <link type="guide" xref="hardware"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="candidate"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="candidate"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc><link xref="printing-setup">Локално подешавање</link>, <link xref="printing-order">поредак и слагање</link>, <link xref="printing-2sided">двостране и више страница</link>…</desc>
  </info>

<title>Штампање</title>

<section id="setup" style="2column">
  <info>
    <title type="link" role="trail">Подешавање</title>
  </info>
  <title>Подесите штампач</title>
</section>

<section id="paper" style="2column">
  <info>
    <title type="link" role="trail">Величине и распореди</title>
  </info>
  <title>Различите величине папира и распореди</title>
</section>

<section id="problems" style="2column">
  <info>
    <link type="guide" xref="hardware#problems"/>
    <desc>Неоткривени штампачи, гужвање папира, резултати штампања који изгледају лоше…</desc>
  </info>
  <title>Проблеми са штампањем</title>
</section>

</page>
