<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="sound-volume" xml:lang="sr">

  <info>
    <link type="guide" xref="media#sound"/>

    <revision pkgversion="3.4.0" date="2012-02-19" status="outdated"/>
    <revision pkgversion="3.13.92" date="2014-09-20" status="review"/>
    <revision pkgversion="3.18" date="2015-09-30" status="final"/>

    <credit type="author">
      <name>Фил Бул</name>
      <email>philbull@gmail.com</email>
    </credit>

    <credit type="author">
      <name>Шон Мек Кенс</name>
      <email>shaunm@gnome.org</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Подесите јачину звука на рачунару и одредите гласност сваког програма.</desc>
  </info>

<title>Измените јачину звука</title>

  <p>Да измените јачину звука, отворите <gui xref="shell-introduction#yourname">системски изборник</gui> на десној страни горње траке и померајте клизач јачине звука лево или десно. Можете у потпуности да искључите звук тако што ћете превући клизач на леву страну.</p>

  <p>Неке тастатуре имају тастере који вам омогућавају да управљате јачином звука. Ови тастери обично изгледају као звучници из којих излазе звучни таласи. Често се налазе близу тастера „Ф“ на врху. На тастатурама преносних рачунара, обично се налазе на „Ф“ тастерима. Држите притиснутим тастер <key>Fn</key> на тастатури да их користите.</p>

  <p>Ако имате спољне звучнике, можете да промените јачину звучника користећи дугме за појачавање које се налази звучницима. Неке слушалице такође имају дугме за подешавање јачине звука.</p>

<section id="apps">
 <title>Измените јачину звука за појединачне програме</title>

  <p>Можете да измените јачину звука неког програма и да оставите неизмењеном јачину звука за друге програме. Ово је корисно ако слушате музику и разгледате веб, на пример. Можете да искључите звук у веб прегледнику тако да звуци са веб сајтова не ометају музику.</p>

  <p>Неки програми имају дугмад за управљање звуком у својим главним прозорима. Ако их ваш програм има, користите их да промените јачину звука. Ако не:</p>

    <steps>
    <item>
      <p>Отворите преглед <gui xref="shell-introduction#activities">Активности</gui> и почните да куцате <gui>Звук</gui>.</p>
    </item>
    <item>
      <p>Кликните на <gui>Звук</gui> да отворите панел.</p>
    </item>
    <item>
      <p>Идите на језичак <gui>Програми</gui> и измените јачину звука програма који су ту наведени.</p>

  <note style="tip">
    <p>Само програми који тренутно пуштају звук биће на списку. Ако неки програм који тренутно пушта звук није на списку, можда не подржава функцију која вам допушта да управљате јачином звука на овај начин. У том случају, нећете моћи да промените његову јачину звука.</p>
  </note>
    </item>

  </steps>

</section>

</page>
