<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="files-recover" xml:lang="kn">

  <info>
    <link type="guide" xref="files#more-file-tasks"/>
    <link type="seealso" xref="files-lost"/>

    <revision pkgversion="3.6.0" version="0.2" date="2012-09-28" status="review"/>
    <revision pkgversion="3.13.92" date="2014-09-22" status="review"/>
    <revision pkgversion="3.18" date="2015-09-29" status="review"/>

    <credit type="author">
      <name>GNOME Documentation Project</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="editor">
      <name>David King</name>
      <email>amigadave@amigadave.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Deleted files are normally sent to the Trash, but can be
    recovered.</desc>
  </info>

  <title>Recover a file from the Trash</title>

  <p>If you delete a file with the file manager, the file is normally placed
  into the <gui>Trash</gui>, and should be able to be restored.</p>

  <steps>
    <title>To restore a file from the Trash:</title>
    <item>
      <p>Open the <gui xref="shell-introduction#activities">Activities</gui> overview and
      start typing <app>Files</app>.</p>
    </item>
    <item>
      <p>Click on <app>Files</app> to open the file manager.</p>
    </item>
    <item>
      <p>Click <gui>Trash</gui> in the sidebar. If you do not see the sidebar,
      click <gui>Files</gui> in the top bar and pick <gui>Sidebar</gui>.</p>
    </item>
    <item>
      <p>If your deleted file is there, click on it and select
      <gui>Restore</gui>. It will be restored to the folder from where it was
      deleted.</p>
    </item>
  </steps>

  <p>If you deleted the file by pressing <keyseq><key>Shift</key><key>Delete
  </key></keyseq>, or by using the command line, the file has been permanently
  deleted. Files that have been permanently deleted can’t be recovered from the
  <gui>Trash</gui>.</p>

  <p>There are a number of recovery tools available that are sometimes able to
  recover files that were permanently deleted. These tools are generally not
  very easy to use, however. If you accidentally permanently deleted a file,
  it’s probably best to ask for advice on a support forum to see if you can
  recover it.</p>

</page>
